.stack-icon {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.array-manager {
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
}
.jobhuntly {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 120px;
}
.logic-gate,
.logo-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-2 {
  flex: 1;
  gap: var(--gap-5xs);
}
.logic-gate {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
}
.indicator-icon {
  width: 4px;
  height: 32px;
  position: relative;
}
.filter {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.caption,
.icon {
  position: relative;
}
.icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption {
  flex: 1;
  line-height: 160%;
  font-weight: 500;
}
.menu2,
.sidebar-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu2 {
  height: 48px;
  flex: 1;
  background-color: var(--brands-tertiary);
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.sidebar-menu {
  align-self: stretch;
  padding: 0 var(--padding-base) 0 0;
  gap: var(--gap-xs);
  color: var(--brands-primary);
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption1 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.variable {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.container {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  background-color: var(--brands-primary);
}
.divider {
  height: 16px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 6px;
  white-space: nowrap;
  z-index: 1;
}
.divider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  margin-left: -15px;
}
.badge,
.sidebar-menu1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge {
  align-items: flex-end;
  padding: 0 var(--padding-4xs) 0 0;
  font-size: var(--body-small-semibold-size);
  color: var(--color-white);
  font-family: var(--body-normal-medium);
}
.sidebar-menu1 {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.vector-stroke-icon {
  position: absolute;
  height: 83.33%;
  width: 66.67%;
  top: 8.33%;
  right: 16.67%;
  bottom: 8.33%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.output,
.output1 {
  position: absolute;
  height: 8.33%;
  width: 33.33%;
  top: 45.83%;
  right: 33.33%;
  bottom: 45.83%;
  left: 33.33%;
  border-radius: var(--br-xl);
  background-color: var(--neutrals-60);
  z-index: 1;
}
.output1 {
  top: 62.5%;
  bottom: 29.17%;
}
.icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.caption2 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.caption3 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption4 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption5 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.inverter,
.menu1,
.sidebar-menu5 {
  align-self: stretch;
}
.menu1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inverter {
  height: 1px;
  position: relative;
  background-color: var(--brands-secondary);
}
.settings1 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 75px;
}
.calculator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 31px;
}
.icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption6 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu6 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption7 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.menu3,
.settings,
.sidebar-menu7 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.sidebar-menu7 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.menu3,
.settings {
  flex-direction: column;
  align-items: flex-start;
}
.menu3 {
  flex: 1;
  font-size: var(--body-normal-medium-size);
  color: var(--neutrals-60);
}
.settings {
  height: 144px;
  gap: var(--gap-5xl);
  font-size: var(--body-small-semibold-size);
  color: var(--color-gray-100);
}
.main-menu {
  font-size: var(--body-normal-medium-size);
  color: var(--neutrals-60);
  font-family: var(--body-small-medium);
}
.main-menu,
.menu {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.pattern-icon,
.validator {
  align-self: stretch;
  position: relative;
}
.pattern-icon {
  height: 316px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.validator {
  height: 0;
}
.avatar-icon {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  min-height: 48px;
}
.jake-gyll {
  margin-bottom: -3px;
  position: relative;
  line-height: 29px;
  font-weight: 600;
  display: inline-block;
  min-width: 80px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.trigger {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.jakegyllemailcom {
  position: relative;
  font-size: var(--body-small-semibold-size);
  line-height: 160%;
  color: var(--color-gray-100);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.integrator,
.name-email,
.profile1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.integrator,
.profile1 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
}
.profile1 {
  gap: var(--gap-base);
}
.integrator {
  padding: 0 40px 0 var(--padding-13xl);
}
.rounded-rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: var(--drop-shadow);
  border: 1px solid var(--other-colors-untitled-border-dashboard);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.icon8,
.logout1 {
  position: absolute;
}
.logout1 {
  top: 0;
  left: 40px;
  line-height: 160%;
  font-weight: 500;
}
.icon8 {
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.logout {
  align-self: stretch;
  height: 26px;
  position: relative;
}
.frame {
  position: absolute;
  bottom: 26px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-menu {
  width: 233px;
  height: 80px;
  position: relative;
  display: none;
  font-size: var(--body-normal-medium-size);
  color: var(--accents-red);
}
.profile,
.side-bar-dashboard-applica {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile {
  align-self: stretch;
  height: 72px;
  gap: var(--gap-5xl);
  font-size: var(--body-large-bold-size);
  font-family: var(--body-normal-medium);
}
.side-bar-dashboard-applica {
  height: 1160px;
  width: 272px;
  background-color: var(--lights-gray);
  box-shadow: var(--y-border);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: 459px;
}
.am,
.child {
  position: absolute;
}
.am {
  width: 18.38%;
  top: 0;
  left: 0;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
}
.child {
  height: 7.69%;
  width: 77.7%;
  top: 50%;
  right: 0;
  bottom: 42.31%;
  left: 22.3%;
  border-top: 2px solid var(--brands-tertiary);
  box-sizing: border-box;
}
.div {
  align-self: stretch;
  height: 26px;
  position: relative;
  color: var(--color-gray-100);
}
.am1,
.item {
  position: absolute;
}
.am1 {
  width: 18.38%;
  top: 0;
  left: 0;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
}
.item {
  height: 7.69%;
  width: 77.7%;
  top: 50%;
  right: 0;
  bottom: 42.31%;
  left: 22.3%;
  border-top: 2px solid var(--neutrals-20);
  box-sizing: border-box;
}
.div1 {
  align-self: stretch;
  height: 26px;
  position: relative;
}
.am2,
.inner {
  position: absolute;
}
.am2 {
  width: 18.38%;
  top: 0;
  left: 0;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
}
.inner {
  height: 7.69%;
  width: 78.19%;
  top: 50%;
  right: -0.49%;
  bottom: 42.31%;
  left: 22.3%;
  border-top: 2px solid var(--brands-tertiary);
  box-sizing: border-box;
}
.div2 {
  align-self: stretch;
  height: 26px;
  position: relative;
}
.am3,
.line-div {
  position: absolute;
}
.am3 {
  width: 18.38%;
  top: 0;
  left: 0;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
}
.line-div {
  height: 7.69%;
  width: 77.7%;
  top: 50%;
  right: 0;
  bottom: 42.31%;
  left: 22.3%;
  border-top: 2px solid var(--neutrals-20);
  box-sizing: border-box;
}
.div3 {
  align-self: stretch;
  height: 26px;
  position: relative;
}
.time {
  position: absolute;
  top: 83px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24xl);
}
.schedule-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--brands-tertiary);
}
.joe-bartmann {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 108px;
}
.hr-manager-at {
  position: absolute;
  height: 41.67%;
  width: 100%;
  top: 58.33%;
  left: 0;
  line-height: 160%;
  font-weight: 500;
  color: var(--neutrals-60);
  display: flex;
  align-items: center;
}
.joe-bartmann-parent,
.mask-group-icon {
  position: absolute;
  height: 60%;
  width: 52.05%;
  top: 20%;
  right: 22.71%;
  bottom: 20%;
  left: 25.24%;
}
.mask-group-icon {
  width: 15.14%;
  right: 79.81%;
  left: 5.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.schedule {
  position: absolute;
  height: 23.53%;
  width: 71.08%;
  top: 56.18%;
  right: 3.14%;
  bottom: 20.29%;
  left: 25.78%;
  color: var(--neutrals-100);
}
.rounded-rectangle1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 8px 40px rgba(13, 11, 65, 0.04);
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
}
.today1 {
  line-height: 120%;
  font-weight: 600;
}
.november {
  line-height: 160%;
}
.today-26-november-container {
  position: relative;
}
.icon10,
.icon9 {
  position: absolute;
  height: 100%;
  width: 37.5%;
  top: 0;
  right: 62.5%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon10 {
  right: 0;
  left: 62.5%;
}
.icon-parent {
  height: 24px;
  width: 64px;
  position: relative;
}
.today {
  position: absolute;
  height: 23.53%;
  top: 65.07%;
  bottom: 11.4%;
  left: calc(50% - 199px);
  width: 398px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.button:hover,
.line {
  box-sizing: border-box;
}
.line {
  position: absolute;
  height: 0.74%;
  width: 100.22%;
  top: 52.94%;
  right: -0.22%;
  bottom: 46.32%;
  left: 0;
  border-top: 1px solid var(--neutrals-20);
}
.upcomming-interviews1 {
  position: absolute;
  top: 20.59%;
  left: 5.38%;
  line-height: 120%;
  font-weight: 600;
  font-family: var(--body-normal-medium);
  text-align: center;
}
.upcomming-interviews {
  position: absolute;
  height: 40%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 60%;
  left: 0;
  font-size: var(--display-2-size);
  color: var(--color-text);
}
.card-dashboard {
  height: 340px;
  width: 446px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  font-size: var(--body-normal-medium-size);
  color: var(--neutrals-60);
  font-family: var(--body-small-medium);
}
.pattern-icon1 {
  height: 390px;
  width: 272px;
  position: relative;
  display: none;
}
.dashboard {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.writer {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.caption8 {
  width: 153px;
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--body-normal-medium);
  color: var(--brands-primary);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 1px solid var(--brands-secondary);
  padding: var(--padding-xs) 29px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button:hover {
  background-color: rgba(179, 179, 219, 0.09);
  border: 1px solid #b3b3db;
}
.notification-icon {
  width: 40px;
  height: 40px;
  position: relative;
}
.action,
.top-nav,
.visualizer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.visualizer {
  height: 45px;
  flex-direction: column;
  padding: 5px 0 0;
  box-sizing: border-box;
}
.action,
.top-nav {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.top-nav {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: var(--x-border);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-h3-size);
  color: var(--neutrals-100);
  font-family: var(--heading-h3);
}
.good-morning-jake {
  margin: 0;
  width: 239px;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.here-is-whats {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-weight: 500;
  font-family: var(--body-normal-medium);
  color: var(--neutrals-60);
}
.greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.this-is-placeholder {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 102px;
}
.frame-input {
  margin: 0;
  height: 23px;
  width: 20px;
}
.connection-hub,
.dropdown {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown {
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-mini);
  gap: 26px;
}
.connection-hub {
  flex-direction: column;
  padding: 6.5px 0 0;
  font-size: var(--body-normal-medium-size);
  font-family: var(--body-normal-medium);
}
.applicant-dashboard-greeting {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--neutrals-100);
  font-family: var(--heading-h3);
}
.vector-stroke-icon1 {
  position: absolute;
  height: 83.3%;
  width: calc(100% - 29.3px);
  top: 8.3%;
  right: 14.6px;
  bottom: 8.41%;
  left: 14.7px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-child,
.icon-item {
  position: absolute;
  height: 8.3%;
  width: 33.3%;
  top: 45.8%;
  right: 33.41%;
  bottom: 45.91%;
  left: 33.3%;
  border-radius: 26.72px;
  background-color: var(--accents-blue);
  z-index: 1;
}
.icon-item {
  top: 62.5%;
  bottom: 29.2%;
}
.icon11 {
  position: absolute;
  height: 55.7%;
  width: 34.11%;
  top: 56.96%;
  right: 8.53%;
  bottom: -12.66%;
  left: 57.36%;
  overflow: hidden;
  opacity: 0.3;
}
.div4,
.total-jobs-applied {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.div4 {
  width: 86px;
  font-size: var(--display-1-size);
  line-height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 86px;
}
.total-jobs-applied-parent {
  position: absolute;
  top: 26px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  z-index: 2;
}
.card-dashboard1 {
  width: 258px;
  height: 158px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.interviewed {
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  min-width: 120px;
}
.div5,
.icon12,
.interviewed {
  position: relative;
}
.div5 {
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  min-width: 78px;
}
.icon12 {
  width: 88px;
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper,
.parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.icon-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.parent {
  height: 101px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--display-1-size);
}
.card-dashboard-wrapper,
.card-dashboard2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.card-dashboard2 {
  height: 158px;
  flex: 1;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  overflow: hidden;
  flex-direction: column;
  padding: 26px var(--padding-2xl) 108px var(--padding-4xl);
  gap: var(--gap-8xl);
}
.card-dashboard-wrapper {
  width: 258px;
  flex-direction: row;
  padding: 0 0 var(--padding-5xs);
}
.jobs-applied-status {
  width: 201px;
  position: relative;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
.graph-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 18px;
  top: 2px;
  transform: scale(1.257);
}
.wrapper-graph {
  height: 152px;
  width: 152px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-child {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--brands-primary);
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
}
.b,
.unsuitable {
  position: relative;
}
.b {
  width: 52px;
  line-height: 160%;
  display: flex;
  align-items: center;
}
.unsuitable {
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  color: var(--neutrals-60);
  display: inline-block;
  min-width: 84px;
}
.div6,
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div6 {
  flex-direction: row;
  gap: var(--gap-base);
}
.frame-item {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--brands-tertiary);
}
.inner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
}
.b1 {
  width: 52px;
  position: relative;
  line-height: 160%;
  display: flex;
  align-items: center;
}
.interviewed1 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  color: var(--neutrals-60);
  display: inline-block;
  min-width: 92px;
}
.div7,
.parent1,
.stats {
  justify-content: flex-start;
}
.parent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.div7,
.stats {
  align-self: stretch;
}
.div7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-base);
}
.stats {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.main-content,
.stats,
.stats-wrapper {
  display: flex;
  align-items: flex-start;
}
.stats-wrapper {
  width: 128px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 18px 0 0;
  box-sizing: border-box;
  min-width: 128px;
}
.main-content {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--body-large-bold-size);
}
.view-all-applications {
  position: relative;
  line-height: 26px;
  font-weight: 600;
}
.icon13 {
  width: 24px;
  height: 24px;
  position: relative;
}
.button1,
.icon-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-container {
  height: 25px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.button1 {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--body-normal-medium-size);
  color: var(--brands-primary);
}
.base,
.card-dashboard3 {
  position: absolute;
  margin: 0 !important;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
}
.card-dashboard3 {
  top: 241px;
  left: 314px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-4xl) var(--padding-5xl);
  gap: var(--gap-24xl);
}
.base {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.base,
.frame-inner,
.line1 {
  box-sizing: border-box;
}
.frame-inner {
  width: 329px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  font-family: var(--body-normal-medium);
  font-weight: 600;
  font-size: var(--display-2-size);
  color: var(--neutrals-100);
  max-width: 100%;
}
.line1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutrals-20);
  z-index: 1;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.company-logo-icon {
  height: 64px;
  width: 64px;
  position: relative;
}
.nomad,
.social-media-assistant {
  position: relative;
  font-size: var(--body-large-bold-size);
  line-height: 29px;
  font-family: var(--body-normal-medium);
  color: var(--neutrals-100);
  text-align: left;
}
.nomad {
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  color: var(--neutrals-60);
  display: inline-block;
  min-width: 56px;
}
.loop-structure {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.comparison-operator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.paris-france {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--neutrals-60);
  text-align: left;
  display: inline-block;
  min-width: 101px;
}
.if-statement {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.variable-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.full-time {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--neutrals-60);
  text-align: left;
  display: inline-block;
  min-width: 69px;
}
.company-name-location-job {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs-5) 0;
  gap: var(--gap-5xs);
}
.job-title {
  flex-direction: column;
}
.job-title,
.title,
.transformer-x {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.transformer-x {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.title {
  width: 446px;
  flex-direction: row;
  gap: var(--gap-base);
  max-width: 100%;
}
.date-applied1,
.july-2021 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  font-family: var(--body-normal-medium);
  text-align: left;
  display: inline-block;
}
.date-applied1 {
  line-height: 26px;
  font-weight: 500;
  color: var(--neutrals-100);
  min-width: 101px;
}
.july-2021 {
  line-height: 160%;
  color: var(--neutrals-60);
  min-width: 91px;
}
.date-applied,
.while-loop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.date-applied {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.while-loop {
  width: 171px;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.label-child {
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--accents-yellow);
  display: none;
}
.caption9 {
  width: 65px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--body-normal-medium);
  font-size: var(--body-small-semibold-size);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 160%;
  color: var(--accents-yellow);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.label {
  flex: 1;
  border-radius: var(--br-61xl);
  border: 1px solid var(--accents-yellow);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-4xs);
  gap: var(--gap-5xs);
}
.expression-tree,
.expression-tree-wrapper,
.label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.expression-tree {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-13xl) 0 0;
}
.expression-tree-wrapper {
  width: 117px;
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.icon14 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.arithmetic-operations,
.recent-applications-row {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.arithmetic-operations {
  height: 44px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
}
.recent-applications-row {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--lights-gray);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl);
  max-width: 100%;
  gap: var(--gap-xl);
}
.company-logo-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
  object-fit: cover;
}
.nomad1,
.social-media-assistant1 {
  position: relative;
  font-size: var(--body-large-bold-size);
  line-height: 29px;
  font-family: var(--body-normal-medium);
  color: var(--neutrals-100);
  text-align: left;
}
.nomad1 {
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  color: var(--neutrals-60);
  display: inline-block;
  min-width: 60px;
}
.ellipse-div {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.company-name-location-job-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.paris-france1 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--neutrals-60);
  text-align: left;
  display: inline-block;
  min-width: 109px;
}
.frame-child1 {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.company-name-location-job-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.full-time1 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--neutrals-60);
  text-align: left;
  display: inline-block;
  min-width: 69px;
}
.company-name-location-job1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs-5) 0;
  gap: var(--gap-5xs);
}
.job-title1 {
  flex-direction: column;
}
.job-title-wrapper,
.job-title1,
.title1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.job-title-wrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.title1 {
  width: 446px;
  flex-direction: row;
  gap: var(--gap-base);
  max-width: 100%;
}
.date-applied3,
.july-20211 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  text-align: left;
  display: inline-block;
}
.date-applied3 {
  font-weight: 500;
  color: var(--neutrals-100);
  min-width: 101px;
}
.july-20211 {
  color: var(--neutrals-60);
  min-width: 91px;
}
.date-applied-wrapper,
.date-applied2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.date-applied2 {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.date-applied-wrapper {
  width: 171px;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.label-item {
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--brands-primary);
  display: none;
}
.caption10 {
  position: relative;
  font-size: var(--body-small-semibold-size);
  line-height: 160%;
  font-weight: 600;
  font-family: var(--body-normal-medium);
  color: var(--brands-primary);
  text-align: left;
  display: inline-block;
  min-width: 80px;
}
.label1 {
  cursor: pointer;
  border: 1px solid var(--brands-primary);
  padding: var(--padding-7xs) var(--padding-4xs);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-61xl);
  flex-direction: row;
  gap: var(--gap-5xs);
}
.label-wrapper,
.label1,
.recent-applications-row-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.label-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-mid) 0 0;
}
.recent-applications-row-inner {
  width: 117px;
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.icon15 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-frame,
.recent-applications-row1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.icon-frame {
  height: 44px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
}
.recent-applications-row1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl);
  max-width: 100%;
  gap: var(--gap-xl);
}
.company-logo-icon2 {
  height: 64px;
  width: 64px;
  position: relative;
}
.nomad2,
.social-media-assistant2 {
  position: relative;
  font-size: var(--body-large-bold-size);
  line-height: 29px;
  font-family: var(--body-normal-medium);
  color: var(--neutrals-100);
  text-align: left;
}
.nomad2 {
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  color: var(--neutrals-60);
  display: inline-block;
  min-width: 54px;
}
.frame-child2 {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.company-name-location-job-inner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.paris-france2 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--neutrals-60);
  text-align: left;
  display: inline-block;
  min-width: 105px;
}
.frame-child3 {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.company-name-location-job-inner2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.full-time2 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--neutrals-60);
  text-align: left;
  display: inline-block;
  min-width: 69px;
}
.company-name-location-job2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs-5) 0;
  gap: var(--gap-5xs);
}
.job-title2 {
  flex-direction: column;
}
.job-title-container,
.job-title2,
.title2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.job-title-container {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.title2 {
  width: 446px;
  flex-direction: row;
  gap: var(--gap-base);
  max-width: 100%;
}
.date-applied5,
.july-20212 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  text-align: left;
  display: inline-block;
}
.date-applied5 {
  font-weight: 500;
  color: var(--neutrals-100);
  min-width: 101px;
}
.july-20212 {
  color: var(--neutrals-60);
  min-width: 91px;
}
.date-applied-container,
.date-applied4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.date-applied4 {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.date-applied-container {
  width: 171px;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.label-inner {
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--accents-red);
  display: none;
}
.caption11 {
  position: relative;
  font-size: var(--body-small-semibold-size);
  line-height: 160%;
  font-weight: 600;
  font-family: var(--body-normal-medium);
  color: var(--accents-red);
  text-align: left;
  display: inline-block;
  min-width: 62px;
}
.label2 {
  cursor: pointer;
  border: 1px solid var(--accents-red);
  padding: var(--padding-7xs) var(--padding-4xs);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-61xl);
  flex-direction: row;
  gap: var(--gap-5xs);
}
.label-container,
.label2,
.recent-applications-row-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.label-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 35px 0 0;
}
.recent-applications-row-child {
  width: 117px;
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.icon16 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper1 {
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.recent-applications-row2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--lights-gray);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.compressor,
.data,
.recent-applications-row2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.data {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}
.compressor {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.view-all-applications1 {
  flex: 1;
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-weight: 600;
  font-family: var(--body-normal-medium);
  color: var(--brands-primary);
  text-align: center;
}
.icon17 {
  width: 24px;
  height: 24px;
  position: relative;
}
.icon-wrapper2,
.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-wrapper2 {
  height: 25px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.nav {
  width: 266px;
  flex-direction: row;
  gap: var(--gap-base);
  z-index: 1;
}
.applicant-dashboard-recent-a,
.relational-operations {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.applicant-dashboard-recent-a {
  margin: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-4xl-5);
  max-width: 100%;
}
.mark-all-as,
.notifications {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.mark-all-as {
  width: 125px;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-weight: 500;
  color: var(--brands-primary);
  text-align: right;
  display: flex;
  align-items: center;
  min-width: 125px;
}
.title3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.line2,
.nested-container {
  align-self: stretch;
  box-sizing: border-box;
}
.nested-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl);
  max-width: 100%;
}
.line2 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--other-colors-untitled-border-dashboard);
}
.avatar-icon1 {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: contain;
}
.jan-mayer {
  font-weight: 600;
}
.invited-you-to {
  color: var(--color-dimgray);
}
.jan-mayer-invited-container {
  align-self: stretch;
  position: relative;
  line-height: 26px;
}
.label-child1 {
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--accents-yellow);
  display: none;
}
.caption12 {
  position: relative;
  font-size: var(--body-small-semibold-size);
  line-height: 160%;
  font-weight: 600;
  font-family: var(--body-normal-medium);
  color: var(--accents-yellow);
  text-align: left;
  display: inline-block;
  min-width: 31px;
}
.label3 {
  cursor: pointer;
  border: 1px solid var(--accents-yellow);
  padding: var(--padding-7xs) 22px;
  background-color: transparent;
  width: 78px;
  border-radius: var(--br-61xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.mins-ago {
  width: 332px;
  position: relative;
  line-height: 26px;
  color: var(--neutrals-40);
  display: inline-block;
  max-width: 100%;
}
.notification {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 261px;
  max-width: 100%;
}
.div8,
.line3 {
  align-self: stretch;
}
.div8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.line3 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutrals-20);
  box-sizing: border-box;
}
.avatar-icon2 {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
}
.jana-alicia {
  font-weight: 600;
}
.span {
  color: rgba(32, 36, 48, 0.7);
}
.from-udacity-updated-your-job {
  color: var(--color-dimgray);
}
.jana-alicia-from-container {
  align-self: stretch;
  position: relative;
  line-height: 160%;
}
.label-child2 {
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--accents-green);
  display: none;
}
.caption13 {
  position: relative;
  font-size: var(--body-small-semibold-size);
  line-height: 160%;
  font-weight: 600;
  font-family: var(--body-normal-medium);
  color: var(--accents-green);
  text-align: left;
  display: inline-block;
  min-width: 80px;
}
.label4 {
  cursor: pointer;
  border: 1px solid var(--accents-green);
  padding: var(--padding-7xs) var(--padding-smi);
  background-color: transparent;
  border-radius: var(--br-61xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.days-ago {
  width: 332px;
  position: relative;
  line-height: 26px;
  color: var(--neutrals-40);
  display: inline-block;
  max-width: 100%;
}
.notification1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 261px;
  max-width: 100%;
}
.div9,
.line4 {
  align-self: stretch;
}
.div9 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.line4 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutrals-20);
  box-sizing: border-box;
}
.avatar-icon3 {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
}
.ally-wales {
  font-weight: 600;
}
.from-digital-ocean-sent-you-an {
  color: var(--color-dimgray);
}
.ally-wales-from-container {
  width: 334px;
  position: relative;
  line-height: 160%;
  display: inline-block;
  max-width: 100%;
}
.font-family-picker {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--other-colors-job-listing);
}
.font-family-picker1 {
  height: 209px;
  width: 6px;
  position: relative;
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
  background-color: var(--brands-primary);
  z-index: 1;
}
.interview-jake {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.social-media-manager {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  color: var(--neutrals-60);
}
.title4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 1;
}
.icon18 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.date1,
.mon-20-july {
  position: relative;
  font-weight: 500;
}
.date1 {
  line-height: 26px;
  display: inline-block;
  min-width: 38px;
}
.mon-20-july {
  line-height: 160%;
  color: var(--neutrals-100);
}
.content,
.date {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.date {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
  min-width: 109px;
}
.icon19 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pm-1230,
.time1 {
  position: relative;
  font-weight: 500;
}
.time1 {
  line-height: 26px;
  display: inline-block;
  min-width: 38px;
}
.pm-1230 {
  line-height: 160%;
  color: var(--neutrals-100);
  white-space: nowrap;
}
.condition-splitter,
.content1,
.date2 {
  display: flex;
  justify-content: flex-start;
}
.content1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.condition-splitter,
.date2 {
  flex-direction: row;
}
.date2 {
  flex: 1;
  align-items: center;
  gap: var(--gap-5xs);
  min-width: 109px;
}
.condition-splitter {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-lg);
  z-index: 1;
}
.mask-group-icon1 {
  width: 32px;
  height: 32px;
  position: relative;
  object-fit: cover;
}
.data-normalizer {
  height: 41px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.jake-gyll1 {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 71px;
}
.jakegyllemailcom1 {
  position: relative;
  line-height: 26px;
  color: var(--neutrals-60);
  white-space: nowrap;
}
.function-composer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.data-aggregator,
.function-composer,
.name {
  justify-content: flex-start;
}
.name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xs);
  z-index: 1;
  color: var(--neutrals-100);
}
.data-aggregator {
  align-self: stretch;
  gap: 15px;
  font-size: var(--body-normal-medium-size);
  color: var(--neutrals-60);
}
.character-map,
.character-map-wrapper,
.data-aggregator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.character-map {
  align-self: stretch;
  justify-content: flex-start;
  gap: 10px;
}
.character-map-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 14px;
  box-sizing: border-box;
  min-width: 230px;
  max-width: 100%;
}
.font-family-picker-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-lg);
  max-width: 100%;
  font-size: var(--display-2-size);
}
.july-20213 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 88px;
}
.iterative-processor {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.tree-builder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.pm {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 58px;
  white-space: nowrap;
}
.notification2,
.value-validator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.value-validator {
  flex-direction: row;
  color: var(--neutrals-40);
}
.notification2 {
  flex: 1;
  flex-direction: column;
  min-width: 261px;
  max-width: 100%;
}
.div10 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-base);
}
.dashboard-notification-des,
.div10,
.notifications-wrapper,
.notifications1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.notifications1 {
  flex: 1;
  flex-direction: column;
  gap: 15.5px;
}
.dashboard-notification-des,
.notifications-wrapper {
  box-sizing: border-box;
}
.notifications-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  font-size: var(--body-normal-medium-size);
}
.dashboard-notification-des {
  width: 514px;
  margin: 0 !important;
  position: absolute;
  top: 102px;
  right: 32px;
  background-color: var(--color-white);
  box-shadow: var(--drop-shadow);
  border: 1px solid var(--neutrals-20);
  flex-direction: column;
  padding: var(--padding-5xl) 0;
  gap: var(--gap-4xl-5);
  z-index: 2;
}
.dashboard-notifications,
.recorder {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.recorder {
  flex: 1;
  flex-direction: column;
  padding: 241px var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: calc(100% - 272px);
  font-size: var(--display-2-size);
  color: var(--neutrals-100);
  font-family: var(--body-normal-medium);
}
.dashboard-notifications {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  letter-spacing: normal;
  font-size: var(--font-size-5xl);
  color: var(--color-text);
  font-family: var(--font-red-hat-display);
}
@media screen and (max-width: 1125px) {
  .recorder {
    padding-top: 157px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .side-bar-dashboard-applica {
    display: none;
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .dashboard {
    font-size: 26px;
    line-height: 31px;
  }
  .applicant-dashboard-greeting {
    flex-wrap: wrap;
  }
  .div4,
  .div5 {
    font-size: var(--font-size-39xl);
    line-height: 58px;
  }
  .recent-applications-row,
  .recent-applications-row1,
  .recent-applications-row2 {
    flex-wrap: wrap;
  }
  .recorder {
    max-width: 100%;
  }
  .dashboard-notifications {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .top-nav {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: 16px 32px;
  }
  .title,
  .title1,
  .title2 {
    flex-wrap: wrap;
  }
  .applicant-dashboard-recent-a {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .recorder {
    height: auto;
    padding-top: 102px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .jobhuntly {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .main-menu,
  .menu {
    gap: 16px 32px;
  }
  .side-bar-dashboard-applica {
    gap: 229px 459px;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .today-26-november-container,
  .upcomming-interviews1 {
    font-size: var(--body-normal-medium-size);
  }
  .upcomming-interviews1 {
    line-height: 19px;
  }
  .dashboard {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .action {
    flex-wrap: wrap;
    gap: 32px 16px;
  }
  .good-morning-jake {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .total-jobs-applied {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .div4 {
    font-size: var(--font-size-24xl);
    line-height: 43px;
  }
  .interviewed {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .div5 {
    font-size: var(--font-size-24xl);
    line-height: 43px;
  }
  .jobs-applied-status {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .graph-icon,
  .stats-wrapper {
    flex: 1;
  }
  .company-name-location-job,
  .company-name-location-job1,
  .company-name-location-job2,
  .main-content {
    flex-wrap: wrap;
  }
  .notifications {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .title3 {
    flex-wrap: wrap;
  }
  .font-family-picker1 {
    width: 100%;
    height: 6px;
  }
  .interview-jake {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .condition-splitter {
    flex-wrap: wrap;
  }
  .font-family-picker-parent {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-top: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
