.top-nav-instance {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.top-nav-instance-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.jobhuntly10 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 120px;
}
.logo-2-wrapper3,
.logo-210 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-210 {
  flex: 1;
  gap: var(--gap-5xs);
}
.logo-2-wrapper3 {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
}
.icon306 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption258 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu90 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.icon307 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption259 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.icon-parent35 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.badge-child5 {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  background-color: var(--brands-primary);
}
.div63 {
  height: 16px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 6px;
  z-index: 1;
}
.wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  margin-left: -15px;
}
.badge10,
.sidebar-menu91 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge10 {
  align-items: flex-end;
  padding: 0 var(--padding-4xs) 0 0;
  font-size: var(--body-small-semibold-size);
  color: var(--color-white);
  font-family: var(--body-small-semibold);
}
.sidebar-menu91 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.icon308 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption260 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu92 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.indicator-icon10 {
  width: 4px;
  height: 32px;
  position: relative;
}
.indicator-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.icon309 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption261 {
  flex: 1;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 160%;
  font-weight: 500;
  font-family: var(--body-small-medium);
  color: var(--brands-primary);
  text-align: left;
}
.menu42,
.sidebar-menu93 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu42 {
  flex: 1;
  background-color: var(--brands-tertiary);
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
  gap: var(--gap-base);
  white-space: nowrap;
}
.sidebar-menu93 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base) 0 0;
  background-color: transparent;
  align-self: stretch;
  gap: var(--gap-xs);
}
.icon310 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption262 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu94 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon311 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption263 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu95 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.caption264,
.icon312 {
  height: 24px;
  position: relative;
}
.icon312 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.caption264 {
  flex: 1;
  line-height: 160%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.menu41,
.sidebar-menu96 {
  align-self: stretch;
  justify-content: flex-start;
}
.sidebar-menu96 {
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.menu41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-menu-child5 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--brands-secondary);
}
.settings24 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 75px;
}
.settings-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl);
}
.icon313 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption265 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu97 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.icon314 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption266 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.menu43,
.settings23,
.sidebar-menu98 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.sidebar-menu98 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.menu43,
.settings23 {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-60);
}
.settings23 {
  gap: var(--gap-5xl);
  font-size: var(--body-small-semibold-size);
  color: var(--color-gray-100);
}
.main-menu10 {
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-60);
  font-family: var(--body-small-medium);
}
.main-menu10,
.menu40 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.line15,
.pattern-icon10 {
  align-self: stretch;
  position: relative;
}
.pattern-icon10 {
  height: 316px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.line15 {
  height: 0;
}
.avatar-icon34 {
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
}
.avatar-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.maria-kelly10 {
  position: relative;
  line-height: 29px;
  font-weight: 600;
  display: inline-block;
  min-width: 98px;
}
.mariakllyemailcom10 {
  position: relative;
  font-size: var(--body-small-semibold-size);
  line-height: 160%;
  color: var(--color-dimgray-100);
  white-space: nowrap;
}
.name-email10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile22,
.stepper-icon-divider2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.profile22 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.stepper-icon-divider2 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl) 0 var(--padding-13xl);
}
.rounded-rectangle10 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--other-colors-untitled-border-dashboard);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.logout21 {
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 160%;
  font-weight: 500;
}
.icon315 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.logout20 {
  align-self: stretch;
  height: 26px;
  position: relative;
}
.frame10 {
  position: absolute;
  bottom: 26px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-menu10 {
  width: 233px;
  height: 80px;
  position: relative;
  display: none;
  font-size: var(--body-normal-regular-size);
  color: var(--accents-red);
}
.profile21,
.side-bar-dashboard-company10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.profile21 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-2xl);
  font-size: var(--body-large-medium-size);
  color: var(--neutrals-100);
  font-family: var(--body-small-semibold);
}
.side-bar-dashboard-company10 {
  width: 272px;
  background-color: var(--neutrals-10i);
  box-shadow: var(--y-border);
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: 909px;
}
.company-logo-icon20 {
  height: 48px;
  width: 48px;
  position: relative;
}
.company10,
.nomad19 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 73px;
}
.nomad19 {
  line-height: 120%;
  font-weight: 600;
  min-width: 72px;
  white-space: nowrap;
}
.icon316 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.job-list18,
.job-title18,
.nomad-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nomad-parent4 {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--heading-h5-size);
  color: var(--neutrals-100);
}
.job-list18,
.job-title18 {
  flex-direction: column;
}
.job-list18 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.icon317,
.notification-icon10 {
  height: 40px;
  width: 40px;
  position: relative;
}
.icon317 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.caption267 {
  flex: 1;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--body-small-semibold);
  color: var(--color-white);
  text-align: center;
  min-width: 81px;
}
.button43 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--brands-primary);
  flex: 1;
  justify-content: center;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.button43:hover,
.button44:hover {
  background-color: var(--color-mediumslateblue-100);
}
.action13,
.button43,
.top-nav14 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action13 {
  width: 235px;
  justify-content: center;
  gap: var(--gap-13xl);
}
.top-nav14 {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: var(--x-border);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-13xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-80);
  font-family: var(--body-small-semibold);
}
.icon318 {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 40px;
}
.post-a-job1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.top-nav-button,
.top-nav15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.top-nav-button {
  width: 162px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.top-nav15 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-13xl);
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--heading-h3-size);
  color: var(--neutrals-100);
  font-family: var(--heading-h5);
}
.stepper-icon3 {
  height: 56px;
  width: 56px;
  position: relative;
  object-fit: contain;
  min-height: 56px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.step-137 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 64px;
}
.job-information3 {
  position: relative;
  font-size: var(--body-large-medium-size);
  line-height: 29px;
  font-weight: 600;
  color: var(--neutrals-100);
}
.step-136,
.stepper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.step-136 {
  flex-direction: column;
  gap: var(--gap-11xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.stepper3 {
  flex-direction: row;
  gap: var(--gap-base-1);
}
.divider10 {
  width: 1px;
  height: 41px;
  position: relative;
  border-right: 1px solid var(--lights-border);
  box-sizing: border-box;
}
.divider-wrapper2 {
  height: 48.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) 0 0;
  box-sizing: border-box;
}
.stepper-icon4 {
  height: 56px;
  width: 56px;
  position: relative;
  object-fit: contain;
  min-height: 56px;
}
.step-139 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 66px;
}
.job-information4 {
  position: relative;
  font-size: var(--body-large-medium-size);
  line-height: 29px;
  font-weight: 600;
  color: var(--neutrals-100);
}
.step-138,
.stepper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.stepper4 {
  flex-direction: row;
  gap: var(--gap-base);
}
.divider11 {
  width: 1px;
  height: 41px;
  position: relative;
  border-right: 1px solid var(--lights-border);
  box-sizing: border-box;
}
.divider-wrapper3 {
  height: 48.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) 0 0;
  box-sizing: border-box;
}
.stepper-icon5 {
  height: 56px;
  width: 56px;
  position: relative;
  object-fit: contain;
  min-height: 56px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.step-1311 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 67px;
}
.job-information5 {
  position: relative;
  font-size: var(--body-large-medium-size);
  line-height: 29px;
  font-weight: 600;
  color: var(--neutrals-60);
}
.step-1310 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.stepper5,
.steppers-container,
.steppers1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.stepper5 {
  justify-content: flex-start;
  gap: var(--gap-base-1);
  color: var(--neutrals-40);
}
.steppers-container,
.steppers1 {
  box-sizing: border-box;
  max-width: 100%;
}
.steppers1 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--lights-border);
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-6xl) var(--padding-sm)
    var(--padding-4xl);
  gap: var(--gap-xl);
}
.steppers-container {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 var(--padding-12xl-4);
  text-align: left;
  font-size: var(--body-normal-regular-size);
  color: var(--brands-primary);
  font-family: var(--body-small-semibold);
}
.details2 {
  width: 400.8px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.add-the-description {
  align-self: stretch;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  color: var(--neutrals-60);
}
.details1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  max-width: 100%;
  font-size: var(--body-large-medium-size);
}
.line16 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--lights-border);
  box-sizing: border-box;
}
.job-descriptions2 {
  width: 228px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.job-titles-must {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-60);
}
.job-descriptions1 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.label98 {
  width: 128px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: none;
}
.enter-job-description1 {
  position: relative;
  line-height: 26px;
}
.form1 {
  align-self: stretch;
  height: 152px;
  background-color: var(--color-white);
  border: 1px solid var(--lights-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.icon320,
.icon321,
.icon322,
.icon323,
.icon324,
.icon325 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.icon319 {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--lights-border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-488xl) var(--padding-xs)
    var(--padding-mini);
  gap: var(--gap-xs);
}
.div64,
.maximum-500-characters1 {
  position: relative;
  line-height: 26px;
}
.div64 {
  width: 52px;
  color: var(--neutrals-80);
  text-align: right;
  display: inline-block;
  min-width: 52px;
}
.content15,
.helper-text1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.helper-text1 {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-9xs) 0 0;
  gap: var(--gap-xl);
}
.content15 {
  flex-direction: column;
  justify-content: flex-start;
  color: var(--neutrals-40);
}
.job-descriptions,
.textfield14 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.textfield14 {
  width: 728px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 728px;
  color: var(--neutrals-80);
}
.job-descriptions {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.line17 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--lights-border);
  box-sizing: border-box;
}
.responsibilities4 {
  width: 228px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.outline-the-core {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-60);
}
.responsibilities3 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.label99 {
  width: 44px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: none;
}
.enter-job-description2 {
  position: relative;
  line-height: 26px;
}
.form2 {
  align-self: stretch;
  height: 152px;
  background-color: var(--color-white);
  border: 1px solid var(--lights-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.icon327,
.icon328,
.icon329,
.icon330,
.icon331,
.icon332 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.icon326 {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--lights-border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-488xl) var(--padding-xs)
    var(--padding-mini);
  gap: var(--gap-xs);
}
.div65,
.maximum-500-characters2 {
  position: relative;
  line-height: 26px;
}
.div65 {
  width: 52px;
  color: var(--neutrals-80);
  text-align: right;
  display: inline-block;
  min-width: 52px;
}
.content16,
.helper-text2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.helper-text2 {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-9xs) 0 0;
  gap: var(--gap-xl);
}
.content16 {
  flex-direction: column;
  justify-content: flex-start;
  color: var(--neutrals-40);
}
.responsibilities2,
.textfield15 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.textfield15 {
  width: 728px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 728px;
  color: var(--neutrals-80);
}
.responsibilities2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.line18 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--lights-border);
  box-sizing: border-box;
}
.who-you-are4 {
  width: 228px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.add-your-preferred {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-60);
}
.who-you-are3 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.label100 {
  width: 44px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: none;
}
.form3 {
  border: 1px solid var(--lights-border);
  background-color: var(--color-white);
  height: 152px;
  width: auto;
  outline: 0;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  font-family: var(--body-small-semibold);
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-40);
}
.icon334,
.icon335,
.icon336,
.icon337,
.icon338,
.icon339 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.icon333 {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--lights-border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-9xl) var(--padding-xs)
    var(--padding-mini);
  gap: var(--gap-xs);
}
.div66,
.maximum-500-characters3 {
  position: relative;
  line-height: 26px;
}
.div66 {
  width: 52px;
  color: var(--neutrals-80);
  text-align: right;
  display: inline-block;
  min-width: 52px;
}
.helper-text3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-9xs) 0 0;
  gap: var(--gap-0);
  row-gap: 20px;
}
.content17 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--neutrals-40);
}
.content17,
.textfield16,
.who-you-are2 {
  display: flex;
  align-items: flex-start;
}
.textfield16 {
  width: 249px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 249px;
  color: var(--neutrals-80);
}
.who-you-are2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 479px 0 0;
  gap: var(--gap-xl);
}
.line19 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--lights-border);
  box-sizing: border-box;
}
.nice-to-haves4 {
  width: 228px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.add-nice-to-have-skills {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-60);
}
.nice-to-haves3 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 259px;
}
.label101 {
  width: 44px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: none;
}
.form4 {
  border: 1px solid var(--lights-border);
  background-color: var(--color-white);
  height: 152px;
  width: auto;
  outline: 0;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  font-family: var(--body-small-semibold);
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-40);
}
.icon341,
.icon342,
.icon343,
.icon344,
.icon345,
.icon346 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.icon340 {
  background-color: var(--color-white);
  border: 1px solid var(--lights-border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-9xl) var(--padding-xs)
    var(--padding-mini);
  gap: var(--gap-xs);
}
.div67,
.maximum-500-characters4 {
  position: relative;
  line-height: 26px;
}
.div67 {
  width: 52px;
  color: var(--neutrals-80);
  text-align: right;
  display: inline-block;
  min-width: 52px;
}
.helper-text4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-9xs) 0 0;
  gap: var(--gap-0);
  row-gap: 20px;
}
.content18,
.textfield17 {
  width: 249px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--neutrals-40);
}
.textfield17 {
  width: 414px;
  gap: var(--gap-9xs);
  min-width: 414px;
  max-width: 100%;
  color: var(--neutrals-80);
}
.line20,
.nice-to-haves2 {
  align-self: stretch;
  box-sizing: border-box;
}
.nice-to-haves2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 314px 0 0;
  max-width: 100%;
  gap: var(--gap-xl);
}
.line20 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--lights-border);
}
.caption268 {
  width: 92px;
  position: relative;
  font-size: var(--body-large-medium-size);
  line-height: 29px;
  display: inline-block;
  font-family: var(--body-small-semibold);
  color: var(--color-white);
  text-align: center;
  min-width: 92px;
}
.button44,
.step-31 {
  display: flex;
  justify-content: flex-start;
}
.button44 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-8xl);
  background-color: var(--brands-primary);
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.step-31 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-13xl) var(--padding-12xl) var(--padding-13xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-4xl-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-100);
  font-family: var(--body-small-semibold);
}
.dashboard-company-post-a-job1,
.top-nav-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.top-nav-parent5 {
  flex: 1;
  flex-direction: column;
  max-width: calc(100% - 273px);
}
.dashboard-company-post-a-job1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-12xs);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-text);
  font-family: var(--font-red-hat-display);
}
@media screen and (max-width: 1200px) {
  .side-bar-dashboard-company10 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .textfield14 {
    flex: 1;
  }
  .job-descriptions {
    flex-wrap: wrap;
  }
  .textfield15 {
    flex: 1;
  }
  .responsibilities2 {
    flex-wrap: wrap;
  }
  .textfield16 {
    flex: 1;
  }
  .who-you-are2 {
    flex-wrap: wrap;
    padding-right: 239px;
    box-sizing: border-box;
  }
  .nice-to-haves3,
  .textfield17 {
    flex: 1;
  }
  .nice-to-haves2 {
    flex-wrap: wrap;
    padding-right: 157px;
    box-sizing: border-box;
  }
  .step-31 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .side-bar-dashboard-company10 {
    display: none;
  }
  .post-a-job1 {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
  .steppers1 {
    flex-wrap: wrap;
  }
  .textfield14,
  .textfield15,
  .textfield17 {
    min-width: 100%;
  }
  .top-nav-parent5 {
    max-width: 100%;
  }
  .dashboard-company-post-a-job1 {
    padding-left: var(--padding-12xs);
    padding-right: var(--padding-12xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .side-bar-dashboard-company10 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .icon319,
  .icon326 {
    flex-wrap: wrap;
    padding-right: var(--padding-234xl);
    box-sizing: border-box;
  }
  .who-you-are2 {
    padding-right: 119px;
    box-sizing: border-box;
  }
  .nice-to-haves2 {
    padding-right: var(--padding-59xl);
    box-sizing: border-box;
  }
  .step-31 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .jobhuntly10 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .main-menu10,
  .menu40 {
    gap: var(--gap-base);
  }
  .side-bar-dashboard-company10 {
    gap: 454px;
  }
  .post-a-job1 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .top-nav15 {
    flex-wrap: wrap;
  }
  .icon319 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .helper-text1 {
    flex-wrap: wrap;
  }
  .icon326 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .helper-text2 {
    flex-wrap: wrap;
  }
  .nice-to-haves2,
  .who-you-are2 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
