.frame-child20 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-2-inner6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.jobhuntly9 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 120px;
}
.logo-2-wrapper2,
.logo-29 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-29 {
  flex: 1;
  gap: var(--gap-5xs);
}
.logo-2-wrapper2 {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
}
.icon286 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption246 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu81 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.icon287 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption247 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.icon-parent31 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.posta-job-button {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  background-color: var(--brands-primary);
}
.full-healthcare-icon {
  height: 16px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 6px;
  z-index: 1;
}
.benefits-instance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  margin-left: -15px;
}
.badge9,
.sidebar-menu82 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge9 {
  align-items: flex-end;
  padding: 0 var(--padding-4xs) 0 0;
  font-size: var(--body-small-semibold-size);
  color: var(--color-white);
  font-family: var(--body-small-semibold);
}
.sidebar-menu82 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.icon288 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption248 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu83 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.indicator-icon9 {
  width: 4px;
  height: 32px;
  position: relative;
}
.indicator-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.icon289 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption249 {
  flex: 1;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 160%;
  font-weight: 500;
  font-family: var(--body-small-medium);
  color: var(--brands-primary);
  text-align: left;
}
.menu38,
.sidebar-menu84 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu38 {
  flex: 1;
  background-color: var(--brands-tertiary);
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
  gap: var(--gap-base);
  white-space: nowrap;
}
.sidebar-menu84 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base) 0 0;
  background-color: transparent;
  align-self: stretch;
  gap: var(--gap-xs);
}
.icon290 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption250 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu85 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon291 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption251 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu86 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.caption252,
.icon292 {
  height: 24px;
  position: relative;
}
.icon292 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.caption252 {
  flex: 1;
  line-height: 160%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.menu37,
.sidebar-menu87 {
  align-self: stretch;
  justify-content: flex-start;
}
.sidebar-menu87 {
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.menu37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-menu-child4 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--brands-secondary);
}
.settings22 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 75px;
}
.settings-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl);
}
.icon293 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption253 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu88 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.icon294 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption254 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.menu39,
.settings21,
.sidebar-menu89 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.sidebar-menu89 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.menu39,
.settings21 {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-60);
}
.settings21 {
  gap: var(--gap-5xl);
  font-size: var(--body-small-semibold-size);
  color: var(--color-gray-100);
}
.main-menu9 {
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-60);
  font-family: var(--body-small-medium);
}
.main-menu9,
.menu36 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.line12,
.pattern-icon9 {
  align-self: stretch;
  position: relative;
}
.pattern-icon9 {
  height: 316px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.line12 {
  height: 0;
}
.avatar-icon33 {
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
}
.button-with-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.maria-kelly9 {
  position: relative;
  line-height: 29px;
  font-weight: 600;
  display: inline-block;
  min-width: 98px;
}
.mariakllyemailcom9 {
  position: relative;
  font-size: var(--body-small-semibold-size);
  line-height: 160%;
  color: var(--color-dimgray-100);
  white-space: nowrap;
}
.name-email9 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-wrapper3,
.profile20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.profile20 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.profile-wrapper3 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl) 0 var(--padding-13xl);
}
.rounded-rectangle9 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--other-colors-untitled-border-dashboard);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.logout19 {
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 160%;
  font-weight: 500;
}
.icon295 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.logout18 {
  align-self: stretch;
  height: 26px;
  position: relative;
}
.frame9 {
  position: absolute;
  bottom: 26px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-menu9 {
  width: 233px;
  height: 80px;
  position: relative;
  display: none;
  font-size: var(--body-normal-regular-size);
  color: var(--accents-red);
}
.profile19,
.side-bar-dashboard-company9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.profile19 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-2xl);
  font-size: var(--body-large-medium-size);
  color: var(--neutrals-100);
  font-family: var(--body-small-semibold);
}
.side-bar-dashboard-company9 {
  width: 272px;
  background-color: var(--neutrals-10i);
  box-shadow: var(--y-border);
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: 409px;
}
.company-logo-icon19 {
  height: 48px;
  width: 48px;
  position: relative;
}
.company9,
.nomad18 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 73px;
}
.nomad18 {
  line-height: 120%;
  font-weight: 600;
  min-width: 72px;
  white-space: nowrap;
}
.icon296 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.job-list17,
.job-title17,
.nomad-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nomad-parent3 {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--heading-h5-size);
  color: var(--neutrals-100);
}
.job-list17,
.job-title17 {
  flex-direction: column;
}
.job-list17 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.icon297,
.notification-icon9 {
  height: 40px;
  width: 40px;
  position: relative;
}
.icon297 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.caption255 {
  flex: 1;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--body-small-semibold);
  color: var(--color-white);
  text-align: center;
  min-width: 81px;
}
.button40 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--brands-primary);
  flex: 1;
  justify-content: center;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.button40:hover {
  background-color: var(--color-mediumslateblue-100);
}
.action12,
.button40,
.top-nav12 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action12 {
  width: 235px;
  justify-content: center;
  gap: var(--gap-13xl);
}
.top-nav12 {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: var(--x-border);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-13xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-80);
  font-family: var(--body-small-semibold);
}
.icon298 {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 40px;
}
.post-a-job {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.post-job-button,
.top-nav13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.post-job-button {
  width: 162px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.top-nav13 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-13xl);
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--heading-h3-size);
  color: var(--neutrals-100);
  font-family: var(--heading-h5);
}
.stepper-icon {
  height: 56px;
  width: 56px;
  position: relative;
  object-fit: contain;
  min-height: 56px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.step-131 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 64px;
}
.job-information {
  position: relative;
  font-size: var(--body-large-medium-size);
  line-height: 29px;
  font-weight: 600;
  color: var(--neutrals-100);
}
.step-13,
.stepper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.step-13 {
  flex-direction: column;
  gap: var(--gap-11xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.stepper {
  flex-direction: row;
  gap: var(--gap-base-1);
}
.divider8 {
  width: 1px;
  height: 41px;
  position: relative;
  border-right: 1px solid var(--lights-border);
  box-sizing: border-box;
}
.stepper-icon-divider {
  height: 48.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) 0 0;
  box-sizing: border-box;
}
.stepper-icon1 {
  height: 56px;
  width: 56px;
  position: relative;
  object-fit: contain;
  min-height: 56px;
}
.step-133 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 66px;
}
.job-information1 {
  position: relative;
  font-size: var(--body-large-medium-size);
  line-height: 29px;
  font-weight: 600;
  color: var(--neutrals-100);
}
.step-132,
.stepper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.stepper1 {
  flex-direction: row;
  gap: var(--gap-base);
}
.divider9 {
  width: 1px;
  height: 41px;
  position: relative;
  border-right: 1px solid var(--lights-border);
  box-sizing: border-box;
}
.stepper-icon-divider1 {
  height: 48.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) 0 0;
  box-sizing: border-box;
}
.stepper-icon2 {
  height: 56px;
  width: 56px;
  position: relative;
  object-fit: contain;
  min-height: 56px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.step-135 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 67px;
}
.job-information2 {
  position: relative;
  font-size: var(--body-large-medium-size);
  line-height: 29px;
  font-weight: 600;
  color: var(--neutrals-100);
}
.step-134 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.stepper2,
.steppers,
.steppers-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.stepper2 {
  justify-content: flex-start;
  gap: var(--gap-base-1);
}
.steppers,
.steppers-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.steppers {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--lights-border);
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-6xl) var(--padding-sm)
    var(--padding-4xl);
  gap: var(--gap-xl);
}
.steppers-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 var(--padding-12xl-4);
  text-align: left;
  font-size: var(--body-normal-regular-size);
  color: var(--brands-primary);
  font-family: var(--body-small-semibold);
}
.basic-information3 {
  width: 228px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.list-out-your {
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  color: rgba(37, 50, 75, 0.7);
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.line13 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--lights-border);
  box-sizing: border-box;
  flex-shrink: 0;
}
.perks-and-benefits1 {
  width: 228px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.encourage-more-people {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-60);
}
.perks-benefits1 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 259px;
}
.icon299 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button41,
.caption256 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.caption256 {
  width: 84px;
  position: relative;
  font-size: var(--body-small-semibold-size);
  line-height: 160%;
  font-family: var(--body-small-semibold);
  color: var(--brands-primary);
  text-align: center;
  min-width: 84px;
}
.button41 {
  cursor: pointer;
  border: 1px solid var(--brands-secondary);
  padding: var(--padding-3xs) var(--padding-mini);
  background-color: transparent;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.button41:hover {
  background-color: var(--color-lightsteelblue-200);
  border: 1px solid var(--color-lightsteelblue-100);
  box-sizing: border-box;
}
.icon300,
.icon301 {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon301 {
  height: 24px;
  width: 24px;
}
.icon-parent32 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.full-healthcare13 {
  width: 174px;
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.we-believe-in13 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 160%;
  font-family: var(--body-small-semibold);
  color: var(--neutrals-80);
}
.benefits14,
.text13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text13 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.benefits14 {
  flex: 1;
  border-radius: var(--br-9xs);
  border: 1px solid var(--lights-border);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mini);
  gap: var(--gap-5xl);
  min-width: 178px;
}
.icon302,
.icon303 {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon303 {
  height: 24px;
  width: 24px;
}
.icon-parent33 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.full-healthcare14 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.we-believe-in14 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 160%;
  font-family: var(--body-small-semibold);
  color: var(--neutrals-80);
}
.text14 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
}
.benefits-parent,
.benefits15,
.text14 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.benefits15 {
  flex: 1;
  border-radius: var(--br-9xs);
  border: 1px solid var(--lights-border);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-mini);
  gap: var(--gap-5xl);
  min-width: 178px;
}
.benefits-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.icon304,
.icon305 {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon305 {
  height: 24px;
  width: 24px;
}
.icon-parent34 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.full-healthcare15 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.we-believe-in15 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 160%;
  font-family: var(--body-small-semibold);
  color: var(--neutrals-80);
}
.benefits16,
.text15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text15 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.benefits16 {
  width: 274px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--lights-border);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mini);
  gap: var(--gap-5xl);
}
.button-parent4,
.perks-and-benefits {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.button-parent4 {
  width: 564px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 564px;
  font-size: var(--heading-h5-size);
  font-family: var(--heading-h5);
}
.perks-and-benefits {
  width: 941px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-normal-regular-size);
}
.line14,
.step-3 {
  align-self: stretch;
  box-sizing: border-box;
}
.line14 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--lights-border);
  flex-shrink: 0;
}
.step-3 {
  height: 692px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  gap: 23.7px;
  max-width: 100%;
}
.caption257 {
  width: 109px;
  position: relative;
  font-size: var(--body-large-medium-size);
  line-height: 29px;
  display: inline-block;
  font-family: var(--body-small-semibold);
  color: var(--color-white);
  text-align: center;
  min-width: 109px;
}
.button42,
.step-4 {
  display: flex;
  justify-content: flex-start;
}
.button42 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-8xl);
  background-color: var(--brands-primary);
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.button42:hover {
  background-color: var(--color-mediumslateblue-100);
}
.step-4 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-large-medium-size);
  color: var(--neutrals-100);
  font-family: var(--body-small-semibold);
}
.dashboard-company-post-a-job,
.top-nav-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.top-nav-parent4 {
  flex: 1;
  flex-direction: column;
  max-width: calc(100% - 273px);
}
.dashboard-company-post-a-job {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-12xs);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-text);
  font-family: var(--font-red-hat-display);
}
@media screen and (max-width: 900px) {
  .side-bar-dashboard-company9 {
    display: none;
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .post-a-job {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
  .steppers {
    flex-wrap: wrap;
  }
  .button-parent4,
  .perks-benefits1 {
    flex: 1;
  }
  .perks-and-benefits {
    flex-wrap: wrap;
  }
  .step-3 {
    height: auto;
  }
  .step-4 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .top-nav-parent4 {
    max-width: 100%;
  }
  .dashboard-company-post-a-job {
    padding-left: var(--padding-12xs);
    padding-right: var(--padding-12xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .benefits-parent {
    flex-wrap: wrap;
  }
  .button-parent4 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .jobhuntly9 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .main-menu9,
  .menu36 {
    gap: var(--gap-base);
  }
  .side-bar-dashboard-company9 {
    gap: 204px;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .post-a-job {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .top-nav13 {
    flex-wrap: wrap;
  }
  .full-healthcare13,
  .full-healthcare14,
  .full-healthcare15 {
    font-size: var(--body-normal-regular-size);
    line-height: 19px;
  }
  .step-4 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
