body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-normal-regular: Epilogue;
  --font-red-hat-display: "Red Hat Display";
  --heading-h2: "Clash Display Variable";
  --body-small-regular: Inter;
  --font-helvetica: Helvetica;

  /* font sizes */
  --body-normal-regular-size: 16px;
  --body-large-regular-size: 18px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --body-small-semibold-size: 14px;
  --display-2-size: 20px;
  --heading-h2-size: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --heading-h1-size: 72px;
  --font-size-24xl: 43px;
  --font-size-39xl: 58px;
  --font-size-6xs-3: 6.3px;
  --font-size-6xs: 7px;
  --font-size-7xs-5: 5.5px;
  --heading-h3-size: 32px;
  --font-size-7xl: 26px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-4xs: 9px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-2xs: 11px;

  /* Colors */
  --color-white: #fff;
  --color-black: #202430;
  --color-gray-100: rgba(255, 255, 255, 0.9);
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --color-gray-300: rgba(0, 0, 0, 0.6);
  --color-gray-400: rgba(0, 0, 0, 0.7);
  --color-gray-500: rgba(32, 36, 48, 0.9);
  --color-gray-600: rgba(32, 36, 48, 0.7);
  --color-gray-700: rgba(255, 255, 255, 0.7);
  --color-gray-800: rgba(32, 36, 48, 0.5);
  --brands-primary: #4640de;
  --color-blueviolet-100: rgba(70, 64, 222, 0.2);
  --color-blueviolet-200: rgba(70, 64, 222, 0.03);
  --color-blueviolet-300: rgba(70, 64, 222, 0);
  --color-blueviolet-400: rgba(70, 64, 222, 0.1);
  --accents-purple: #7b61ff;
  --color-mediumslateblue-100: #6e66ff;
  --color-mediumslateblue-200: rgba(110, 102, 255, 0.09);
  --lights-blue: #eaebfd;
  --brands-tertiary: #e9ebfd;
  --other-colors-untitled-border-dashboard: #e2e7f5;
  --neutrals-20: #d6ddeb;
  --color-lavender-100: #d1d1e3;
  --neutrals-40: #a8adb7;
  --accents-yellow: #feb836;
  --accents-green: #56cdad;
  --color-mediumaquamarine-100: rgba(86, 205, 173, 0.1);
  --color-seagreen: rgba(36, 153, 122, 0.1);
  --neutrals-80: #515b6f;
  --color-dimgray-100: rgba(81, 91, 111, 0.5);
  --color-dimgray-200: rgba(81, 91, 111, 0.7);
  --color-dimgray-300: rgba(81, 91, 111, 0.3);
  --neutrals-100: #25324b;
  --accents-blue: #26a4ff;
  --lights-gray: #f8f8fd;
  --color-secondary: #f6f6fd;
  --accents-red: #ff6550;
  --color-tomato-100: rgba(255, 101, 80, 0.1);
  --color-chocolate-100: rgba(184, 82, 0, 0.1);
  --color-chocolate-200: rgba(235, 133, 51, 0.1);
  --neutrals-60: #7c8493;
  --other-colors-job-listing: #f9fafc;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #dedee3;
  --brands-secondary: #cbcbf5;
  --color-lightsteelblue-100: #b3b3db;
  --color-lightsteelblue-200: rgba(179, 179, 219, 0.09);
  --color-black1: #000;
  --color-silver-100: #bdc4d1;

  /* Gaps */
  --gap-61xl: 80px;
  --gap-xl: 20px;
  --gap-21xl: 40px;
  --gap-5xl: 24px;
  --gap-52xl: 71px;
  --gap-16xl: 35px;
  --gap-lg: 18px;
  --gap-5xs: 8px;
  --gap-4xl: 23px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-3xs: 10px;
  --gap-29xl: 48px;
  --gap-11xs: 2px;
  --gap-105xl: 124px;
  --gap-43xl: 62px;
  --gap-mini: 15px;
  --gap-12xl: 31px;
  --gap-6xs-3: 6.3px;
  --gap-11xs-6: 1.6px;
  --gap-lgi: 19px;
  --gap-9xs-1: 3.1px;
  --gap-4xs: 9px;
  --gap-9xs-2: 3.2px;
  --gap-xs: 12px;
  --gap-3xs-4: 9.4px;
  --gap-4xs-2: 8.2px;
  --gap-smi: 13px;
  --gap-489xl: 508px;
  --gap-235xl: 254px;
  --gap-44xl: 63px;
  --gap-108xl: 127px;
  --gap-base-5: 15.5px;
  --gap-9xs: 4px;
  --gap-185xl: 204px;
  --gap-83xl: 102px;
  --gap-6xl: 25px;
  --gap-32xl: 51px;
  --gap-3xl: 22px;
  --gap-11xl: 30px;
  --gap-13xl-6: 32.6px;
  --gap-45xl: 64px;
  --gap-20xl-5: 39.5px;
  --gap-2xl-5: 21.5px;
  --gap-46xl: 65px;
  --gap-lgi-7: 19.7px;
  --gap-2xs: 11px;
  --gap-7xs: 6px;
  --gap-12xs: 1px;
  --gap-439xl: 458px;
  --gap-210xl: 229px;
  --gap-6xs: 7px;
  --gap-7xl: 26px;
  --gap-440xl: 459px;
  --gap-4xl-5: 23.5px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-8xl: 27px;
  --gap-8xs: 5px;
  --gap-lgi-5: 19.5px;
  --gap-sm: 14px;
  --gap-180xl: 199px;
  --gap-296xl: 315px;
  --gap-138xl: 157px;
  --gap-379xl: 398px;
  --gap-46xs-8: -33.8px;
  --gap-base-1: 16.1px;
  --gap-10xs: 3px;
  --gap-65xl: 84px;
  --gap-23xl: 42px;
  --gap-2xs-4: 10.4px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-xl: 20px;
  --padding-21xl: 40px;
  --padding-23xl: 42px;
  --padding-7xl: 26px;
  --padding-11xs: 2px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-12xs: 1px;
  --padding-mid: 17px;
  --padding-53xl: 72px;
  --padding-41xl: 60px;
  --padding-12xl: 31px;
  --padding-6xl: 25px;
  --padding-28xl: 47px;
  --padding-20xl: 39px;
  --padding-7xs: 6px;
  --padding-4xs: 9px;
  --padding-3xs: 10px;
  --padding-12xs-5: 0.5px;
  --padding-2xs: 11px;
  --padding-8xl: 27px;
  --padding-4xl: 23px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-51xl: 70px;
  --padding-16xl: 35px;
  --padding-26xl: 45px;
  --padding-smi: 13px;
  --padding-smi-5: 12.5px;
  --padding-4xs-3: 8.3px;
  --padding-3xs-4: 9.4px;
  --padding-3xs-3: 9.3px;
  --padding-8xs-7: 4.7px;
  --padding-3xs-8: 9.8px;
  --padding-9xs-9: 3.9px;
  --padding-6xs-6: 6.6px;
  --padding-10xs: 3px;
  --padding-8xs: 5px;
  --padding-13xl: 32px;
  --padding-29xl: 48px;
  --padding-105xl: 124px;
  --padding-43xl: 62px;
  --padding-42xl: 61px;
  --padding-25xl: 44px;
  --padding-48xl: 67px;
  --padding-sm: 14px;
  --padding-base-5: 16.5px;
  --padding-2xl: 21px;
  --padding-18xl: 37px;
  --padding-mini: 15px;
  --padding-xs-5: 11.5px;
  --padding-12xs-3: 0.3px;
  --padding-52xl-8: 71.8px;
  --padding-104xl-7: 123.7px;
  --padding-37xl: 56px;
  --padding-smi-4: 12.4px;
  --padding-104xl: 123px;
  --padding-6xs: 7px;
  --padding-9xl: 28px;
  --padding-10xl: 29px;
  --padding-19xl: 38px;
  --padding-56xl: 75px;
  --padding-30xl: 49px;
  --padding-40xl: 59px;
  --padding-46xl: 65px;
  --padding-8xs-5: 4.5px;
  --padding-3xl: 22px;
  --padding-7xs-5: 5.5px;
  --padding-lgi: 19px;
  --padding-6xs-5: 6.5px;
  --padding-lg: 18px;
  --padding-89xl: 108px;
  --padding-169xl: 188px;
  --padding-75xl: 94px;
  --padding-170xl: 189px;
  --padding-780xl: 799px;
  --padding-380xl: 399px;
  --padding-180xl: 199px;
  --padding-69xl: 88px;
  --padding-11xs-5: 1.5px;
  --padding-15xl: 34px;
  --padding-14xl: 33px;
  --padding-78xl: 97px;
  --padding-24xl: 43px;
  --padding-88xl: 107px;
  --padding-59xl: 78px;
  --padding-98xl: 117px;
  --padding-35xl: 54px;
  --padding-113xl: 132px;
  --padding-2xs-5: 10.5px;
  --padding-12xl-5: 31.5px;
  --padding-33xl: 52px;
  --padding-9xs-5: 3.5px;

  /* Border radiuses */
  --br-61xl: 80px;
  --br-11xs-6: 1.6px;
  --br-9xs-1: 3.1px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-5xl: 24px;
  --br-21xl: 40px;
  --br-xl: 20px;
  --br-7xl-7: 26.7px;
  --br-31xl: 50px;
  --br-13xl: 32px;
  --br-10xs: 3px;

  /* Effects */
  --shadow: 0px 79px 128px rgba(192, 192, 192, 0.09),
  0px 28.8px 46.72px rgba(192, 192, 192, 0.06),
  0px 14px 22.68px rgba(192, 192, 192, 0.05),
  0px 6.9px 11.12px rgba(192, 192, 192, 0.04),
  0px 2.7px 4.4px rgba(192, 192, 192, 0.03);
  --x-border: 0px -1px 0px #d6ddeb inset;
  --y-border: 1px 0px 0px #d3d6db;
  --drop-shadow: -8px 8px 40px rgba(0, 0, 0, 0.08);
}
