body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-small-semibold: Epilogue;
  --heading-h5: "Clash Display Variable";
  --body-small-medium: Inter;
  --font-red-hat-display: "Red Hat Display";

  /* font sizes */
  --body-small-semibold-size: 14px;
  --body-normal-regular-size: 16px;
  --body-large-medium-size: 18px;
  --heading-h5-size: 20px;
  --display-1-size: 72px;
  --font-size-24xl: 43px;
  --font-size-39xl: 58px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --display-2-size: 48px;
  --font-size-19xl: 38px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --heading-h3-size: 32px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --lights-blue: #eaebfd;
  --brands-tertiary: #e9ebfd;
  --other-colors-untitled-border-dashboard: #e2e7f5;
  --lights-border: #d6ddeb;
  --color-lavender-100: #d1d1e3;
  --color-lavender-200: #cfd1e3;
  --neutrals-60: #7c8493;
  --color-black: #000;
  --neutrals-100: #25324b;
  --accents-green: #56cdad;
  --color-mediumaquamarine-100: rgba(86, 205, 173, 0.1);
  --brands-primary: #4640de;
  --neutrals-40: #a8adb7;
  --color-seagreen: rgba(36, 153, 122, 0.1);
  --accents-yellow: #feb836;
  --accents-red: #ff6550;
  --accents-blue: #26a4ff;
  --accents-purple: #7b61ff;
  --color-mediumslateblue-100: #6e66ff;
  --color-mediumslateblue-200: rgba(110, 102, 255, 0.09);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #dedee3;
  --neutrals-80: #515b6f;
  --color-dimgray-100: rgba(81, 91, 111, 0.5);
  --neutrals-10i: #f8f8fd;
  --color-text: #202430;
  --color-gray-100: rgba(32, 36, 48, 0.5);
  --brands-secondary: #cbcbf5;
  --color-lightsteelblue-100: #b3b3db;
  --color-lightsteelblue-200: rgba(179, 179, 219, 0.09);

  /* Gaps */
  --gap-5xl: 24px;
  --gap-3xl: 22px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-11xs: 2px;
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-sm: 14px;
  --gap-4xl: 23px;
  --gap-10xl: 29px;
  --gap-base-1: 16.1px;
  --gap-6xs: 7px;
  --gap-9xs: 4px;
  --gap-smi: 13px;
  --gap-7xl: 26px;
  --gap-3xs: 10px;
  --gap-2xl: 21px;
  --gap-xs: 12px;
  --gap-base-5: 15.5px;
  --gap-21xl: 40px;
  --gap-12xs: 1px;
  --gap-379xl: 398px;
  --gap-180xl: 199px;
  --gap-46xs-8: -33.8px;
  --gap-4xl-5: 23.5px;
  --gap-99xl: 118px;
  --gap-40xl: 59px;
  --gap-0: 0px;
  --gap-5xs-5: 7.5px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-12xl: 31px;
  --padding-5xl: 24px;
  --padding-mid: 17px;
  --padding-4xl: 23px;
  --padding-7xs: 6px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-10xs: 3px;
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-8xs: 5px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-6xs: 7px;
  --padding-xs: 12px;
  --padding-10xl: 29px;
  --padding-13xl: 32px;
  --padding-6xs-5: 6.5px;
  --padding-2xl: 21px;
  --padding-11xs-5: 1.5px;
  --padding-11xs: 2px;
  --padding-28xl: 47px;
  --padding-91xl: 110px;
  --padding-76xl: 95px;
  --padding-88xl: 107px;
  --padding-41xl: 60px;
  --padding-59xl: 78px;
  --padding-98xl: 117px;
  --padding-69xl: 88px;
  --padding-97xl: 116px;
  --padding-89xl: 108px;
  --padding-44xl: 63px;
  --padding-35xl: 54px;
  --padding-65xl: 84px;
  --padding-93xl: 112px;
  --padding-21xl: 40px;
  --padding-42xl: 61px;
  --padding-78xl: 97px;
  --padding-smi: 13px;
  --padding-3xs-5: 9.5px;
  --padding-sm: 14px;
  --padding-mini-5: 14.5px;
  --padding-lgi: 19px;
  --padding-3xl: 22px;
  --padding-8xl: 27px;
  --padding-14xl: 33px;
  --padding-6xl: 25px;
  --padding-29xl: 48px;
  --padding-55xl: 74px;
  --padding-9xl: 28px;
  --padding-84xl: 103px;
  --padding-12xs-5: 0.5px;
  --padding-19xl: 38px;
  --padding-23xl: 42px;
  --padding-234xl: 253px;
  --padding-12xl-4: 31.4px;
  --padding-4xs-5: 8.5px;
  --padding-488xl: 507px;

  /* Border radiuses */
  --br-61xl: 80px;
  --br-9xs: 4px;
  --br-13xl: 32px;
  --br-10xs: 3px;
  --br-5xs: 8px;
  --br-31xl: 50px;

  /* Effects */
  --x-border: 0px -1px 0px #d6ddeb inset;
  --y-border: 1px 0px 0px #d3d6db;
}
