<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="./dashboard-company-applicants-job-details.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-company-applicants1">
      <div class="side-bar-dashboard-company2">
        <div class="menu8">
          <div class="container1">
            <div class="logo-22">
              <div class="input-source">
                <img
                  class="output-target-icon"
                  loading="lazy"
                  alt=""
                  src="./public/frame-32.svg"
                />
              </div>
              <h3 class="jobhuntly2">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu2">
            <div class="menu9">
              <div class="sidebar-menu18">
                <img
                  class="icon65"
                  loading="lazy"
                  alt=""
                  src="./public/icon1.svg"
                />

                <div class="caption73">Dashboard</div>
              </div>
              <div class="sidebar-menu19">
                <div class="icon-parent10">
                  <img class="icon66" alt="" src="./public/icon-110.svg" />

                  <div class="caption74">Messages</div>
                </div>
                <div class="badge2">
                  <div class="switch"></div>
                  <div class="queue">
                    <div class="stack">1</div>
                  </div>
                </div>
              </div>
              <div class="sidebar-menu20">
                <img class="icon67" alt="" src="./public/icon-2.svg" />

                <div class="caption75">Company Profile</div>
              </div>
              <div class="sidebar-menu21">
                <img class="icon68" alt="" src="./public/icon-3.svg" />

                <div class="caption76">All Applicants</div>
              </div>
              <button class="sidebar-menu22">
                <div class="indicator-frame">
                  <img
                    class="indicator-icon2"
                    alt=""
                    src="./public/indicator.svg"
                  />
                </div>
                <div class="menu10">
                  <img class="icon69" alt="" src="./public/icon-41.svg" />

                  <div class="caption77">Job Listing</div>
                </div>
              </button>
              <div class="sidebar-menu23">
                <img class="icon70" alt="" src="./public/icon-5.svg" />

                <div class="caption78">My Schedule</div>
              </div>
              <div class="sidebar-menu24">
                <img class="icon71" alt="" />

                <div class="caption79">Employee</div>
              </div>
            </div>
            <div class="timer"></div>
            <div class="settings4">
              <div class="comparator">
                <div class="settings5">SETTINGS</div>
              </div>
              <div class="menu11">
                <div class="sidebar-menu25">
                  <img class="icon72" alt="" src="./public/icon-7.svg" />

                  <div class="caption80">Settings</div>
                </div>
                <div class="sidebar-menu26">
                  <img class="icon73" alt="" src="./public/icon-8.svg" />

                  <div class="caption81">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon2" alt="" />

        <div class="profile4">
          <div class="receiver"></div>
          <div class="sender">
            <div class="profile5">
              <div class="regulator">
                <img
                  class="avatar-icon12"
                  loading="lazy"
                  alt=""
                  src="./public/avatar@2x.png"
                />
              </div>
              <div class="name-email2">
                <div class="maria-kelly2">Maria Kelly</div>
                <div class="mariakllyemailcom2">MariaKlly@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu2">
            <div class="rounded-rectangle2"></div>
            <div class="frame2">
              <div class="logout4">
                <div class="logout5">Logout</div>
                <img class="icon74" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="line2"></div>
      <main class="converter">
        <header class="top-nav3">
          <div class="job-list6">
            <img
              class="company-logo-icon6"
              alt=""
              src="./public/company-logo.svg"
            />

            <div class="job-title6">
              <div class="company2">Company</div>
              <div class="disassembler">
                <div class="nomad6">Nomad</div>
                <img class="icon75" alt="" src="./public/icon-10.svg" />
              </div>
            </div>
          </div>
          <div class="action4">
            <img
              class="notification-icon2"
              loading="lazy"
              alt=""
              src="./public/notification2.svg"
            />

            <button class="button4">
              <img class="icon76" alt="" src="./public/icon-11.svg" />

              <b class="caption82">Post a job</b>
            </button>
          </div>
        </header>
        <section class="top-nav4">
          <div class="data-aggregator-group">
            <div class="data-aggregator1">
              <img class="icon77" alt="" src="./public/icon-122.svg" />
            </div>
            <div class="greeting1">
              <h3 class="social-media-assistant5">Social Media Assistant</h3>
              <div class="company-name-location-job1">
                <div class="design1">Design</div>
                <div class="value-comparer">
                  <div class="sequence-organizer"></div>
                </div>
                <div class="full-time1">Full-Time</div>
                <div class="value-comparer1">
                  <div class="value-comparer-child"></div>
                </div>
                <div class="hired2">
                  <span>4 / </span>
                  <span class="hired3">11 Hired</span>
                </div>
              </div>
            </div>
          </div>
          <div class="nested-loop">
            <div class="button5">
              <div class="function-caller">
                <img class="icon78" alt="" src="./public/icon-132.svg" />
              </div>
              <b class="caption83">More Action</b>
            </div>
          </div>
        </section>
        <div class="tree-structure1">
          <div class="tabs2">
            <div class="tab-menu18">
              <div class="caption84">Applicants</div>
            </div>
            <div class="tab-menu19">
              <div class="caption85">Job Details</div>
              <img
                class="tab-menu-inner"
                alt=""
                src="./public/rectangle-173.svg"
              />
            </div>
            <div class="tab-menu20">
              <div class="caption86">Analytics</div>
            </div>
            <div class="tab-menu21">
              <div class="caption87">Create Form</div>
            </div>
            <div class="tab-menu22">
              <div class="caption88">Notifications</div>
            </div>
            <div class="tab-menu23">
              <div class="caption89">Notifications</div>
            </div>
          </div>
        </div>
        <section class="header6">
          <div class="company-dashboard-job-title">
            <div class="trie">
              <div class="company-logo">
                <div class="graph-traversal"></div>
                <img
                  class="stripe-logo-dp4f5yykm-1-icon"
                  loading="lazy"
                  alt=""
                  src="./public/stripe-logo-dp4f5yykm-1@2x.png"
                />
              </div>
              <h1 class="social-media-assistant6">Social Media Assistant</h1>
            </div>
            <button class="button6">
              <img class="icon79" alt="" src="./public/icon-142.svg" />

              <b class="caption90">Edit Job Details</b>
            </button>
          </div>
        </section>
        <section class="applicant-dashboard-descript">
          <div class="paragraph">
            <div class="description">
              <h3 class="description1">Description</h3>
              <div class="stripe-is-looking">
                Stripe is looking for Social Media Marketing expert to help
                manage our online networks. You will be responsible for
                monitoring our social media channels, creating content, finding
                effective ways to engage the community and incentivize others to
                engage on our channels.
              </div>
            </div>
            <div class="responsibilities">
              <h3 class="responsibilities1">Responsibilities</h3>
              <div class="document-parser">
                <div class="h-t-m-l-parser">
                  <img class="icon80" alt="" src="./public/icon-151.svg" />

                  <div class="community-engagement-to">
                    Community engagement to ensure that is supported and
                    actively represented online
                  </div>
                </div>
                <div class="c-s-v-parser">
                  <img class="icon81" alt="" src="./public/icon-151.svg" />

                  <div class="focus-on-social">
                    Focus on social media content development and publication
                  </div>
                </div>
                <div class="video-processor">
                  <img class="icon82" alt="" src="./public/icon-151.svg" />

                  <div class="marketing-and-strategy">
                    Marketing and strategy support
                  </div>
                </div>
                <div class="sentiment-analysis">
                  <img class="icon83" alt="" src="./public/icon-151.svg" />

                  <div class="stay-on-top">
                    Stay on top of trends on social media platforms, and suggest
                    content ideas to the team
                  </div>
                </div>
                <div class="database-manager">
                  <img class="icon84" alt="" src="./public/icon-151.svg" />

                  <div class="engage-with-online">
                    Engage with online communities
                  </div>
                </div>
              </div>
            </div>
            <div class="who-you-are">
              <h3 class="who-you-are1">Who You Are</h3>
              <div class="frame-parent2">
                <div class="icon-parent11">
                  <img class="icon85" alt="" src="./public/icon-151.svg" />

                  <div class="you-get-energy">
                    You get energy from people and building the ideal work
                    environment
                  </div>
                </div>
                <div class="icon-parent12">
                  <img class="icon86" alt="" src="./public/icon-151.svg" />

                  <div class="you-have-a">
                    You have a sense for beautiful spaces and office experiences
                  </div>
                </div>
                <div class="icon-parent13">
                  <img class="icon87" alt="" src="./public/icon-151.svg" />

                  <div class="you-are-a">
                    You are a confident office manager, ready for added
                    responsibilities
                  </div>
                </div>
                <div class="icon-parent14">
                  <img class="icon88" alt="" src="./public/icon-151.svg" />

                  <div class="youre-detail-oriented-and">
                    You're detail-oriented and creative
                  </div>
                </div>
                <div class="icon-parent15">
                  <img class="icon89" alt="" src="./public/icon-151.svg" />

                  <div class="youre-a-growth">
                    You're a growth marketer and know how to run campaigns
                  </div>
                </div>
              </div>
            </div>
            <div class="nice-to-haves">
              <h3 class="nice-to-haves1">Nice-To-Haves</h3>
              <div class="number-cruncher1">
                <div class="string-shaper">
                  <img class="icon90" alt="" src="./public/icon-151.svg" />

                  <div class="fluent-in-english">Fluent in English</div>
                </div>
                <div class="string-shaper1">
                  <img class="icon91" alt="" src="./public/icon-151.svg" />

                  <div class="project-management-skills">
                    Project management skills
                  </div>
                </div>
                <div class="string-shaper2">
                  <img class="icon92" alt="" src="./public/icon-151.svg" />

                  <div class="copy-editing-skills">Copy editing skills</div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-content">
            <div class="about-role">
              <h3 class="about-this-role">About this role</h3>
              <div class="progress-bar4">
                <div class="applied-of-10-container4">
                  <span class="applied4">5 applied </span>
                  <span class="of-10-capacity4">of 10 capacity</span>
                </div>
                <div class="progress-bar5">
                  <div class="function-facilitator"></div>
                  <div class="function-facilitator1"></div>
                  <div class="function-facilitator2"></div>
                  <div class="function-facilitator3"></div>
                  <div class="function-facilitator4"></div>
                </div>
              </div>
              <div class="apply-before">
                <div class="apply-before1">Apply Before</div>
                <div class="july-31-2021">July 31, 2021</div>
              </div>
              <div class="job-posted-on">
                <div class="job-posted-on1">Job Posted On</div>
                <div class="july-1-2021">July 1, 2021</div>
              </div>
              <div class="job-type">
                <div class="job-type1">Job Type</div>
                <div class="full-time2">Full-Time</div>
              </div>
              <div class="salary">
                <div class="salary1">Salary</div>
                <div class="k-85k-usd">$75k-$85k USD</div>
              </div>
            </div>
            <div class="size-scaler"></div>
            <div class="categories">
              <h3 class="categories1">Categories</h3>
              <div class="iteration-innovator">
                <button class="label32">
                  <div class="caption91">Marketing</div>
                </button>
                <button class="label33">
                  <div class="caption92">Design</div>
                </button>
              </div>
            </div>
            <div class="size-scaler1"></div>
            <div class="required-skills">
              <div class="container-collector">
                <h3 class="required-skills1">Required Skills</h3>
              </div>
              <div class="transition-transformer">
                <button class="tag">
                  <div class="caption93">Project Management</div>
                </button>
                <div class="aggregation-assembler">
                  <button class="tag1">
                    <div class="caption94">Copywriting</div>
                  </button>
                  <button class="tag2">
                    <div class="caption95">English</div>
                  </button>
                </div>
                <button class="tag3">
                  <div class="caption96">Social Media Marketing</div>
                </button>
                <button class="tag4">
                  <div class="caption97">Copy Editing</div>
                </button>
              </div>
            </div>
          </div>
        </section>
        <section class="filter-fixer">
          <div class="landing-page-perks-benefit">
            <div class="title4">
              <h3 class="perks-benefits">Perks & Benefits</h3>
              <div class="this-job-comes">
                This job comes with several perks and benefits
              </div>
            </div>
            <div class="content4">
              <div class="row-1">
                <div class="benefits">
                  <img class="icon93" alt="" src="./public/icon-28.svg" />

                  <div class="text">
                    <div class="full-healthcare">Full Healthcare</div>
                    <div class="we-believe-in">
                      We believe in thriving communities and that starts with
                      our team being happy and healthy.
                    </div>
                  </div>
                </div>
                <div class="benefits1">
                  <img class="icon94" alt="" src="./public/icon-29.svg" />

                  <div class="text1">
                    <div class="full-healthcare1">Unlimited Vacation</div>
                    <div class="we-believe-in1">
                      We believe you should have a flexible schedule that makes
                      space for family, wellness, and fun.
                    </div>
                  </div>
                </div>
                <div class="benefits2">
                  <img class="icon95" alt="" src="./public/icon-30.svg" />

                  <div class="text2">
                    <div class="full-healthcare2">Skill Development</div>
                    <div class="we-believe-in2">
                      We believe in always learning and leveling up our skills.
                      Whether it's a conference or online course.
                    </div>
                  </div>
                </div>
                <div class="benefits3">
                  <img class="icon96" alt="" src="./public/icon-31.svg" />

                  <div class="text3">
                    <div class="full-healthcare3">Team Summits</div>
                    <div class="we-believe-in3">
                      Every 6 months we have a full team summit where we have
                      fun, reflect, and plan for the upcoming quarter.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row-2">
                <div class="benefits4">
                  <img class="icon97" alt="" src="./public/icon-32.svg" />

                  <div class="text4">
                    <div class="full-healthcare4">Remote Working</div>
                    <div class="we-believe-in4">
                      You know how you perform your best. Work from home, coffee
                      shop or anywhere when you feel like it.
                    </div>
                  </div>
                </div>
                <div class="benefits5">
                  <img class="icon98" alt="" src="./public/icon-33.svg" />

                  <div class="text5">
                    <div class="full-healthcare5">Commuter Benefits</div>
                    <div class="we-believe-in5">
                      We’re grateful for all the time and energy each team
                      member puts into getting to work every day.
                    </div>
                  </div>
                </div>
                <div class="benefits6">
                  <img class="icon99" alt="" src="./public/icon-34.svg" />

                  <div class="text6">
                    <div class="full-healthcare6">We give back.</div>
                    <div class="we-believe-in6">
                      We anonymously match any donation our employees make (up
                      to $/€ 600) so they can support the organizations they
                      care about most—times two.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="line3"></div>
        </section>
      </main>
    </div>
  </body>
</html>
