<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./dashboard-company-applicant-profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-company-applicant">
      <div class="side-bar-dashboard-company4">
        <div class="menu16">
          <div class="logo-2-frame">
            <div class="logo-24">
              <div class="logo-2-inner2">
                <img
                  class="frame-child12"
                  loading="lazy"
                  alt=""
                  src="./public/frame-34.svg"
                />
              </div>
              <h3 class="jobhuntly4">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu4">
            <div class="menu17">
              <div class="sidebar-menu36">
                <img
                  class="icon124"
                  loading="lazy"
                  alt=""
                  src="./public/icon1.svg"
                />

                <div class="caption124">Dashboard</div>
              </div>
              <div class="sidebar-menu37">
                <div class="icon-parent17">
                  <img class="icon125" alt="" src="./public/icon-113.svg" />

                  <div class="caption125">Messages</div>
                </div>
                <div class="badge4">
                  <div class="badge-child1"></div>
                  <div class="rooted-tree">
                    <div class="upward-connection">1</div>
                  </div>
                </div>
              </div>
              <div class="sidebar-menu38">
                <img class="icon126" alt="" src="./public/icon-2.svg" />

                <div class="caption126">Company Profile</div>
              </div>
              <button class="sidebar-menu39">
                <div class="indicator-wrapper2">
                  <img
                    class="indicator-icon4"
                    alt=""
                    src="./public/indicator.svg"
                  />
                </div>
                <div class="menu18">
                  <img class="icon127" alt="" src="./public/icon-35.svg" />

                  <div class="caption127">All Applicants</div>
                </div>
              </button>
              <div class="sidebar-menu40">
                <img class="icon128" alt="" src="./public/icon-4.svg" />

                <div class="caption128">Job Listing</div>
              </div>
              <div class="sidebar-menu41">
                <img class="icon129" alt="" src="./public/icon-5.svg" />

                <div class="caption129">My Schedule</div>
              </div>
              <div class="sidebar-menu42">
                <img class="icon130" alt="" />

                <div class="caption130">Employee</div>
              </div>
            </div>
            <div class="downward-connection"></div>
            <div class="settings8">
              <div class="settings-wrapper1">
                <div class="settings9">SETTINGS</div>
              </div>
              <div class="menu19">
                <div class="sidebar-menu43">
                  <img class="icon131" alt="" src="./public/icon-7.svg" />

                  <div class="caption131">Settings</div>
                </div>
                <div class="sidebar-menu44">
                  <img class="icon132" alt="" src="./public/icon-8.svg" />

                  <div class="caption132">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon4" alt="" />

        <div class="profile8">
          <div class="hierarchical-tree"></div>
          <div class="binary-tree">
            <div class="profile9">
              <div class="avatar-wrapper1">
                <img
                  class="avatar-icon14"
                  loading="lazy"
                  alt=""
                  src="./public/avatar@2x.png"
                />
              </div>
              <div class="name-email4">
                <div class="maria-kelly4">Maria Kelly</div>
                <div class="mariakllyemailcom4">MariaKlly@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu4">
            <div class="rounded-rectangle4"></div>
            <div class="frame4">
              <div class="logout8">
                <div class="logout9">Logout</div>
                <img class="icon133" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="top-nav-container">
        <header class="top-nav6">
          <div class="job-list8">
            <img
              class="company-logo-icon8"
              alt=""
              src="./public/company-logo.svg"
            />

            <div class="job-title8">
              <div class="company4">Company</div>
              <div class="meta-tree">
                <div class="nomad8">Nomad</div>
                <img class="icon134" alt="" src="./public/icon-411.svg" />
              </div>
            </div>
          </div>
          <div class="action6">
            <img
              class="notification-icon4"
              loading="lazy"
              alt=""
              src="./public/notification4.svg"
            />

            <button class="button8">
              <img class="icon135" alt="" src="./public/icon-112.svg" />

              <b class="caption133">Post a job</b>
            </button>
          </div>
        </header>
        <section class="top-nav7">
          <div class="data-aggregator-wrapper">
            <div class="data-aggregator2">
              <img class="icon136" alt="" src="./public/icon-124.svg" />

              <div class="branching-tree">
                <h3 class="applicant-details">Applicant Details</h3>
              </div>
            </div>
          </div>
          <div class="button9">
            <div class="icon-wrapper2">
              <img class="icon137" alt="" src="./public/icon-133.svg" />
            </div>
            <b class="caption134">More Action</b>
          </div>
        </section>
        <section class="binary-tree-leaf">
          <div class="binary-tree-internal">
            <div class="company-dashboard-applicant">
              <div class="header9">
                <img
                  class="avatar-icon15"
                  alt=""
                  src="./public/avatar-11@2x.png"
                />

                <div class="name10">
                  <h3 class="jerome-bell">Jerome Bell</h3>
                  <div class="product-designer">Product Designer</div>
                  <div class="trie-edge">
                    <img class="icon138" alt="" src="./public/icon-143.svg" />

                    <div class="hash-table-key">4.0</div>
                  </div>
                </div>
              </div>
              <div class="applied-jobs">
                <div class="title5">
                  <div class="applied-jobs1">Applied Jobs</div>
                  <div class="days-ago">2 days ago</div>
                </div>
                <div class="line4"></div>
                <div class="jobs">
                  <div class="product-development">Product Development</div>
                  <div class="company-name-location-job2">
                    <div class="marketing">Marketing</div>
                    <div class="stack1">
                      <div class="tree-traversal"></div>
                    </div>
                    <div class="full-time3">Full-Time</div>
                  </div>
                </div>
              </div>
              <div class="applied-jobs2">
                <div class="title6">
                  <div class="stage1">Stage</div>
                  <div class="hash-table-insertion">
                    <div class="queue-pop">
                      <div class="stack-push"></div>
                    </div>
                    <div class="interview">Interview</div>
                  </div>
                </div>
                <div class="linked-list-remove">
                  <div class="line5"></div>
                  <div class="line6"></div>
                  <div class="line7"></div>
                  <div class="line8"></div>
                </div>
              </div>
              <div class="buttons">
                <button class="button10">
                  <b class="caption135">Schedule Interview</b>
                </button>
                <button class="button11">
                  <img class="icon139" alt="" src="./public/icon-152.svg" />
                </button>
              </div>
              <div class="line9"></div>
              <div class="social-links">
                <div class="linked-list-merge">
                  <div class="contact">Contact</div>
                </div>
                <div class="email">
                  <img class="icon140" alt="" src="./public/icon-162.svg" />

                  <div class="content5">
                    <div class="email1">Email</div>
                    <div class="jeromebell45emailcom">
                      jeromeBell45@email.com
                    </div>
                  </div>
                </div>
                <div class="email2">
                  <img class="icon141" alt="" src="./public/icon-171.svg" />

                  <div class="content6">
                    <div class="phone">Phone</div>
                    <div class="div42">+44 1245 572 135</div>
                  </div>
                </div>
                <div class="email3">
                  <img class="icon142" alt="" src="./public/icon-181.svg" />

                  <div class="content7">
                    <div class="instagram">Instagram</div>
                    <div class="instagramcomjeromebell">
                      instagram.com/jeromebell
                    </div>
                  </div>
                </div>
                <div class="email4">
                  <img class="icon143" alt="" src="./public/icon-191.svg" />

                  <div class="content8">
                    <div class="twitter">Twitter</div>
                    <div class="twittercomjeromebell">
                      twitter.com/jeromebell
                    </div>
                  </div>
                </div>
                <div class="email5">
                  <img class="icon144" alt="" src="./public/icon-201.svg" />

                  <div class="content9">
                    <div class="website">Website</div>
                    <div class="wwwjeromebellcom">www.jeromebell.com</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="company-dashboard-applicant1">
              <div class="tab">
                <div class="tabs3">
                  <div class="tab-menu24">
                    <div class="caption136">Applicant Profile</div>
                    <img
                      class="rectangle-icon"
                      alt=""
                      src="./public/rectangle-173.svg"
                    />
                  </div>
                  <div class="tab-menu25">
                    <div class="caption137">Resume</div>
                  </div>
                  <div class="tab-menu26">
                    <div class="caption138">Hiring Progress</div>
                  </div>
                  <div class="tab-menu27">
                    <div class="caption139">Interview Schedule</div>
                  </div>
                  <div class="tab-menu28">
                    <div class="caption140">Notifications</div>
                  </div>
                  <div class="tab-menu29">
                    <div class="caption141">Notifications</div>
                  </div>
                </div>
              </div>
              <div class="content-wrapper">
                <div class="content10">
                  <div class="personal-info">
                    <div class="personal-info1">Personal Info</div>
                    <div class="content11">
                      <div class="col-1">
                        <div class="name11">
                          <div class="full-name2">Full Name</div>
                          <div class="jerome-bell1">Jerome Bell</div>
                        </div>
                        <div class="dob">
                          <div class="date-of-birth">Date of Birth</div>
                          <div class="march-23-1995-container">
                            <span>March 23, 1995 </span>
                            <span class="yo">(26 y.o)</span>
                            <span> </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="gender">
                          <div class="gender1">Gender</div>
                          <div class="male">Male</div>
                        </div>
                        <div class="language">
                          <div class="language1">Language</div>
                          <div class="english-french-bahasa">
                            English, French, Bahasa
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="address">
                      <div class="address1">Address</div>
                      <div class="washington-ave-manchester">
                        4517 Washington Ave. Manchester, Kentucky 39495
                      </div>
                    </div>
                  </div>
                  <div class="logical-operators"></div>
                  <div class="professional-info">
                    <div class="professional-info1">Professional Info</div>
                    <div class="about-me">
                      <div class="about-me1">About Me</div>
                      <div class="about-me2">
                        <div class="im-a-product">
                          I’m a product designer + filmmaker currently working
                          remotely at Twitter from beautiful Manchester, United
                          Kingdom. I’m passionate about designing digital
                          products that have a positive impact on the world.
                        </div>
                        <div class="for-10-years">
                          For 10 years, I’ve specialised in interface,
                          experience & interaction design as well as working in
                          user research and product strategy for product
                          agencies, big tech companies & start-ups.
                        </div>
                      </div>
                    </div>
                    <div class="content12">
                      <div class="col-11">
                        <div class="current-job">
                          <div class="current-job1">Current Job</div>
                          <div class="product-designer1">Product Designer</div>
                        </div>
                        <div class="highest-qualification">
                          <div class="highest-qualification-held">
                            Highest Qualification Held
                          </div>
                          <div class="bachelors-in-engineering">
                            Bachelors in Engineering
                          </div>
                        </div>
                      </div>
                      <div class="col-21">
                        <div class="experience-in-years">
                          <div class="experience-in-years1">
                            Experience in Years
                          </div>
                          <div class="years">4 Years</div>
                        </div>
                        <div class="skill-set">
                          <div class="skill-set1">Skill set</div>
                          <div class="debugging-tools">
                            <button class="tag5">
                              <div class="caption142">Project Management</div>
                            </button>
                            <button class="tag6">
                              <div class="caption143">Copywriting</div>
                            </button>
                            <button class="tag7">
                              <div class="caption144">English</div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
