<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./dashboard-company-all-applicants.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-company-all-applica">
      <div class="side-bar-dashboard-company5">
        <div class="menu20">
          <div class="image-list">
            <div class="logo-25">
              <div class="dropdown-menu">
                <img
                  class="progress-bar-icon"
                  loading="lazy"
                  alt=""
                  src="./public/frame-35.svg"
                />
              </div>
              <h3 class="jobhuntly5">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu5">
            <div class="menu21">
              <div class="sidebar-menu45">
                <img
                  class="icon145"
                  loading="lazy"
                  alt=""
                  src="./public/icon1.svg"
                />

                <div class="caption145">Dashboard</div>
              </div>
              <div class="sidebar-menu46">
                <div class="icon-parent18">
                  <img class="icon146" alt="" src="./public/icon-113.svg" />

                  <div class="caption146">Messages</div>
                </div>
                <div class="badge5">
                  <div class="icon147"></div>
                  <div class="wrapper2">
                    <div class="div43">1</div>
                  </div>
                </div>
              </div>
              <div class="sidebar-menu47">
                <img class="icon148" alt="" src="./public/icon-2.svg" />

                <div class="caption147">Company Profile</div>
              </div>
              <button class="sidebar-menu48">
                <div class="indicator-wrapper3">
                  <img
                    class="indicator-icon5"
                    alt=""
                    src="./public/indicator.svg"
                  />
                </div>
                <div class="menu22">
                  <img class="icon149" alt="" src="./public/icon-35.svg" />

                  <div class="caption148">All Applicants</div>
                </div>
              </button>
              <div class="sidebar-menu49">
                <img class="icon150" alt="" src="./public/icon-4.svg" />

                <div class="caption149">Job Listing</div>
              </div>
              <div class="sidebar-menu50">
                <img class="icon151" alt="" src="./public/icon-5.svg" />

                <div class="caption150">My Schedule</div>
              </div>
              <div class="sidebar-menu51">
                <img class="icon152" alt="" />

                <div class="caption151">Employee</div>
              </div>
            </div>
            <div class="main-menu-child1"></div>
            <div class="settings10">
              <div class="settings-wrapper2">
                <div class="settings11">SETTINGS</div>
              </div>
              <div class="menu23">
                <div class="sidebar-menu52">
                  <img class="icon153" alt="" src="./public/icon-7.svg" />

                  <div class="caption152">Settings</div>
                </div>
                <div class="sidebar-menu53">
                  <img class="icon154" alt="" src="./public/icon-8.svg" />

                  <div class="caption153">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon5" alt="" />

        <div class="profile10">
          <div class="star"></div>
          <div class="triangle">
            <div class="profile11">
              <div class="square">
                <img
                  class="avatar-icon16"
                  loading="lazy"
                  alt=""
                  src="./public/avatar@2x.png"
                />
              </div>
              <div class="name-email5">
                <div class="maria-kelly5">Maria Kelly</div>
                <div class="mariakllyemailcom5">MariaKlly@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu5">
            <div class="rounded-rectangle5"></div>
            <div class="frame5">
              <div class="logout10">
                <div class="logout11">Logout</div>
                <img class="icon155" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="frame-main">
        <section class="top-nav8">
          <div class="job-list9">
            <img
              class="company-logo-icon9"
              alt=""
              src="./public/company-logo.svg"
            />

            <div class="job-title9">
              <div class="company5">Company</div>
              <div class="panel">
                <div class="nomad9">Nomad</div>
                <img class="icon156" alt="" src="./public/icon-411.svg" />
              </div>
            </div>
          </div>
          <div class="action7">
            <img
              class="notification-icon5"
              loading="lazy"
              alt=""
              src="./public/notification4.svg"
            />

            <button class="button12">
              <img class="icon157" alt="" src="./public/icon-112.svg" />

              <b class="caption154">Post a job</b>
            </button>
          </div>
        </section>
        <section class="company-dashboard-search-f1">
          <div class="total-applicants-19-wrapper">
            <h3 class="total-applicants1">Total Applicants : 19</h3>
          </div>
          <div class="filter1">
            <div class="input-processor">
              <div class="input1">
                <div class="icon-wrapper3">
                  <img class="icon158" alt="" src="./public/icon-125.svg" />
                </div>
                <input
                  class="this-is-placeholder3"
                  placeholder="Search Applicants"
                  type="text"
                />
              </div>
              <button class="filter-sort4">
                <div class="icon-wrapper4">
                  <img class="icon159" alt="" src="./public/icon-15.svg" />
                </div>
                <div class="caption155">Filter</div>
              </button>
            </div>
            <div class="divider-wrapper">
              <div class="divider2"></div>
            </div>
            <div class="pill-tab-wrapper">
              <div class="pill-tab2">
                <button class="tab-menu30">
                  <div class="caption156">Pipeline View</div>
                </button>
                <button class="tab-menu31">
                  <div class="caption157">Table View</div>
                </button>
                <div class="tab-menu32">
                  <div class="caption158">Caption</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="company-dashboard-applicants-wrapper">
          <div class="company-dashboard-applicants1">
            <nav class="header10">
              <div class="full-name3">
                <div class="checkbox11">
                  <div class="checkboxfalse">
                    <img class="icon-check" alt="" />
                  </div>
                  <div class="caption159">Caption</div>
                </div>
                <div class="dijkstra-algorithm">
                  <div class="full-name4">Full Name</div>
                  <img class="icon160" alt="" src="./public/icon-161.svg" />
                </div>
              </div>
              <div class="score2">
                <div class="score3">Score</div>
                <img class="icon161" alt="" src="./public/icon-161.svg" />
              </div>
              <div class="stage2">
                <div class="hiring-stage1">Hiring Stage</div>
                <img class="icon162" alt="" src="./public/icon-161.svg" />
              </div>
              <div class="applied-date3">
                <div class="applied-date4">Applied Date</div>
                <img class="icon163" alt="" src="./public/icon-161.svg" />
              </div>
              <div class="applied-date5">
                <div class="job-role">Job Role</div>
                <img class="icon164" alt="" src="./public/icon-161.svg" />
              </div>
              <div class="applied-date6">
                <div class="action8">Action</div>
                <img class="icon165" alt="" src="./public/icon-161.svg" />
              </div>
            </nav>
            <div class="rows1">
              <div class="applicant-list10">
                <div class="name12">
                  <input class="checkbox12" type="checkbox" />

                  <div class="strongly-connected-components">
                    <img
                      class="avatar-icon17"
                      alt=""
                      src="./public/avatar-1@2x.png"
                    />

                    <div class="jake-gyll10">Jake Gyll</div>
                  </div>
                </div>
                <div class="graph-traversal1">
                  <img class="icon166" alt="" src="./public/icon-202.svg" />

                  <div class="b-f-s">0.0</div>
                </div>
                <div class="label48">
                  <button class="label49">
                    <div class="label-child30"></div>
                    <div class="caption160">Inreview</div>
                  </button>
                </div>
                <div class="july-202110">13 July, 2021</div>
                <div class="designer">Designer</div>
                <div class="graph-theory">
                  <button class="buttonsecondaryfilledsmall10">
                    <b class="caption161">See Application</b>
                  </button>
                  <img class="icon167" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list11">
                <div class="name13">
                  <input class="checkbox13" type="checkbox" />

                  <div class="avatar-parent8">
                    <img
                      class="avatar-icon18"
                      alt=""
                      src="./public/avatar-2@2x.png"
                    />

                    <div class="jake-gyll11">Guy Hawkins</div>
                  </div>
                </div>
                <div class="icon-parent19">
                  <img class="icon168" alt="" src="./public/icon-202.svg" />

                  <div class="div44">0.0</div>
                </div>
                <div class="label50">
                  <button class="label51">
                    <div class="label-child31"></div>
                    <div class="caption162">Inreview</div>
                  </button>
                </div>
                <div class="july-202111">13 July, 2021</div>
                <div class="designer1">JavaScript Dev</div>
                <div class="buttonsecondaryfilledsmall-parent7">
                  <button class="buttonsecondaryfilledsmall11">
                    <b class="caption163">See Application</b>
                  </button>
                  <img class="icon169" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list12">
                <div class="name14">
                  <input class="checkbox14" type="checkbox" />

                  <div class="avatar-parent9">
                    <img
                      class="avatar-icon19"
                      alt=""
                      src="./public/avatar-31@2x.png"
                    />

                    <div class="jake-gyll12">Cyndy Lillibridge</div>
                  </div>
                </div>
                <div class="icon-parent20">
                  <img class="icon170" alt="" src="./public/icon-24.svg" />

                  <div class="div45">4.5</div>
                </div>
                <div class="label52">
                  <button class="label53">
                    <div class="label-child32"></div>
                    <div class="caption164">Shortlisted</div>
                  </button>
                </div>
                <div class="july-202112">12 July, 2021</div>
                <div class="designer2">Golang Dev</div>
                <div class="buttonsecondaryfilledsmall-parent8">
                  <button class="buttonsecondaryfilledsmall12">
                    <b class="caption165">See Application</b>
                  </button>
                  <img class="icon171" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list13">
                <div class="name15">
                  <input class="checkbox15" type="checkbox" />

                  <div class="avatar-parent10">
                    <img
                      class="avatar-icon20"
                      alt=""
                      src="./public/avatar-41@2x.png"
                    />

                    <div class="jake-gyll13">Rodolfo Goode</div>
                  </div>
                </div>
                <div class="icon-parent21">
                  <img class="icon172" alt="" src="./public/icon-24.svg" />

                  <div class="div46">3.75</div>
                </div>
                <div class="label54">
                  <button class="label55">
                    <div class="label-child33"></div>
                    <div class="caption166">Declined</div>
                  </button>
                </div>
                <div class="july-202113">11 July, 2021</div>
                <div class="designer3">NET Dev</div>
                <div class="buttonsecondaryfilledsmall-parent9">
                  <button class="buttonsecondaryfilledsmall13">
                    <b class="caption167">See Application</b>
                  </button>
                  <img class="icon173" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list14">
                <div class="name16">
                  <input class="checkbox16" type="checkbox" />

                  <div class="avatar-parent11">
                    <img
                      class="avatar-icon21"
                      alt=""
                      src="./public/avatar-5@2x.png"
                    />

                    <div class="jake-gyll14">Leif Floyd</div>
                  </div>
                </div>
                <div class="icon-parent22">
                  <img class="icon174" alt="" src="./public/icon-281.svg" />

                  <div class="div47">4.8</div>
                </div>
                <div class="label56">
                  <button class="label57">
                    <div class="label-child34"></div>
                    <div class="caption168">Hired</div>
                  </button>
                </div>
                <div class="july-202114">11 July, 2021</div>
                <div class="designer4">Graphic Design</div>
                <div class="buttonsecondaryfilledsmall-parent10">
                  <button class="buttonsecondaryfilledsmall14">
                    <b class="caption169">See Application</b>
                  </button>
                  <img class="icon175" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list15">
                <div class="name17">
                  <input class="checkbox17" type="checkbox" />

                  <div class="avatar-parent12">
                    <img
                      class="avatar-icon22"
                      alt=""
                      src="./public/avatar-6@2x.png"
                    />

                    <div class="jake-gyll15">Jenny Wilson</div>
                  </div>
                </div>
                <div class="icon-parent23">
                  <img class="icon176" alt="" src="./public/icon-281.svg" />

                  <div class="div48">4.6</div>
                </div>
                <div class="label58">
                  <button class="label59">
                    <div class="label-child35"></div>
                    <div class="caption170">Hired</div>
                  </button>
                </div>
                <div class="july-202115">9 July, 2021</div>
                <div class="designer5">Designer</div>
                <div class="buttonsecondaryfilledsmall-parent11">
                  <button class="buttonsecondaryfilledsmall15">
                    <b class="caption171">See Application</b>
                  </button>
                  <img class="icon177" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list16">
                <div class="name18">
                  <input class="checkbox18" type="checkbox" />

                  <div class="avatar-parent13">
                    <img
                      class="avatar-icon23"
                      alt=""
                      src="./public/avatar-7@2x.png"
                    />

                    <div class="jake-gyll16">Jerome Bell</div>
                  </div>
                </div>
                <div class="icon-parent24">
                  <img class="icon178" alt="" src="./public/icon-281.svg" />

                  <div class="div49">4.0</div>
                </div>
                <div class="label60">
                  <button class="label61">
                    <div class="label-child36"></div>
                    <div class="caption172">Interviewed</div>
                  </button>
                </div>
                <div class="july-202116">5 July, 2021</div>
                <div class="designer6">Designer</div>
                <div class="buttonsecondaryfilledsmall-parent12">
                  <button class="buttonsecondaryfilledsmall16">
                    <b class="caption173">See Application</b>
                  </button>
                  <img class="icon179" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list17">
                <div class="name19">
                  <input class="checkbox19" type="checkbox" />

                  <div class="avatar-parent14">
                    <img
                      class="avatar-icon24"
                      alt=""
                      src="./public/avatar-8@2x.png"
                    />

                    <div class="jake-gyll17">Eleanor Pena</div>
                  </div>
                </div>
                <div class="icon-parent25">
                  <img class="icon180" alt="" src="./public/icon-281.svg" />

                  <div class="div50">3.90</div>
                </div>
                <div class="label62">
                  <button class="label63">
                    <div class="label-child37"></div>
                    <div class="caption174">Declined</div>
                  </button>
                </div>
                <div class="july-202117">5 July, 2021</div>
                <div class="designer7">Designer</div>
                <div class="buttonsecondaryfilledsmall-parent13">
                  <button class="buttonsecondaryfilledsmall17">
                    <b class="caption175">See Application</b>
                  </button>
                  <img class="icon181" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list18">
                <div class="name20">
                  <input class="checkbox20" type="checkbox" />

                  <div class="avatar-parent15">
                    <img
                      class="avatar-icon25"
                      alt=""
                      src="./public/avatar-9@2x.png"
                    />

                    <div class="jake-gyll18">Darrell Steward</div>
                  </div>
                </div>
                <div class="icon-parent26">
                  <img class="icon182" alt="" src="./public/icon-281.svg" />

                  <div class="div51">4.20</div>
                </div>
                <div class="label64">
                  <button class="label65">
                    <div class="label-child38"></div>
                    <div class="caption176">Shortlisted</div>
                  </button>
                </div>
                <div class="july-202118">3 July, 2021</div>
                <div class="designer8">Designer</div>
                <div class="buttonsecondaryfilledsmall-parent14">
                  <button class="buttonsecondaryfilledsmall18">
                    <b class="caption177">See Application</b>
                  </button>
                  <img class="icon183" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <footer class="applicant-list19">
                <div class="name21">
                  <input class="checkbox21" type="checkbox" />

                  <div class="avatar-parent16">
                    <img
                      class="avatar-icon26"
                      alt=""
                      src="./public/avatar-10@2x.png"
                    />

                    <div class="jake-gyll19">Floyd Miles</div>
                  </div>
                </div>
                <div class="icon-parent27">
                  <img class="icon184" alt="" src="./public/icon-281.svg" />

                  <div class="div52">4.10</div>
                </div>
                <div class="label66">
                  <button class="label67">
                    <div class="label-child39"></div>
                    <div class="caption178">Interviewed</div>
                  </button>
                </div>
                <div class="july-202119">1 July, 2021</div>
                <div class="designer9">Designer</div>
                <div class="buttonsecondaryfilledsmall-parent15">
                  <button class="buttonsecondaryfilledsmall19">
                    <b class="caption179">See Application</b>
                  </button>
                  <img class="icon185" alt="" src="./public/icon-22.svg" />
                </div>
              </footer>
            </div>
            <div class="selector2">
              <div class="page-views2">
                <div class="view2">View</div>
                <div class="filter-sort5">
                  <img class="icon186" alt="" src="./public/icon-411.svg" />

                  <div class="caption180">10</div>
                </div>
                <div class="applicants-per-page2">Applicants per page</div>
              </div>
              <div class="pagination16">
                <img class="icon187" alt="" src="./public/icon-42.svg" />

                <div class="input-processor1">
                  <div class="pagination17">
                    <div class="sequence-manager">1</div>
                  </div>
                  <div class="pagination18">
                    <div class="div53">2</div>
                  </div>
                  <div class="pagination19">
                    <div class="div54">3</div>
                  </div>
                  <div class="pagination20">
                    <div class="div55">4</div>
                  </div>
                  <div class="pagination21">
                    <div class="div56">5</div>
                  </div>
                  <div class="pagination22">
                    <div class="div57">...</div>
                  </div>
                  <div class="pagination23">
                    <div class="div58">33</div>
                  </div>
                </div>
                <img class="icon188" alt="" src="./public/icon-43.svg" />
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
