<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="./dashboard-company-applicants-table-view.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-company-applicants">
      <div class="side-bar-dashboard-company1">
        <div class="menu4">
          <div class="output-container">
            <div class="logo-21">
              <div class="logo-2-child">
                <img
                  class="frame-icon"
                  loading="lazy"
                  alt=""
                  src="./public/frame-31.svg"
                />
              </div>
              <h3 class="jobhuntly1">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu1">
            <div class="menu5">
              <div class="sidebar-menu9">
                <img
                  class="icon21"
                  loading="lazy"
                  alt=""
                  src="./public/icon1.svg"
                />

                <div class="caption31">Dashboard</div>
              </div>
              <div class="sidebar-menu10">
                <div class="icon-group">
                  <img class="icon22" alt="" src="./public/icon-14.svg" />

                  <div class="caption32">Messages</div>
                </div>
                <div class="badge1">
                  <div class="badge-item"></div>
                  <div class="wrapper1">
                    <div class="div6">1</div>
                  </div>
                </div>
              </div>
              <div class="sidebar-menu11">
                <img class="icon23" alt="" src="./public/icon-2.svg" />

                <div class="caption33">Company Profile</div>
              </div>
              <div class="sidebar-menu12">
                <img class="icon24" alt="" src="./public/icon-3.svg" />

                <div class="caption34">All Applicants</div>
              </div>
              <button class="sidebar-menu13">
                <div class="indicator-container">
                  <img
                    class="indicator-icon1"
                    alt=""
                    src="./public/indicator.svg"
                  />
                </div>
                <div class="menu6">
                  <img class="icon25" alt="" src="./public/icon-41.svg" />

                  <div class="caption35">Job Listing</div>
                </div>
              </button>
              <div class="sidebar-menu14">
                <img class="icon26" alt="" src="./public/icon-5.svg" />

                <div class="caption36">My Schedule</div>
              </div>
              <div class="sidebar-menu15">
                <img class="icon27" alt="" />

                <div class="caption37">Employee</div>
              </div>
            </div>
            <div class="main-menu-item"></div>
            <div class="settings2">
              <div class="settings-container">
                <div class="settings3">SETTINGS</div>
              </div>
              <div class="menu7">
                <div class="sidebar-menu16">
                  <img class="icon28" alt="" src="./public/icon-7.svg" />

                  <div class="caption38">Settings</div>
                </div>
                <div class="sidebar-menu17">
                  <img class="icon29" alt="" src="./public/icon-8.svg" />

                  <div class="caption39">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon1" alt="" />

        <div class="profile2">
          <div class="line1"></div>
          <div class="profile-container">
            <div class="profile3">
              <div class="avatar-container">
                <img
                  class="avatar-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/avatar@2x.png"
                />
              </div>
              <div class="name-email1">
                <div class="maria-kelly1">Maria Kelly</div>
                <div class="mariakllyemailcom1">MariaKlly@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu1">
            <div class="rounded-rectangle1"></div>
            <div class="frame1">
              <div class="logout2">
                <div class="logout3">Logout</div>
                <img class="icon30" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="top-nav-group">
        <section class="top-nav1">
          <div class="job-list5">
            <img
              class="company-logo-icon5"
              alt=""
              src="./public/company-logo.svg"
            />

            <div class="job-title5">
              <div class="company1">Company</div>
              <div class="nomad-group">
                <div class="nomad5">Nomad</div>
                <img class="icon31" alt="" src="./public/icon-10.svg" />
              </div>
            </div>
          </div>
          <div class="action2">
            <img
              class="notification-icon1"
              loading="lazy"
              alt=""
              src="./public/notification1.svg"
            />

            <button class="button2">
              <img class="icon32" alt="" src="./public/icon-11.svg" />

              <b class="caption40">Post a job</b>
            </button>
          </div>
        </section>
        <section class="top-nav2">
          <div class="data-aggregator-parent">
            <div class="data-aggregator">
              <img class="icon33" alt="" src="./public/icon-121.svg" />
            </div>
            <div class="greeting">
              <h3 class="social-media-assistant4">Social Media Assistant</h3>
              <div class="company-name-location-job">
                <div class="design">Design</div>
                <div class="output-generator">
                  <div class="conditional-branch"></div>
                </div>
                <div class="full-time">Full-Time</div>
                <div class="output-generator1">
                  <div class="output-generator-child"></div>
                </div>
                <div class="hired">
                  <span>4 / </span>
                  <span class="hired1">11 Hired</span>
                </div>
              </div>
            </div>
          </div>
          <div class="loop">
            <div class="button3">
              <div class="comparison-operator">
                <img class="icon34" alt="" src="./public/icon-131.svg" />
              </div>
              <b class="caption41">More Action</b>
            </div>
          </div>
        </section>
        <div class="logical-operator">
          <nav class="tabs1">
            <div class="tab-menu9">
              <div class="caption42">Applicants</div>
              <img
                class="tab-menu-item"
                alt=""
                src="./public/rectangle-173.svg"
              />
            </div>
            <div class="tab-menu10">
              <div class="caption43">Job Details</div>
            </div>
            <div class="tab-menu11">
              <div class="caption44">Analytics</div>
            </div>
            <div class="tab-menu12">
              <div class="caption45">Create Form</div>
            </div>
            <div class="tab-menu13">
              <div class="caption46">Notifications</div>
            </div>
            <div class="tab-menu14">
              <div class="caption47">Notifications</div>
            </div>
          </nav>
        </div>
        <section class="company-dashboard-search-f">
          <div class="video-processing">
            <div class="total-applicants">Total Applicants : 19</div>
          </div>
          <div class="filter">
            <div class="input-parent">
              <div class="input">
                <div class="icon-frame">
                  <img class="icon35" alt="" src="./public/icon-141.svg" />
                </div>
                <input
                  class="this-is-placeholder1"
                  placeholder="Search Applicants"
                  type="text"
                />
              </div>
              <button class="filter-sort">
                <div class="icon-wrapper1">
                  <img class="icon36" alt="" src="./public/icon-15.svg" />
                </div>
                <div class="caption48">Filter</div>
              </button>
            </div>
            <div class="event-handler">
              <div class="divider"></div>
            </div>
            <div class="sequence-controller">
              <div class="pill-tab1">
                <button class="tab-menu15">
                  <div class="caption49">Pipeline View</div>
                </button>
                <button class="tab-menu16">
                  <div class="caption50">Table View</div>
                </button>
                <div class="tab-menu17">
                  <div class="caption51">Caption</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="tree-structure">
          <div class="company-dashboard-applicants">
            <div class="header5">
              <div class="full-name">
                <input class="checkbox" type="checkbox" />

                <div class="strong-component">
                  <div class="full-name1">Full Name</div>
                  <img class="icon37" alt="" src="./public/icon-161.svg" />
                </div>
              </div>
              <div class="score">
                <div class="score1">Score</div>
                <img class="icon38" alt="" src="./public/icon-161.svg" />
              </div>
              <div class="stage">
                <div class="hiring-stage">Hiring Stage</div>
                <img class="icon39" alt="" src="./public/icon-161.svg" />
              </div>
              <div class="applied-date">
                <div class="applied-date1">Applied Date</div>
                <img class="icon40" alt="" src="./public/icon-161.svg" />
              </div>
              <div class="applied-date2">
                <div class="action3">Action</div>
                <img class="icon41" alt="" src="./public/icon-161.svg" />
              </div>
            </div>
            <div class="rows">
              <div class="applicant-list">
                <div class="name">
                  <input class="checkbox1" type="checkbox" />

                  <div class="data-processor1">
                    <img
                      class="avatar-icon2"
                      alt=""
                      src="./public/avatar-1@2x.png"
                    />

                    <div class="jake-gyll">Jake Gyll</div>
                  </div>
                </div>
                <div class="image-analyzer1">
                  <img class="icon42" alt="" src="./public/icon-21.svg" />

                  <div class="error-handler">0.0</div>
                </div>
                <div class="label12">
                  <div class="label13">
                    <div class="label-child6"></div>
                    <div class="caption52">In Review</div>
                  </div>
                </div>
                <div class="july-2021">13 July, 2021</div>
                <div class="search-engine">
                  <button class="buttonsecondaryfilledsmall">
                    <b class="caption53">See Application</b>
                  </button>
                  <img class="icon43" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list1">
                <div class="name1">
                  <input class="checkbox2" type="checkbox" />

                  <div class="avatar-parent">
                    <img
                      class="avatar-icon3"
                      alt=""
                      src="./public/avatar-2@2x.png"
                    />

                    <div class="jake-gyll1">Guy Hawkins</div>
                  </div>
                </div>
                <div class="icon-parent1">
                  <img class="icon44" alt="" src="./public/icon-21.svg" />

                  <div class="div7">0.0</div>
                </div>
                <div class="label14">
                  <div class="label15">
                    <div class="label-child7"></div>
                    <div class="caption54">In Review</div>
                  </div>
                </div>
                <div class="july-20211">13 July, 2021</div>
                <div class="buttonsecondaryfilledsmall-parent">
                  <button class="buttonsecondaryfilledsmall1">
                    <b class="caption55">See Application</b>
                  </button>
                  <img class="icon45" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list2">
                <div class="name2">
                  <input class="checkbox3" type="checkbox" />

                  <div class="avatar-group">
                    <img
                      class="avatar-icon4"
                      alt=""
                      src="./public/avatar-3@2x.png"
                    />

                    <div class="jake-gyll2">Cyndy Lillibridge</div>
                  </div>
                </div>
                <div class="icon-parent2">
                  <img class="icon46" alt="" src="./public/icon-25.svg" />

                  <div class="div8">4.5</div>
                </div>
                <div class="label16">
                  <button class="label17">
                    <div class="label-child8"></div>
                    <div class="caption56">Shortlisted</div>
                  </button>
                </div>
                <div class="july-20212">12 July, 2021</div>
                <div class="buttonsecondaryfilledsmall-group">
                  <button class="buttonsecondaryfilledsmall2">
                    <b class="caption57">See Application</b>
                  </button>
                  <img class="icon47" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list3">
                <div class="name3">
                  <input class="checkbox4" type="checkbox" />

                  <div class="avatar-parent1">
                    <img
                      class="avatar-icon5"
                      alt=""
                      src="./public/avatar-4@2x.png"
                    />

                    <div class="jake-gyll3">Rodolfo Goode</div>
                  </div>
                </div>
                <div class="icon-parent3">
                  <img class="icon48" alt="" src="./public/icon-25.svg" />

                  <div class="div9">3.75</div>
                </div>
                <div class="label18">
                  <button class="label19">
                    <div class="label-child9"></div>
                    <div class="caption58">Declined</div>
                  </button>
                </div>
                <div class="july-20213">11 July, 2021</div>
                <div class="buttonsecondaryfilledsmall-container">
                  <button class="buttonsecondaryfilledsmall3">
                    <b class="caption59">See Application</b>
                  </button>
                  <img class="icon49" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list4">
                <div class="name4">
                  <input class="checkbox5" type="checkbox" />

                  <div class="avatar-parent2">
                    <img
                      class="avatar-icon6"
                      alt=""
                      src="./public/avatar-5@2x.png"
                    />

                    <div class="jake-gyll4">Leif Floyd</div>
                  </div>
                </div>
                <div class="icon-parent4">
                  <img class="icon50" alt="" src="./public/icon-25.svg" />

                  <div class="div10">4.8</div>
                </div>
                <div class="label20">
                  <button class="label21">
                    <div class="label-child10"></div>
                    <div class="caption60">Hired</div>
                  </button>
                </div>
                <div class="july-20214">11 July, 2021</div>
                <div class="buttonsecondaryfilledsmall-parent1">
                  <button class="buttonsecondaryfilledsmall4">
                    <b class="caption61">See Application</b>
                  </button>
                  <img class="icon51" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list5">
                <div class="name5">
                  <input class="checkbox6" type="checkbox" />

                  <div class="avatar-parent3">
                    <img
                      class="avatar-icon7"
                      alt=""
                      src="./public/avatar-6@2x.png"
                    />

                    <div class="jake-gyll5">Jenny Wilson</div>
                  </div>
                </div>
                <div class="icon-parent5">
                  <img class="icon52" alt="" src="./public/icon-25.svg" />

                  <div class="div11">4.6</div>
                </div>
                <div class="label22">
                  <button class="label23">
                    <div class="label-child11"></div>
                    <div class="caption62">Hired</div>
                  </button>
                </div>
                <div class="july-20215">9 July, 2021</div>
                <div class="buttonsecondaryfilledsmall-parent2">
                  <button class="buttonsecondaryfilledsmall5">
                    <b class="caption63">See Application</b>
                  </button>
                  <img class="icon53" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list6">
                <div class="name6">
                  <input class="checkbox7" type="checkbox" />

                  <div class="avatar-parent4">
                    <img
                      class="avatar-icon8"
                      alt=""
                      src="./public/avatar-7@2x.png"
                    />

                    <div class="jake-gyll6">Jerome Bell</div>
                  </div>
                </div>
                <div class="icon-parent6">
                  <img class="icon54" alt="" src="./public/icon-25.svg" />

                  <div class="div12">4.0</div>
                </div>
                <div class="label24">
                  <button class="label25">
                    <div class="label-child12"></div>
                    <div class="caption64">Interview</div>
                  </button>
                </div>
                <div class="july-20216">5 July, 2021</div>
                <div class="buttonsecondaryfilledsmall-parent3">
                  <button class="buttonsecondaryfilledsmall6">
                    <b class="caption65">See Application</b>
                  </button>
                  <img class="icon55" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list7">
                <div class="name7">
                  <input class="checkbox8" type="checkbox" />

                  <div class="avatar-parent5">
                    <img
                      class="avatar-icon9"
                      alt=""
                      src="./public/avatar-8@2x.png"
                    />

                    <div class="jake-gyll7">Eleanor Pena</div>
                  </div>
                </div>
                <div class="icon-parent7">
                  <img class="icon56" alt="" src="./public/icon-25.svg" />

                  <div class="div13">3.90</div>
                </div>
                <div class="label26">
                  <button class="label27">
                    <div class="label-child13"></div>
                    <div class="caption66">Declined</div>
                  </button>
                </div>
                <div class="july-20217">5 July, 2021</div>
                <div class="buttonsecondaryfilledsmall-parent4">
                  <button class="buttonsecondaryfilledsmall7">
                    <b class="caption67">See Application</b>
                  </button>
                  <img class="icon57" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list8">
                <div class="name8">
                  <input class="checkbox9" type="checkbox" />

                  <div class="avatar-parent6">
                    <img
                      class="avatar-icon10"
                      alt=""
                      src="./public/avatar-9@2x.png"
                    />

                    <div class="jake-gyll8">Darrell Steward</div>
                  </div>
                </div>
                <div class="icon-parent8">
                  <img class="icon58" alt="" src="./public/icon-25.svg" />

                  <div class="div14">4.20</div>
                </div>
                <div class="label28">
                  <button class="label29">
                    <div class="label-child14"></div>
                    <div class="caption68">Shortlisted</div>
                  </button>
                </div>
                <div class="july-20218">3 July, 2021</div>
                <div class="buttonsecondaryfilledsmall-parent5">
                  <button class="buttonsecondaryfilledsmall8">
                    <b class="caption69">See Application</b>
                  </button>
                  <img class="icon59" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
              <div class="applicant-list9">
                <div class="name9">
                  <input class="checkbox10" type="checkbox" />

                  <div class="avatar-parent7">
                    <img
                      class="avatar-icon11"
                      alt=""
                      src="./public/avatar-10@2x.png"
                    />

                    <div class="jake-gyll9">Floyd Miles</div>
                  </div>
                </div>
                <div class="icon-parent9">
                  <img class="icon60" alt="" src="./public/icon-25.svg" />

                  <div class="div15">4.10</div>
                </div>
                <div class="label30">
                  <button class="label31">
                    <div class="label-child15"></div>
                    <div class="caption70">Interview</div>
                  </button>
                </div>
                <div class="july-20219">1 July, 2021</div>
                <div class="buttonsecondaryfilledsmall-parent6">
                  <button class="buttonsecondaryfilledsmall9">
                    <b class="caption71">See Application</b>
                  </button>
                  <img class="icon61" alt="" src="./public/icon-22.svg" />
                </div>
              </div>
            </div>
            <div class="selector">
              <div class="page-views">
                <div class="view">View</div>
                <div class="filter-sort1">
                  <img class="icon62" alt="" src="./public/icon-411.svg" />

                  <div class="caption72">10</div>
                </div>
                <div class="applicants-per-page">Applicants per page</div>
              </div>
              <div class="pagination">
                <img class="icon63" alt="" src="./public/icon-42.svg" />

                <div class="condition-handler">
                  <div class="pagination1">
                    <div class="signal-processor">1</div>
                  </div>
                  <div class="pagination2">
                    <div class="div16">2</div>
                  </div>
                  <div class="pagination3">
                    <div class="div17">3</div>
                  </div>
                  <div class="pagination4">
                    <div class="div18">4</div>
                  </div>
                  <div class="pagination5">
                    <div class="div19">5</div>
                  </div>
                  <div class="pagination6">
                    <div class="div20">...</div>
                  </div>
                  <div class="pagination7">
                    <div class="div21">33</div>
                  </div>
                </div>
                <img class="icon64" alt="" src="./public/icon-43.svg" />
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
