<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" th:href="@{./css/Company/global.css}" />
    <link rel="stylesheet" th:href="@{./css/Company/index.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-company">
      <div class="side-bar-dashboard-company">
        <div class="menu">
          <div class="logo-2-wrapper">
            <div class="logo-2">
              <div class="logo-2-inner">
                <img
                  class="frame-child"
                  loading="lazy"
                  alt=""
                 th:src="@{./images/Company/frame-3.svg}"
                />
              </div>
              <h3 class="jobhuntly">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu">
            <div class="menu1">
              <div class="sidebar-menu">
                <div class="indicator-wrapper">
                  <img
                    class="indicator-icon"
                    alt=""
                   th:src="@{./images/Company/indicator.svg}"
                  />
                </div>
                <div class="menu2">
                  <img
                    class="icon"
                    loading="lazy"
                    alt=""
                   th:src="@{./images/Company/icon.svg}"
                  />

                  <div class="caption">Dashboard</div>
                </div>
              </div>
              <div class="sidebar-menu1">
                <div class="icon-parent">
                  <img class="icon1" alt=""th:src="@{./images/Company/icon-1.svg}" />

                  <div class="caption1">Messages</div>
                </div>
                <div class="badge">
                  <div class="badge-child"></div>
                  <div class="wrapper">
                    <div class="div">1</div>
                  </div>
                </div>
              </div>
              <a  th:href="@{/profile}" class="sidebar-menu2">
<!--                <a th:href="@{/profile}" class="fill-div">-->
                <img class="icon2" alt="" th:src="@{./images/Company/icon-2.svg}" />
                <div class="caption2">Company Profile</div>
<!--                </a>-->
              </a>
              <div class="sidebar-menu3">
                <img class="icon3" alt=""th:src="@{./images/Company/icon-3.svg}" />

                <a th:href="@{/allApplicants}" class="caption3">All Applicants</a>
              </div>
              <div class="sidebar-menu4">
                <img class="icon4" alt="" th:src="@{./images/Company/icon-4.svg}" />

                <a class="caption4" th:href="@{/joblisting}">Job Listing</a>
              </div>
              <div class="sidebar-menu5">
                <img class="icon5" alt="" th:src="@{./images/Company/icon-5.svg}" />

                <div class="caption5">My Schedule</div>
              </div>
              <div class="sidebar-menu6">
                <img class="icon6" alt="" />

                <div class="caption6">Employee</div>
              </div>
            </div>
            <div class="main-menu-child"></div>
            <div class="settings">
              <div class="settings-wrapper">
                <div class="settings1">SETTINGS</div>
              </div>
              <div class="menu3">
                <div class="sidebar-menu7">
                  <img class="icon7" alt=""th:src="@{./images/Company/icon-7.svg}" />

                  <a class="caption7" th:href="@{/settings}">Settings</a>
                </div>
                <div class="sidebar-menu8">
                  <img class="icon8" alt="" th:src="@{./images/Company/icon-8.svg}" />

                  <div class="caption8">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon" loading="lazy" alt="" />

        <div class="profile">
          <div class="line"></div>
          <div class="profile-wrapper">
            <div class="profile1">
              <div class="avatar-wrapper">
                <img
                  class="avatar-icon"
                  loading="lazy"
                  alt=""
                 th:src="@{./images/Company/avatar@2x.png}"
                />
              </div>
              <div class="name-email">
                <div class="maria-kelly">Maria Kelly</div>
                <div class="mariakllyemailcom">MariaKlly@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu">
            <div class="rounded-rectangle"></div>
            <div class="frame">
              <div class="logout">
                <div class="logout1">Logout</div>
                <img class="icon9" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="top-nav-parent">
        <header class="top-nav">
          <div class="job-list">
            <img
              class="company-logo-icon"
              alt=""
             th:src="@{./images/Company/company-logo.svg}"
            />

            <div class="job-title">
              <div class="company">Company</div>
              <div class="nomad-parent">
                <div class="nomad">Nomad</div>
                <img class="icon10" alt=""th:src="@{./images/Company/icon-10.svg}" />
              </div>
            </div>
          </div>
          <div class="action">
            <img
              class="notification-icon"
              loading="lazy"
              alt=""
             th:src="@{./images/Company/notification.svg}"
            />

            <button class="button">
              <img class="icon11" alt=""th:src="@{./images/Company/icon-11.svg}" />

              <b class="caption9">Post a job</b>
            </button>
          </div>
        </header>
        <section class="greeting-filter">
          <div class="box-bunch">
            <h3 class="good-morning-maria">Good morning, Maria</h3>
            <div class="here-is-your">
              Here is your job listings statistic report from July 19 - July 25.
            </div>
          </div>
          <div class="dropdown-wrapper">
            <div class="dropdown">
              <div class="this-is-placeholder">Jul 19 - Jul 25</div>
              <div class="image-inventory">
                <img class="icon12" alt=""th:src="@{./images/Company/icon-12.svg}" />
              </div>
            </div>
          </div>
        </section>
        <section class="audio-bank">
          <div class="action-parent">
            <div class="action1">
              <div class="new-candidates">
                <div class="div1" th:text="${numberLiveCompany}"></div>
                <div class="new-candidates-to">New candidates to review</div>
                <img class="icon13" alt="" th:src="@{./images/Company/icon-13.svg}" />
              </div>
              <div class="schedule">
                <div class="shape-shift-parent">
                  <div class="shape-shift" th:text="${numberInterviewCompany}"></div>
                  <div class="schedule-for-today">Interview Applicants</div>
                </div>
                <img class="icon14" alt=""th:src="@{./images/Company/icon-13.svg}" />
              </div>
              <div class="messages">
                <div class="parent">
                  <div class="div2" th:text="${numberAcceptedCompany}"></div>
                  <div class="messages-received">Accept applicant</div>
                </div>
                <img class="icon15" alt=""th:src="@{./images/Company/icon-13.svg}" />
              </div>
            </div>
            <div class="job-statistic-parent">
              <div class="job-statistic">
                <div class="header">
                  <div class="title">
                    <div class="job-statistics-parent">
                      <div class="job-statistics">Job statistics</div>
                      <div class="showing-jobstatistic-jul">
                        Showing Jobstatistic Jul 19-25
                      </div>
                    </div>
                    <div class="pill-tab">
                      <button class="tab-menu">
                        <div class="caption10">Week</div>
                      </button>
                      <button class="tab-menu1">
                        <div class="caption11">Month</div>
                      </button>
                      <button class="tab-menu2">
                        <div class="caption12">Year</div>
                      </button>
                    </div>
                  </div>
                  <div class="tabs">
                    <div class="tab-menu3">
                      <div class="caption13">Overview</div>
                      <img
                        class="tab-menu-child"
                        loading="lazy"
                        alt=""
                       th:src="@{./images/Company/rectangle-173.svg}"
                      />
                    </div>
                    <div class="tab-menu4">
                      <div class="caption14">Jobs View</div>
                    </div>
                    <div class="tab-menu5">
                      <div class="caption15">Jobs Applied</div>
                    </div>
                    <div class="tab-menu6">
                      <div class="caption16">Notifications</div>
                    </div>
                    <div class="tab-menu7">
                      <div class="caption17">Notifications</div>
                    </div>
                    <div class="tab-menu8">
                      <div class="caption18">Notifications</div>
                    </div>
                  </div>
                </div>
                <div class="job-statistic-inner">
                  <div class="frame-parent">
                    <div class="frame-group">
                      <div class="bar-parent">
                        <div class="bar">
                          <div class="bar-child"></div>
                          <div class="bar-item"></div>
                        </div>
                        <div class="frame-container">
                          <div class="data-hub-parent">
                            <div class="data-hub">
                              <img
                                class="shape-set-icon"
                                loading="lazy"
                                alt=""
                               th:src="@{./images/Company/polygon-1.svg}"
                              />

                              <div class="visitors">
                                <div class="frame-div">
                                  <div class="image-stack-wrapper">
                                    <input
                                      class="image-stack"
                                      type="checkbox"
                                    />
                                  </div>
                                  <div class="symbol-saver">122</div>
                                </div>
                                <div class="frame-parent1">
                                  <div class="rectangle-wrapper">
                                    <input
                                      class="rectangle-input"
                                      type="checkbox"
                                    />
                                  </div>
                                  <div class="div3">34</div>
                                </div>
                              </div>
                            </div>
                            <div class="frame-wrapper">
                              <div class="bar-group">
                                <div class="bar1">
                                  <div class="path-piece"></div>
                                  <div class="bar-inner"></div>
                                </div>
                                <div class="bar2">
                                  <div class="rectangle-div"></div>
                                  <div class="bar-child1"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="bar3">
                            <div class="bar-child2"></div>
                            <div class="bar-child3"></div>
                          </div>
                        </div>
                        <div class="bar4">
                          <div class="bar-child4"></div>
                          <div class="bar-child5"></div>
                        </div>
                        <div class="bar5">
                          <div class="bar-child6"></div>
                          <div class="bar-child7"></div>
                        </div>
                        <div class="bar6">
                          <div class="bar-child8"></div>
                          <div class="bar-child9"></div>
                        </div>
                      </div>
                      <div class="star-stellar">
                        <div class="mon">Mon</div>
                        <div class="tue">Tue</div>
                        <div class="wed">Wed</div>
                        <div class="thu">Thu</div>
                        <div class="fri">Fri</div>
                        <div class="sat">Sat</div>
                        <div class="sun">Sun</div>
                      </div>
                      <div class="image-importer-parent">
                        <div class="image-importer">
                          <div class="symbol-swapper">
                            <div class="color-collector"></div>
                          </div>
                          <div class="job-view">Job View</div>
                        </div>
                        <div class="image-importer1">
                          <div class="image-importer-inner">
                            <div class="frame-item"></div>
                          </div>
                          <div class="job-applied">Job Applied</div>
                        </div>
                      </div>
                    </div>
                    <div class="stats">
                      <div class="card-dashboard">
                        <div class="title1">
                          <div class="job-views">Job Views</div>
                          <div class="align-alignment">
                            <img
                              class="icon16"
                              alt=""
                             th:src="@{./images/Company/icon-16.svg}"
                            />
                          </div>
                        </div>
                        <div class="spacer-sizer">
                          <div class="arrange-arrangement">2,342</div>
                          <div class="proximity-proximity">
                            <div class="this-week">This Week</div>
                            <div class="shape-sort-shapes-parent">
                              <div class="shape-sort-shapes">6.4%</div>
                              <img
                                class="icon17"
                                alt=""
                               th:src="@{./images/Company/icon-17.svg}"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-dashboard1">
                        <div class="title2">
                          <div class="job-applied1">Job Applied</div>
                          <div class="icon-wrapper">
                            <img
                              class="icon18"
                              alt=""
                             th:src="@{./images/Company/icon-18.svg}"
                            />
                          </div>
                        </div>
                        <div class="group">
                          <div class="div4">654</div>
                          <div class="this-week-parent">
                            <div class="this-week1">This Week</div>
                            <div class="container">
                              <div class="div5">0.5%</div>
                              <img
                                class="icon19"
                                alt=""
                               th:src="@{./images/Company/icon-19.svg}"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="path-pattern-pathway">
                <div class="job-open">
                  <div class="job-open1">Job Open</div>
                  <div class="color-color-picker">
                    <div class="gradient-gradient-editor">12</div>
                    <div class="blend-box-blender">
                      <div class="jobs-opened">Jobs Opened</div>
                    </div>
                  </div>
                </div>
                <div class="applicant-summary">
                  <div class="corner-corners">
                    <div class="applicants-summary">Applicants Summary</div>
                  </div>
                  <div class="distribute-distributor">
                    <div class="spacer-sizer-sizer">
                      <div class="arrange-arranger">
                        <div class="proximity-proximate">67</div>
                        <div class="applicants">Applicants</div>
                      </div>
                    </div>
                    <div class="chart">
                      <div class="shape-sort-shape-sorter"></div>
                      <div class="shape-sort-shape-sorter1"></div>
                      <div class="shape-sort-shape-sorter2"></div>
                      <div class="data-processor">
                        <div class="data-processor-child"></div>
                        <div class="data-processor-item"></div>
                      </div>
                    </div>
                  </div>
                  <div class="image-analyzer">
                    <div class="number-cruncher">
                      <div class="string-transformer">
                        <div class="list-manager">
                          <div class="tree-builder">
                            <div class="map-creator"></div>
                            <div class="map-creator1"></div>
                            <div class="map-creator2"></div>
                          </div>
                        </div>
                        <div class="set-handler">
                          <div class="full-time-container">
                            <span>Full Time : </span>
                            <span class="span">45</span>
                          </div>
                          <div class="part-time-24-container">
                            <span>Part-Time : </span>
                            <span class="span1">24</span>
                          </div>
                          <div class="remote-22-container">
                            <span>Remote : </span>
                            <span class="span2">22</span>
                          </div>
                        </div>
                      </div>
                      <div class="stack-supplier">
                        <div class="dictionary-builder">
                          <div class="hash-table-handler">
                            <div class="hash-table-handler-child"></div>
                            <div class="hash-table-handler-item"></div>
                          </div>
                        </div>
                        <div class="internship-32-parent">
                          <div class="internship-32-container">
                            <span>Internship : </span>
                            <span class="span3">32</span>
                          </div>
                          <div class="contract-30-container">
                            <span>Contract : </span>
                            <span class="span4">30</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="job-updates">
              <div class="title3">
                <div class="job-updates1">Job Updates</div>
                <button class="button-parent">
                  <div class="button1">View All</div>
                  <div class="icon-container">
                    <img class="icon20" alt=""th:src="@{./images/Company/icon-20.svg}" />
                  </div>
                </button>
              </div>
              <div class="row">
                <div class="job-list1">
                  <div class="content">
                    <div class="header1">
                      <img
                        class="company-logo-icon1"
                        alt=""
                       th:src="@{./images/Company/company-logo-1.svg}"
                      />

                      <button class="label">
                        <div class="caption19">Full-Time</div>
                      </button>
                    </div>
                    <div class="job-title1">
                      <div class="social-media-assistant">
                        Social Media Assistant
                      </div>
                      <div class="location">
                        <div class="nomad1">Nomad</div>
                        <div class="location-inner">
                          <div class="frame-inner"></div>
                        </div>
                        <div class="paris-france">Paris, France</div>
                      </div>
                    </div>
                  </div>
                  <div class="labels">
                    <button class="label1">
                      <div class="label-child"></div>
                      <div class="caption20">Marketing</div>
                    </button>
                    <button class="label2">
                      <div class="label-item"></div>
                      <div class="caption21">Design</div>
                    </button>
                  </div>
                  <div class="progress-bar-parent">
                    <div class="progress-bar">
                      <div class="progress-bar-child"></div>
                      <div class="progress-bar-item"></div>
                      <div class="rectangle-parent">
                        <div class="frame-child1"></div>
                        <div class="frame-child2"></div>
                      </div>
                      <div class="progress-bar-inner"></div>
                    </div>
                    <div class="applied-of-10-container">
                      <span class="applied">5 applied</span>
                      <span class="of-10-capacity">
                        <span class="span5"> </span>
                        <span>of 10 capacity</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="job-list2">
                  <div class="content1">
                    <div class="header2">
                      <img
                        class="company-logo-icon2"
                        alt=""
                       th:src="@{./images/Company/company-logo-2.svg}"
                      />

                      <button class="label3">
                        <div class="caption22">Full-Time</div>
                      </button>
                    </div>
                    <div class="job-title2">
                      <div class="social-media-assistant1">Brand Designer</div>
                      <div class="location1">
                        <div class="nomad2">Nomad</div>
                        <div class="location-child">
                          <div class="ellipse-div"></div>
                        </div>
                        <div class="paris-france1">Paris, France</div>
                      </div>
                    </div>
                  </div>
                  <div class="labels1">
                    <button class="label4">
                      <div class="label-inner"></div>
                      <div class="caption23">Business</div>
                    </button>
                    <button class="label5">
                      <div class="label-child1"></div>
                      <div class="caption24">Design</div>
                    </button>
                  </div>
                  <div class="progress-bar-group">
                    <div class="progress-bar1">
                      <div class="progress-bar-child1"></div>
                      <div class="progress-bar-child2"></div>
                      <div class="rectangle-group">
                        <div class="frame-child3"></div>
                        <div class="frame-child4"></div>
                      </div>
                      <div class="progress-bar-child3"></div>
                    </div>
                    <div class="applied-of-10-container1">
                      <span class="applied1">5 applied</span>
                      <span class="of-10-capacity1">
                        <span class="span6"> </span>
                        <span>of 10 capacity</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="job-list3">
                  <div class="content2">
                    <div class="header3">
                      <img
                        class="company-logo-icon3"
                        alt=""
                       th:src="@{./images/Company/company-logo-3.svg}"
                      />

                      <button class="label6">
                        <div class="caption25">Full-Time</div>
                      </button>
                    </div>
                    <div class="job-title3">
                      <div class="social-media-assistant2">
                        Interactive Developer
                      </div>
                      <div class="location2">
                        <div class="nomad3">Terraform</div>
                        <div class="location-inner1">
                          <div class="frame-child5"></div>
                        </div>
                        <div class="paris-france2">Berlin, Germany</div>
                      </div>
                    </div>
                  </div>
                  <div class="labels2">
                    <button class="label7">
                      <div class="label-child2"></div>
                      <div class="caption26">Marketing</div>
                    </button>
                    <button class="label8">
                      <div class="label-child3"></div>
                      <div class="caption27">Design</div>
                    </button>
                  </div>
                  <div class="progress-bar-container">
                    <div class="progress-bar2">
                      <div class="progress-bar-child4"></div>
                      <div class="progress-bar-child5"></div>
                      <div class="rectangle-container">
                        <div class="frame-child6"></div>
                        <div class="frame-child7"></div>
                      </div>
                      <div class="progress-bar-child6"></div>
                    </div>
                    <div class="applied-of-10-container2">
                      <span class="applied2">5 applied</span>
                      <span class="of-10-capacity2">
                        <span class="span7"> </span>
                        <span>of 10 capacity</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="job-list4">
                  <div class="content3">
                    <div class="header4">
                      <img
                        class="company-logo-icon4"
                        alt=""
                       th:src="@{./images/Company/company-logo-4@2x.png}"
                      />

                      <button class="label9">
                        <div class="caption28">Full-Time</div>
                      </button>
                    </div>
                    <div class="job-title4">
                      <div class="social-media-assistant3">
                        Product Designer
                      </div>
                      <div class="location3">
                        <div class="nomad4">ClassPass</div>
                        <div class="location-inner2">
                          <div class="frame-child8"></div>
                        </div>
                        <div class="paris-france3">Berlin, Germ..</div>
                      </div>
                    </div>
                  </div>
                  <div class="labels3">
                    <button class="label10">
                      <div class="label-child4"></div>
                      <div class="caption29">Business</div>
                    </button>
                    <button class="label11">
                      <div class="label-child5"></div>
                      <div class="caption30">Design</div>
                    </button>
                  </div>
                  <div class="progress-bar-parent1">
                    <div class="progress-bar3">
                      <div class="progress-bar-child7"></div>
                      <div class="progress-bar-child8"></div>
                      <div class="rectangle-parent1">
                        <div class="frame-child9"></div>
                        <div class="frame-child10"></div>
                      </div>
                      <div class="progress-bar-child9"></div>
                    </div>
                    <div class="applied-of-10-container3">
                      <span class="applied3">5 applied</span>
                      <span class="of-10-capacity3">
                        <span class="span8"> </span>
                        <span>of 10 capacity</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
