<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./interview-schedule.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap"
    />
</head>
<body>
<div class="dashboard-company-interview">
    <div class="side-bar-dashboard-company5">
        <div class="menu81">
            <div class="logo-2-wrapper6">
                <div class="logo-228">
                    <div class="logo-2-inner15">
                        <img
                                class="frame-child150"
                                loading="lazy"
                                alt=""
                                src="./public/frame-317.svg"
                        />
                    </div>
                    <h3 class="jobhuntly36">JobHuntly</h3>
                </div>
            </div>
            <div class="main-menu15">
                <div class="menu82">
                    <div class="sidebar-menu125">
                        <img
                                class="icon500"
                                loading="lazy"
                                alt=""
                                src="./public/icon2.svg"
                        />

                        <div class="caption607">Dashboard</div>
                    </div>
                    <div class="sidebar-menu126">
                        <div class="icon-parent50">
                            <img class="icon501" alt="" src="./public/icon-130.svg" />

                            <div class="caption608">Messages</div>
                        </div>
                        <div class="badge15">
                            <div class="badge-child5"></div>
                            <div class="div102">1</div>
                        </div>
                    </div>
                    <div class="sidebar-menu127">
                        <img class="icon502" alt="" src="./public/icon-32.svg" />

                        <div class="caption609">Company Profile</div>
                    </div>
                    <div class="sidebar-menu128">
                        <img class="icon503" alt="" src="./public/icon-34.svg" />

                        <div class="caption610">All Applicants</div>
                    </div>
                    <div class="sidebar-menu129">
                        <img class="icon504" alt="" src="./public/icon-43.svg" />

                        <div class="caption611">Job Listing</div>
                    </div>
                    <button class="sidebar-menu130">
                        <div class="indicator-wrapper6">
                            <img
                                    class="indicator-icon15"
                                    alt=""
                                    src="./public/indicator.svg"
                            />
                        </div>
                        <div class="menu83">
                            <img class="icon505" alt="" src="./public/icon-55.svg" />

                            <div class="caption612">My Schedule</div>
                        </div>
                    </button>
                    <div class="sidebar-menu131">
                        <img class="icon506" alt="" />

                        <div class="caption613">Employee</div>
                    </div>
                </div>
                <div class="main-menu-child9"></div>
                <div class="settings34">
                    <div class="settings-wrapper11">
                        <div class="settings35">SETTINGS</div>
                    </div>
                    <div class="menu84">
                        <div class="sidebar-menu132">
                            <img class="icon507" alt="" src="./public/icon-51.svg" />

                            <div class="caption614">Settings</div>
                        </div>
                        <div class="sidebar-menu133">
                            <img class="icon508" alt="" src="./public/icon-810.svg" />

                            <div class="caption615">Help Center</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="pattern-icon38" alt="" />

        <div class="profile33">
            <div class="line47"></div>
            <div class="profile-wrapper6">
                <div class="profile34">
                    <div class="avatar-wrapper9">
                        <img
                                class="avatar-icon40"
                                loading="lazy"
                                alt=""
                                src="./public/avatar2@2x.png"
                        />
                    </div>
                    <div class="name-email15">
                        <div class="maria-kelly6">Maria Kelly</div>
                        <div class="mariakllyemailcom5">MariaKlly@email.com</div>
                    </div>
                </div>
            </div>
            <div class="profile-menu15">
                <div class="rounded-rectangle17"></div>
                <div class="frame16">
                    <div class="logout30">
                        <div class="logout31">Logout</div>
                        <img class="icon509" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="top-nav-parent7">
        <header class="top-nav22">
            <div class="job-list72">
                <img
                        class="company-logo-icon84"
                        alt=""
                        src="./public/company-logo10.svg"
                />

                <div class="job-title80">
                    <div class="company13">Company</div>
                    <div class="nomad-container">
                        <div class="nomad76">Nomad</div>
                        <img class="icon510" alt="" src="./public/icon-107.svg" />
                    </div>
                </div>
            </div>
            <div class="action17">
                <img
                        class="notification-icon16"
                        loading="lazy"
                        alt=""
                        src="./public/notification4.svg"
                />

                <button class="button126">
                    <img class="icon511" alt="" src="./public/icon-1110.svg" />

                    <b class="caption616">Post a job</b>
                </button>
            </div>
        </header>
        <div class="title52">
            <div class="my-schedule-parent">
                <h3 class="my-schedule">My Schedule</h3>
                <button class="button127">
                    <b class="caption617">Today</b>
                </button>
            </div>
            <div class="month">
                <img class="icon512" alt="" src="./public/icon-1211.svg" />

                <b class="november-2021">NOVEMBER 2021</b>
                <img class="icon513" alt="" src="./public/icon-135.svg" />
            </div>
            <div class="algorithm">
                <div class="tab-menu42">
                    <div class="caption618">Day</div>
                </div>
                <div class="tab-menu43">
                    <div class="caption619">Week</div>
                    <img
                            class="tab-menu-child3"
                            alt=""
                            src="./public/rectangle-1735.svg"
                    />
                </div>
                <div class="tab-menu44">
                    <div class="caption620">Month</div>
                </div>
            </div>
        </div>
        <section class="splitter">
            <div class="transformer1">
                <div class="calendar">
                    <button class="button128">
                        <div class="sequencer">
                            <img class="icon514" alt="" src="./public/icon-145.svg" />
                        </div>
                        <b class="caption621">Create Event</b>
                    </button>
                    <div class="property-1default">
                        <div class="sorter1">
                            <div class="selector2">
                                <b class="november-20211">NOVEMBER 2021</b>
                                <div class="analyzer">
                                    <img class="icon515" alt="" src="./public/icon-155.svg" />

                                    <img class="icon516" alt="" src="./public/icon-45.svg" />
                                </div>
                            </div>
                        </div>
                        <div class="accumulator">
                            <div class="refiner">
                                <div class="date-default">Sun</div>
                                <div class="controller">
                                    <div class="date-default1">26</div>
                                </div>
                                <div class="integrator1">
                                    <div class="date-default2">2</div>
                                </div>
                                <div class="comparator-plus">
                                    <div class="date-default3">9</div>
                                </div>
                                <div class="transformer-plus">
                                    <div class="date-default4">16</div>
                                </div>
                                <div class="layer">
                                    <div class="date-default5">23</div>
                                </div>
                                <div class="artificial-intelligence">
                                    <div class="date-default6">30</div>
                                </div>
                            </div>
                            <div class="refiner1">
                                <div class="date-default7">Mon</div>
                                <div class="date-default-wrapper">
                                    <div class="date-default8">27</div>
                                </div>
                                <div class="date-default-container">
                                    <div class="date-default9">3</div>
                                </div>
                                <div class="date-default-frame">
                                    <div class="date-default10">10</div>
                                </div>
                                <div class="refiner-inner">
                                    <div class="condition-set-parent">
                                        <div class="condition-set">
                                            <div class="date-default11">17</div>
                                        </div>
                                        <div class="workflow">
                                            <div class="decision-tree1">
                                                <div class="decision-tree-child"></div>
                                                <div class="date-default12">24</div>
                                            </div>
                                            <div class="cluster">
                                                <div class="date-default13">31</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="refiner2">
                                <div class="date-default14">Tue</div>
                                <div class="date-default-wrapper1">
                                    <div class="date-default15">28</div>
                                </div>
                                <div class="date-default-wrapper2">
                                    <div class="date-default16">4</div>
                                </div>
                                <div class="date-default-wrapper3">
                                    <div class="date-default17">11</div>
                                </div>
                                <div class="date-default-wrapper4">
                                    <div class="date-default18">18</div>
                                </div>
                                <div class="date-default-wrapper5">
                                    <div class="date-default19">25</div>
                                </div>
                                <div class="date-default-wrapper6">
                                    <div class="date-default20">1</div>
                                </div>
                            </div>
                            <div class="refiner3">
                                <div class="date-default21">Wed</div>
                                <div class="date-default-wrapper7">
                                    <div class="date-default22">29</div>
                                </div>
                                <div class="date-default-wrapper8">
                                    <div class="date-default23">5</div>
                                </div>
                                <div class="date-default-wrapper9">
                                    <div class="date-default24">12</div>
                                </div>
                                <div class="date-default-wrapper10">
                                    <div class="date-default25">19</div>
                                </div>
                                <div class="date-default-wrapper11">
                                    <div class="date-default26">26</div>
                                </div>
                                <div class="date-default-wrapper12">
                                    <div class="date-default27">2</div>
                                </div>
                            </div>
                            <div class="refiner4">
                                <div class="date-default28">Thu</div>
                                <div class="date-default-wrapper13">
                                    <div class="date-default29">30</div>
                                </div>
                                <div class="date-default-wrapper14">
                                    <div class="date-default30">6</div>
                                </div>
                                <div class="date-default-wrapper15">
                                    <div class="date-default31">13</div>
                                </div>
                                <div class="date-default-wrapper16">
                                    <div class="date-default32">20</div>
                                </div>
                                <div class="date-default-wrapper17">
                                    <div class="date-default33">27</div>
                                </div>
                                <div class="date-default-wrapper18">
                                    <div class="date-default34">3</div>
                                </div>
                            </div>
                            <div class="machine-learning">
                                <div class="perceptron">
                                    <div class="date-default35">Fri</div>
                                </div>
                                <div class="neural-network">
                                    <div class="date-default36">31</div>
                                </div>
                                <div class="neural-network1">
                                    <div class="date-default37">7</div>
                                </div>
                                <div class="neural-network2">
                                    <div class="date-default38">14</div>
                                </div>
                                <div class="neural-network3">
                                    <div class="date-default39">21</div>
                                </div>
                                <div class="date-default40">28</div>
                                <div class="neural-network4">
                                    <div class="date-default41">4</div>
                                </div>
                            </div>
                            <div class="refiner5">
                                <div class="date-default42">Sat</div>
                                <div class="date-default-wrapper19">
                                    <div class="date-default43">1</div>
                                </div>
                                <div class="date-default-wrapper20">
                                    <div class="date-default44">8</div>
                                </div>
                                <div class="date-default-wrapper21">
                                    <div class="date-default45">15</div>
                                </div>
                                <div class="date-default-wrapper22">
                                    <div class="date-default46">22</div>
                                </div>
                                <div class="date-default-wrapper23">
                                    <div class="date-default47">29</div>
                                </div>
                                <div class="date-default-wrapper24">
                                    <div class="date-default48">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-matrix-parent">
                    <div class="image-matrix">
                        <div class="categories11">Categories</div>
                        <button class="button129">
                            <img class="icon517" alt="" src="./public/icon-175.svg" />

                            <b class="caption622">Add Category</b>
                        </button>
                    </div>
                    <div class="checkbox-parent">
                        <div class="checkbox77">
                            <input
                                    class="checkboxchecked310"
                                    checked="{true}"
                                    type="checkbox"
                            />

                            <div class="caption623">Interview Schedule</div>
                        </div>
                        <div class="checkbox78">
                            <input class="checkboxchecked311" type="checkbox" />

                            <div class="caption624">Internal Meeting</div>
                        </div>
                        <div class="checkbox79">
                            <input class="checkboxfalse54" type="checkbox" />

                            <div class="caption625">Team Schedule</div>
                        </div>
                        <div class="checkbox80">
                            <input class="checkboxfalse55" type="checkbox" />

                            <div class="caption626">My Task</div>
                        </div>
                        <div class="checkbox81">
                            <input class="checkboxfalse56" type="checkbox" />

                            <div class="caption627">Reminders</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-collection">
                <div class="weeks">
                    <div class="frame-parent45">
                        <div class="sun-wrapper">
                            <div class="sun2">SUN</div>
                        </div>
                        <div class="flexible-container">23</div>
                    </div>
                    <div class="table-layout">
                        <div class="mon-wrapper">
                            <div class="mon2">MON</div>
                        </div>
                        <div class="curve-path">
                            <div class="curve-path-child"></div>
                            <div class="rounded-box">24</div>
                        </div>
                    </div>
                    <div class="frame-parent46">
                        <div class="tue-wrapper">
                            <div class="tue2">TUE</div>
                        </div>
                        <div class="div103">25</div>
                    </div>
                    <div class="frame-parent47">
                        <div class="wed-wrapper">
                            <div class="wed2">WED</div>
                        </div>
                        <div class="div104">26</div>
                    </div>
                    <div class="ruler-guide">
                        <div class="thu2">
                            <div class="grid-layout">
                                <div class="thu3">THU</div>
                            </div>
                            <div class="star-point">
                                <div class="wrapper12">
                                    <div class="div105">27</div>
                                </div>
                                <div class="holiday">Holiday</div>
                            </div>
                        </div>
                        <div class="ruler-guide-inner">
                            <div class="frame-parent48">
                                <div class="fri-wrapper">
                                    <div class="fri2">FRI</div>
                                </div>
                                <div class="div106">28</div>
                            </div>
                        </div>
                    </div>
                    <div class="sat2">SAT</div>
                    <div class="div107">29</div>
                </div>
                <div class="sine-wave-path-parent">
                    <div class="sine-wave-path">
                        <div class="gmt-07-parent">
                            <div class="gmt-07">GMT +07</div>
                            <div class="frame-parent49">
                                <div class="am-wrapper">
                                    <div class="am8">1 AM</div>
                                </div>
                                <div class="am9">2 AM</div>
                                <div class="am10">3 AM</div>
                                <div class="am11">4 AM</div>
                                <div class="am12">5 AM</div>
                                <div class="am13">6 AM</div>
                                <div class="am-container">
                                    <div class="am14">7 AM</div>
                                </div>
                                <div class="am15">8 AM</div>
                                <div class="am16">9 AM</div>
                                <div class="am-frame">
                                    <div class="am17">10 AM</div>
                                </div>
                                <div class="am-wrapper1">
                                    <div class="am18">11 AM</div>
                                </div>
                                <div class="parabola-path">
                                    <div class="am19">12 AM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="circle-segment-parent">
                        <div class="circle-segment">
                            <div class="rainbow-palette"></div>
                            <img class="grid-icon" alt="" src="./public/grid.svg" />
                        </div>
                        <div class="number-list-parent">
                            <div class="number-list"></div>
                            <div class="icon-button"></div>
                            <div class="frame-wrapper5">
                                <div class="frame-parent50">
                                    <div class="interview-session-with-kathryn-parent">
                                        <div class="interview-session-with">
                                            Interview session with Kathryn Murphy
                                        </div>
                                        <div class="am20">02.00 - 05.00 AM</div>
                                    </div>
                                    <div class="frame-wrapper6">
                                        <img
                                                class="frame-child151"
                                                loading="lazy"
                                                alt=""
                                                src="./public/group-1119@2x.png"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="star1">
                            <div class="triangle-parent">
                                <div class="triangle1"></div>
                                <div class="image"></div>
                                <div class="frame-wrapper7">
                                    <div class="interview-sess-parent">
                                        <div class="interview-sess">Interview sess...</div>
                                        <div class="am21">08.00 - 09.00 AM</div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid1">
                                <div class="column-parent">
                                    <div class="column"></div>
                                    <div class="divider27"></div>
                                    <div class="dropzone">
                                        <div class="canvas">
                                            <div class="meeting-with-s">Meeting with s...</div>
                                            <div class="am22">09.00 - 10.00 AM</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>
