<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script th:src="@{./js/Company/job-listing.js}"></script>
    <link rel="stylesheet" th:href="@{./css/Company/global.css}" />
    <link rel="stylesheet" th:href="@{./css/Company/dashboard-company-job-listing.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-company-job-listin">
      <div class="side-bar-dashboard-company3">
        <div class="menu12">
          <div class="logo-2-container">
            <div class="logo-23">
              <div class="logo-2-inner1">
                <img
                  class="frame-child11"
                  loading="lazy"
                  alt=""
                 th:src="@{./images/Company/frame-33.svg}"
                />
              </div>
              <h3 class="jobhuntly3">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu3">
            <div class="menu13">
              <div class="sidebar-menu27">
                <img
                  class="icon100"
                  loading="lazy"
                  alt=""
                 th:src="@{./images/Company/icon1.svg}"
                />

                <a th:href="@{/dashboard}" class="caption98">Dashboard</a>
              </div>
              <div class="sidebar-menu29">
                <img class="icon102" alt=""th:src="@{./images/Company/icon-2.svg}" />

                <a th:href="@{/profile}" class="caption100">Company Profile</a>
              </div>
              <div class="sidebar-menu30">
                <img class="icon103" alt=""th:src="@{./images/Company/icon-3.svg}" />

                <a th:href="@{/allApplicants}" class="caption101">All Applicants</a>
              </div>
              <button class="sidebar-menu31">
                <div class="indicator-wrapper1">
                  <img
                    class="indicator-icon3"
                    alt=""
                   th:src="@{./images/Company/indicator.svg}"
                  />
                </div>
                <div class="menu14">
                  <img class="icon104" alt=""th:src="@{./images/Company/icon-41.svg}" />

                  <div class="caption102">Job Listing</div>
                </div>
              </button>
              <div class="sidebar-menu32">
                <img class="icon105" alt=""th:src="@{./images/Company/icon-5.svg}" />

                <a th:href="@{/interviewSchedule}" class="caption103">My Schedule</a>
              </div>
              <div class="sidebar-menu33">
                <img class="icon106" alt="" />

                <div class="caption104">Employee</div>
              </div>
            </div>
            <div class="main-menu-inner"></div>
            <div class="settings6">
              <div class="settings-frame">
                <div class="settings7">SETTINGS</div>
              </div>
              <div class="menu15">
                <div class="sidebar-menu34">
                  <img class="icon107" alt=""th:src="@{./images/Company/icon-7.svg}" />

                  <a th:href="@{/settings}" class="caption105">Settings</a>
                </div>
                <div class="sidebar-menu35">
                  <img class="icon108" alt=""th:src="@{./images/Company/icon-8.svg}" />

                  <div class="caption106">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon3" alt="" />

        <div class="profile6">
          <div class="applicants-per-page-filter"></div>
          <div class="filter-sort-instance">
            <div class="profile7">
              <div class="avatar-frame">
                <img
                  class="avatar-icon13"
                  loading="lazy"
                  alt=""
                 th:src="@{./images/Company/avatar2x.png}"
                />
              </div>
              <div class="name-email3">
                <div class="maria-kelly3">Maria Kelly</div>
                <div class="mariakllyemailcom3">MariaKlly@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu3">
            <div class="rounded-rectangle3"></div>
            <div class="frame3">
              <div class="logout6">
                <div class="logout7">Logout</div>
                <img class="icon109" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="filter-sort-icon">
        <section class="top-nav5">
          <div class="job-list7">
            <img
              class="company-logo-icon7"
              alt=""
             th:src="@{company/image/{id}(id=${company.getId()})}"
            />

            <div class="job-title7">
              <div class="company3">Company</div>
              <div class="page-viewssize">
                <div class="nomad7" th:text="${company.getName()}"></div>
                <img class="icon110" alt=""th:src="@{./images/Company/icon-411.svg}" />
              </div>
            </div>
          </div>
          <div class="action5">
            <img
              class="notification-icon3"
              loading="lazy"
              alt=""
             th:src="@{./images/Company/notification3.svg}"
            />

            <button class="button7">
              <img class="icon111" alt=""th:src="@{./images/Company/icon-112.svg}" />

              <a th:href="@{/postjobs}" class="caption107">Post a job</a>
            </button>
          </div>
        </section>
        <section class="applicant-dashboard-greeting">
          <div class="greeting2">
            <h3 class="good-morning-jake">Job Listing</h3>
            <div class="here-is-whats">
            </div>
          </div>
        </section>
        <section class="company-dashboard-job-listin-wrapper">
          <div class="company-dashboard-job-listin">
            <div class="header7">
              <div class="header-wrapper">
                <div class="header8">
                  <div class="job-listing-list-wrapper">
                    <div class="job-listing-list">Job List</div>
                  </div>
                  <button class="filter-sort2">
                    <div class="views-icon">
                      <img class="icon113" alt="" th:src="@{./images/Company/icon-15.svg}" />
                    </div>
                    <div class="caption108">Filters</div>
                  </button>
                </div>
              </div>
              <div class="divider1"></div>
            </div>
            <table class="job-postings-table">
              <thead>
              <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Date Posted</th>
                <th>Experience</th>
                <th>Job Type</th>
                <th>Applicants</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="post : ${company.getPosts()}">
                <td class="title-cell">
                  <a th:href="@{/jobdetails(id=${post.getId()})}" th:text="${post.title}"></a>
                </td>
                <td class="status-cell">
                  <span th:if="${post.isLive()}" th:text="Active"></span>
                  <span th:unless="${post.isLive()}" th:text="Inactive"></span>
                </td>
                <td th:text="${#temporals.format(post.datePosted, 'dd MMM yyyy')}"></td>
                <td th:text="${post.experience}"></td>
                <td th:text="${post.level.name}"></td>
                <td th:text="${post.applicants.size()}"></td>
                <td>
                  <img class="icon114 delete-icon" alt="Delete" th:src="@{./images/Company/icon-22.svg}" th:data-id="${post.id}" onclick="confirmDelete(this)"/>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </section>
      </main>
    </div>
  </body>
</html>
