<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" th:href="@{./css/Company/global.css}" />
    <link rel="stylesheet" th:href="@{./css/Company/dashboard-company-job-listing.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-company-job-listin">
      <div class="side-bar-dashboard-company3">
        <div class="menu12">
          <div class="logo-2-container">
            <div class="logo-23">
              <div class="logo-2-inner1">
                <img
                  class="frame-child11"
                  loading="lazy"
                  alt=""
                 th:src="@{./images/Company/frame-33.svg}"
                />
              </div>
              <h3 class="jobhuntly3">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu3">
            <div class="menu13">
              <div class="sidebar-menu27">
                <img
                  class="icon100"
                  loading="lazy"
                  alt=""
                 th:src="@{./images/Company/icon1.svg}"
                />

                <div class="caption98">Dashboard</div>
              </div>
              <div class="sidebar-menu28">
                <div class="icon-parent16">
                  <img class="icon101" alt=""th:src="@{./images/Company/icon-111.svg}" />

                  <div class="caption99">Messages</div>
                </div>
                <div class="badge3">
                  <div class="badge-inner"></div>
                  <div class="greeting-instance">
                    <div class="dropdown-instance">1</div>
                  </div>
                </div>
              </div>
              <div class="sidebar-menu29">
                <img class="icon102" alt=""th:src="@{./images/Company/icon-2.svg}" />

                <div class="caption100">Company Profile</div>
              </div>
              <div class="sidebar-menu30">
                <img class="icon103" alt=""th:src="@{./images/Company/icon-3.svg}" />

                <div class="caption101">All Applicants</div>
              </div>
              <button class="sidebar-menu31">
                <div class="indicator-wrapper1">
                  <img
                    class="indicator-icon3"
                    alt=""
                   th:src="@{./images/Company/indicator.svg}"
                  />
                </div>
                <div class="menu14">
                  <img class="icon104" alt=""th:src="@{./images/Company/icon-41.svg}" />

                  <div class="caption102">Job Listing</div>
                </div>
              </button>
              <div class="sidebar-menu32">
                <img class="icon105" alt=""th:src="@{./images/Company/icon-5.svg}" />

                <div class="caption103">My Schedule</div>
              </div>
              <div class="sidebar-menu33">
                <img class="icon106" alt="" />

                <div class="caption104">Employee</div>
              </div>
            </div>
            <div class="main-menu-inner"></div>
            <div class="settings6">
              <div class="settings-frame">
                <div class="settings7">SETTINGS</div>
              </div>
              <div class="menu15">
                <div class="sidebar-menu34">
                  <img class="icon107" alt=""th:src="@{./images/Company/icon-7.svg}" />

                  <div class="caption105">Settings</div>
                </div>
                <div class="sidebar-menu35">
                  <img class="icon108" alt=""th:src="@{./images/Company/icon-8.svg}" />

                  <div class="caption106">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon3" alt="" />

        <div class="profile6">
          <div class="applicants-per-page-filter"></div>
          <div class="filter-sort-instance">
            <div class="profile7">
              <div class="avatar-frame">
                <img
                  class="avatar-icon13"
                  loading="lazy"
                  alt=""
                 th:src="@{./images/Company/avatar2x.png}"
                />
              </div>
              <div class="name-email3">
                <div class="maria-kelly3">Maria Kelly</div>
                <div class="mariakllyemailcom3">MariaKlly@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu3">
            <div class="rounded-rectangle3"></div>
            <div class="frame3">
              <div class="logout6">
                <div class="logout7">Logout</div>
                <img class="icon109" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="filter-sort-icon">
        <section class="top-nav5">
          <div class="job-list7">
            <img
              class="company-logo-icon7"
              alt=""
             th:src="@{./images/Company/company-logo.svg}"
            />

            <div class="job-title7">
              <div class="company3">Company</div>
              <div class="page-viewssize">
                <div class="nomad7">Nomad</div>
                <img class="icon110" alt=""th:src="@{./images/Company/icon-411.svg}" />
              </div>
            </div>
          </div>
          <div class="action5">
            <img
              class="notification-icon3"
              loading="lazy"
              alt=""
             th:src="@{./images/Company/notification3.svg}"
            />

            <button class="button7">
              <img class="icon111" alt=""th:src="@{./images/Company/icon-112.svg}" />

              <b class="caption107">Post a job</b>
            </button>
          </div>
        </section>
        <section class="applicant-dashboard-greeting">
          <div class="greeting2">
            <h3 class="good-morning-jake">Job Listing</h3>
            <div class="here-is-whats">
              Here is your jobs listing status from July 19 - July 25.
            </div>
          </div>
          <div class="dashboard-filter">
            <div class="dropdown1">
              <div class="this-is-placeholder2">Jul 19 - Jul 25</div>
              <div class="filter-sort-icon1">
                <img class="icon112" alt="" th:src="@{./images/Company/icon-123.svg}" />
              </div>
            </div>
          </div>
        </section>
        <section class="company-dashboard-job-listin-wrapper">
          <div class="company-dashboard-job-listin">
            <div class="header7">
              <div class="header-wrapper">
                <div class="header8">
                  <div class="job-listing-list-wrapper">
                    <div class="job-listing-list">Job List</div>
                  </div>
                  <button class="filter-sort2">
                    <div class="views-icon">
                      <img class="icon113" alt="" th:src="@{./images/Company/icon-15.svg}" />
                    </div>
                    <div class="caption108">Filters</div>
                  </button>
                </div>
              </div>
              <div class="divider1"></div>
            </div>
            <div class="pagination-icon">
              <div class="table-header">
                <div class="roles">Title</div>
                <div class="status">Status</div>
                <div class="date-posted">Date Posted</div>
                <div class="due-date">Experience</div>
                <div class="job-type2">Job Type</div>
                <div class="applicants1">Applicants</div>
                <div class="needs">Needs</div>
              </div>
            </div>
            <div class="list" th:each="post : ${company.getPosts()}">
              <div class="row1">
                <div class="social-media-assistant7" th:text="${post.title}"></div>
                <button class="label34">
                  <div class="label-child16"></div>
                  <div class="caption109" th:if="${post.isLive()}" th:text="Active"></div>
                  <div class="caption109" th:unless="${post.isLive()}" th:text="Inactive"></div>
                </button>
                <div class="may-2020" th:text="${#temporals.format(post.datePosted, 'dd MMM yyyy')}"></div>
                <div class="may-20201" th:text="${post.experience}"></div>
                <button class="label35">
                  <div class="label-child17"></div>
                  <div class="caption110" th:text="${post.level.name}"></div>
                </button>
                <div class="div22" th:text="${post.applicants.size()}"></div>
                <img class="icon114" alt="" th:src="@{./images/Company/icon-22.svg}" />
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
