<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" th:href="@{./css/Company/global.css}" />
  <link rel="stylesheet" th:href="@{.css/Comapny/dashboard-company-post-a-job-job-description.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap" />
</head>

<body>
  <div class="dashboard-company-post-a-job">
    <div class="side-bar-dashboard-company9">
      <div class="menu36">
        <div class="logo-2-wrapper2">
          <div class="logo-29">
            <div class="logo-2-inner6">
              <img class="frame-child20" loading="lazy" alt=""th:src="@{images/Company/frame-39.svg}" />
            </div>
            <h3 class="jobhuntly9">JobHuntly</h3>
          </div>
        </div>
        <div class="main-menu9">
          <div class="menu37">
            <div class="sidebar-menu81">
              <img class="icon286" loading="lazy" alt=""th:src="@{images/Company/icon1.svg}" />

              <div class="caption246">Dashboard</div>
            </div>
            <div class="sidebar-menu82">
              <div class="icon-parent31">
                <img class="icon287" alt=""th:src="@{images/Company/icon-111.svg}" />

                <div class="caption247">Messages</div>
              </div>
              <div class="badge9">
                <div class="posta-job-button"></div>
                <div class="benefits-instance">
                  <div class="full-healthcare-icon">1</div>
                </div>
              </div>
            </div>
            <div class="sidebar-menu83">
              <img class="icon288" alt=""th:src="@{images/Company/icon-2.svg}" />

              <div class="caption248">Company Profile</div>
            </div>
            <button class="sidebar-menu84">
              <div class="indicator-wrapper5">
                <img class="indicator-icon9" alt=""th:src="@{images/Company/indicator.svg}" />
              </div>
              <div class="menu38">
                <img class="icon289" alt=""th:src="@{images/Company/icon-35.svg}" />

                <div class="caption249">All Applicants</div>
              </div>
            </button>
            <div class="sidebar-menu85">
              <img class="icon290" alt=""th:src="@{images/Company/icon-4.svg}" />

              <div class="caption250">Job Listing</div>
            </div>
            <div class="sidebar-menu86">
              <img class="icon291" alt=""th:src="@{images/Company/icon-5.svg}" />

              <div class="caption251">My Schedule</div>
            </div>
            <div class="sidebar-menu87">
              <img class="icon292" alt="" />

              <div class="caption252">Employee</div>
            </div>
          </div>
          <div class="main-menu-child4"></div>
          <div class="settings21">
            <div class="settings-wrapper6">
              <div class="settings22">SETTINGS</div>
            </div>
            <div class="menu39">
              <div class="sidebar-menu88">
                <img class="icon293" alt=""th:src="@{images/Company/icon-7.svg}" />

                <div class="caption253">Settings</div>
              </div>
              <div class="sidebar-menu89">
                <img class="icon294" alt=""th:src="@{images/Company/icon-8.svg}" />

                <div class="caption254">Help Center</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="pattern-icon9" alt="" />

      <div class="profile19">
        <div class="line12"></div>
        <div class="profile-wrapper3">
          <div class="profile20">
            <div class="button-with-caption">
              <img class="avatar-icon33" loading="lazy" alt=""th:src="@{images/Company/avatar@2x.png}" />
            </div>
            <div class="name-email9">
              <div class="maria-kelly9">Maria Kelly</div>
              <div class="mariakllyemailcom9">MariaKlly@email.com</div>
            </div>
          </div>
        </div>
        <div class="profile-menu9">
          <div class="rounded-rectangle9"></div>
          <div class="frame9">
            <div class="logout18">
              <div class="logout19">Logout</div>
              <img class="icon295" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <main class="top-nav-parent4">
      <header class="top-nav12">
        <div class="job-list17">
          <img class="company-logo-icon19" alt=""th:src="@{images/Company/company-logo.svg}" />

          <div class="job-title17">
            <div class="company9">Company</div>
            <div class="nomad-parent3">
              <div class="nomad18">Nomad</div>
              <img class="icon296" alt=""th:src="@{images/Company/icon-10.svg}" />
            </div>
          </div>
        </div>
        <div class="action12">
          <img class="notification-icon9" loading="lazy" alt=""th:src="@{images/Company/notification1.svg}" />

          <button class="button40">
            <img class="icon297" alt=""th:src="@{images/Company/icon-11.svg}" />

            <b class="caption255">Post a job</b>
          </button>
        </div>
      </header>
      <section class="top-nav13">
        <img class="icon298" alt=""th:src="@{images/Company/icon-127.svg}" />

        <div class="post-job-button">
          <h1 class="post-a-job">Post a Job</h1>
        </div>
      </section>
      <section class="steppers-wrapper">
        <div class="steppers">
          <div class="stepper">
            <img class="stepper-icon" loading="lazy" alt=""th:src="@{images/Company/stepper-icon@2x.png}" />

            <div class="step-13">
              <div class="step-131">Step 1/3</div>
              <div class="job-information">Job Information</div>
            </div>
          </div>
          <div class="stepper-icon-divider">
            <div class="divider8"></div>
          </div>
          <div class="stepper1">
            <img class="stepper-icon1" alt=""th:src="@{images/Company/stepper-icon-1@2x.png}" />

            <div class="step-132">
              <div class="step-133">Step 2/3</div>
              <div class="job-information1">Job Description</div>
            </div>
          </div>
          <div class="stepper-icon-divider1">
            <div class="divider9"></div>
          </div>
          <div class="stepper2">
            <img class="stepper-icon2" alt=""th:src="@{images/Company/stepper-icon-2@2x.png}" />

            <div class="step-134">
              <div class="step-135">Step 3/3</div>
              <div class="job-information2">Perks & Benefit</div>
            </div>
          </div>
        </div>
      </section>
      <section class="step-4">
        <div class="step-3">
          <div class="details">
            <div class="basic-information3">Basic Information</div>
            <div class="list-out-your">
              List out your top perks and benefits.
            </div>
          </div>
          <div class="line13"></div>
          <div class="perks-and-benefits">
            <div class="perks-benefits1">
              <div class="perks-and-benefits1">Perks and Benefits</div>
              <div class="encourage-more-people">
                Encourage more people to apply by sharing the attractive
                rewards and benefits you offer your employees
              </div>
            </div>
            <div class="button-parent4">
              <button class="button41">
                <img class="icon299" alt=""th:src="@{images/Company/icon-136.svg}" />

                <b class="caption256">Add Benefit</b>
              </button>
              <div class="benefits-parent">
                <div class="benefits14">
                  <div class="icon-parent32">
                    <img class="icon300" alt=""th:src="@{images/Company/icon-45.svg}" />

                    <img class="icon301" alt=""th:src="@{images/Company/icon-154.svg}" />
                  </div>
                  <div class="text13">
                    <div class="full-healthcare13">Full Healthcare</div>
                    <div class="we-believe-in13">
                      We believe in thriving communities and that starts with
                      our team being happy and healthy.
                    </div>
                  </div>
                </div>
                <div class="benefits15">
                  <div class="icon-parent33">
                    <img class="icon302" alt=""th:src="@{images/Company/icon-165.svg}" />

                    <img class="icon303" alt=""th:src="@{images/Company/icon-154.svg}" />
                  </div>
                  <div class="text14">
                    <div class="full-healthcare14">Unlimited Vacation</div>
                    <div class="we-believe-in14">
                      We believe you should have a flexible schedule that
                      makes space for family, wellness, and fun.
                    </div>
                  </div>
                </div>
              </div>
              <div class="benefits16">
                <div class="icon-parent34">
                  <img class="icon304" alt=""th:src="@{images/Company/icon-183.svg}" />

                  <img class="icon305" alt=""th:src="@{images/Company/icon-154.svg}" />
                </div>
                <div class="text15">
                  <div class="full-healthcare15">Skill Development</div>
                  <div class="we-believe-in15">
                    We believe in always learning and leveling up our skills.
                    Whether it's a conference or online course.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="line14"></div>
        </div>
        <button class="button42">
          <b class="caption257">Do a Review</b>
        </button>
      </section>
    </main>
  </div>
</body>

</html>