<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" th:href="@{./css/Company/global.css}" />
    <link
      rel="stylesheet"
      th:href="@{.css/Company/dashboard-company-post-a-job-job-description1.css}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-company-post-a-job1">
      <div class="side-bar-dashboard-company10">
        <div class="menu40">
          <div class="logo-2-wrapper3">
            <div class="logo-210">
              <div class="top-nav-instance-wrapper">
                <img
                  class="top-nav-instance"
                  loading="lazy"
                  alt=""
                  src="./public/frame-310.svg"
                />
              </div>
              <h3 class="jobhuntly10">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu10">
            <div class="menu41">
              <div class="sidebar-menu90">
                <img
                  class="icon306"
                  loading="lazy"
                  alt=""
                  src="./public/icon1.svg"
                />

                <div class="caption258">Dashboard</div>
              </div>
              <div class="sidebar-menu91">
                <div class="icon-parent35">
                  <img class="icon307" alt="" src="./public/icon-111.svg" />

                  <div class="caption259">Messages</div>
                </div>
                <div class="badge10">
                  <div class="badge-child5"></div>
                  <div class="wrapper5">
                    <div class="div63">1</div>
                  </div>
                </div>
              </div>
              <div class="sidebar-menu92">
                <img class="icon308" alt="" src="./public/icon-2.svg" />

                <div class="caption260">Company Profile</div>
              </div>
              <button class="sidebar-menu93">
                <div class="indicator-wrapper6">
                  <img
                    class="indicator-icon10"
                    alt=""
                    src="./public/indicator.svg"
                  />
                </div>
                <div class="menu42">
                  <img class="icon309" alt="" src="./public/icon-35.svg" />

                  <div class="caption261">All Applicants</div>
                </div>
              </button>
              <div class="sidebar-menu94">
                <img class="icon310" alt="" src="./public/icon-4.svg" />

                <div class="caption262">Job Listing</div>
              </div>
              <div class="sidebar-menu95">
                <img class="icon311" alt="" src="./public/icon-5.svg" />

                <div class="caption263">My Schedule</div>
              </div>
              <div class="sidebar-menu96">
                <img class="icon312" alt="" />

                <div class="caption264">Employee</div>
              </div>
            </div>
            <div class="main-menu-child5"></div>
            <div class="settings23">
              <div class="settings-wrapper7">
                <div class="settings24">SETTINGS</div>
              </div>
              <div class="menu43">
                <div class="sidebar-menu97">
                  <img class="icon313" alt="" src="./public/icon-7.svg" />

                  <div class="caption265">Settings</div>
                </div>
                <div class="sidebar-menu98">
                  <img class="icon314" alt="" src="./public/icon-8.svg" />

                  <div class="caption266">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon10" alt="" />

        <div class="profile21">
          <div class="line15"></div>
          <div class="stepper-icon-divider2">
            <div class="profile22">
              <div class="avatar-wrapper6">
                <img
                  class="avatar-icon34"
                  loading="lazy"
                  alt=""
                  src="./public/avatar1@2x.png"
                />
              </div>
              <div class="name-email10">
                <div class="maria-kelly10">Maria Kelly</div>
                <div class="mariakllyemailcom10">MariaKlly@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu10">
            <div class="rounded-rectangle10"></div>
            <div class="frame10">
              <div class="logout20">
                <div class="logout21">Logout</div>
                <img class="icon315" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="top-nav-parent5">
        <header class="top-nav14">
          <div class="job-list18">
            <img
              class="company-logo-icon20"
              alt=""
              src="./public/company-logo.svg"
            />

            <div class="job-title18">
              <div class="company10">Company</div>
              <div class="nomad-parent4">
                <div class="nomad19">Nomad</div>
                <img class="icon316" alt="" src="./public/icon-10.svg" />
              </div>
            </div>
          </div>
          <div class="action13">
            <img
              class="notification-icon10"
              loading="lazy"
              alt=""
              src="./public/notification1.svg"
            />

            <button class="button43">
              <img class="icon317" alt="" src="./public/icon-11.svg" />

              <b class="caption267">Post a job</b>
            </button>
          </div>
        </header>
        <section class="top-nav15">
          <img class="icon318" alt="" src="./public/icon-127.svg" />

          <div class="top-nav-button">
            <h1 class="post-a-job1">Post a Job</h1>
          </div>
        </section>
        <section class="steppers-container">
          <div class="steppers1">
            <div class="stepper3">
              <img
                class="stepper-icon3"
                loading="lazy"
                alt=""
                src="./public/stepper-icon@2x.png"
              />

              <div class="step-136">
                <div class="step-137">Step 1/3</div>
                <div class="job-information3">Job Information</div>
              </div>
            </div>
            <div class="divider-wrapper2">
              <div class="divider10"></div>
            </div>
            <div class="stepper4">
              <img
                class="stepper-icon4"
                alt=""
                src="./public/stepper-icon-1@2x.png"
              />

              <div class="step-138">
                <div class="step-139">Step 2/3</div>
                <div class="job-information4">Job Description</div>
              </div>
            </div>
            <div class="divider-wrapper3">
              <div class="divider11"></div>
            </div>
            <div class="stepper5">
              <img
                class="stepper-icon5"
                alt=""
                src="./public/stepper-icon-21@2x.png"
              />

              <div class="step-1310">
                <div class="step-1311">Step 3/3</div>
                <div class="job-information5">Perks & Benefit</div>
              </div>
            </div>
          </div>
        </section>
        <section class="step-31">
          <div class="details1">
            <div class="details2">Details</div>
            <div class="add-the-description">
              Add the description of the job, responsibilities, who you are, and
              nice-to-haves.
            </div>
          </div>
          <div class="line16"></div>
          <div class="job-descriptions">
            <div class="job-descriptions1">
              <div class="job-descriptions2">Job Descriptions</div>
              <div class="job-titles-must">
                Job titles must be describe one position
              </div>
            </div>
            <div class="textfield14">
              <div class="label98">Job Description</div>
              <div class="content15">
                <div class="form1">
                  <div class="enter-job-description1">
                    Enter job description
                  </div>
                </div>
                <div class="icon319">
                  <img class="icon320" alt="" src="./public/icon-137.svg" />

                  <img class="icon321" alt="" src="./public/icon-145.svg" />

                  <img class="icon322" alt="" src="./public/icon-155.svg" />

                  <img class="icon323" alt="" src="./public/icon-166.svg" />

                  <img class="icon324" alt="" src="./public/icon-174.svg" />

                  <img class="icon325" alt="" src="./public/icon-184.svg" />
                </div>
                <div class="helper-text1">
                  <div class="maximum-500-characters1">
                    Maximum 500 characters
                  </div>
                  <div class="div64">0 / 500</div>
                </div>
              </div>
            </div>
          </div>
          <div class="line17"></div>
          <div class="responsibilities2">
            <div class="responsibilities3">
              <div class="responsibilities4">Responsibilities</div>
              <div class="outline-the-core">
                Outline the core responsibilities of the position
              </div>
            </div>
            <div class="textfield15">
              <div class="label99">Label</div>
              <div class="content16">
                <div class="form2">
                  <div class="enter-job-description2">
                    Enter job responsibilities
                  </div>
                </div>
                <div class="icon326">
                  <img class="icon327" alt="" src="./public/icon-26.svg" />

                  <img class="icon328" alt="" src="./public/icon-27.svg" />

                  <img class="icon329" alt="" src="./public/icon-283.svg" />

                  <img class="icon330" alt="" src="./public/icon-291.svg" />

                  <img class="icon331" alt="" src="./public/icon-302.svg" />

                  <img class="icon332" alt="" src="./public/icon-242.svg" />
                </div>
                <div class="helper-text2">
                  <div class="maximum-500-characters2">
                    Maximum 500 characters
                  </div>
                  <div class="div65">0 / 500</div>
                </div>
              </div>
            </div>
          </div>
          <div class="line18"></div>
          <div class="who-you-are2">
            <div class="who-you-are3">
              <div class="who-you-are4">Who You Are</div>
              <div class="add-your-preferred">
                Add your preferred candidates qualifications
              </div>
            </div>
            <div class="textfield16">
              <div class="label100">Label</div>
              <div class="content17">
                <textarea
                  class="form3"
                  placeholder="Enter qualifications"
                  rows="{8}"
                  cols="{12}"
                >
                </textarea>
                <div class="icon333">
                  <img class="icon334" alt="" src="./public/icon-26.svg" />

                  <img class="icon335" alt="" src="./public/icon-27.svg" />

                  <img class="icon336" alt="" src="./public/icon-283.svg" />

                  <img class="icon337" alt="" src="./public/icon-291.svg" />

                  <img class="icon338" alt="" src="./public/icon-302.svg" />

                  <img class="icon339" alt="" src="./public/icon-242.svg" />
                </div>
                <div class="helper-text3">
                  <div class="maximum-500-characters3">
                    Maximum 500 characters
                  </div>
                  <div class="div66">0 / 500</div>
                </div>
              </div>
            </div>
          </div>
          <div class="line19"></div>
          <div class="nice-to-haves2">
            <div class="nice-to-haves3">
              <div class="nice-to-haves4">Nice-To-Haves</div>
              <div class="add-nice-to-have-skills">
                Add nice-to-have skills and qualifications for the role to
                encourage a more diverse set of candidates to apply
              </div>
            </div>
            <div class="textfield17">
              <div class="label101">Label</div>
              <div class="content18">
                <textarea
                  class="form4"
                  placeholder="Enter nice-to-haves"
                  rows="{8}"
                  cols="{12}"
                >
                </textarea>
                <div class="icon340">
                  <img class="icon341" alt="" src="./public/icon-312.svg" />

                  <img class="icon342" alt="" src="./public/icon-321.svg" />

                  <img class="icon343" alt="" src="./public/icon-331.svg" />

                  <img class="icon344" alt="" src="./public/icon-341.svg" />

                  <img class="icon345" alt="" src="./public/icon-351.svg" />

                  <img class="icon346" alt="" src="./public/icon-361.svg" />
                </div>
                <div class="helper-text4">
                  <div class="maximum-500-characters4">
                    Maximum 500 characters
                  </div>
                  <div class="div67">0 / 500</div>
                </div>
              </div>
            </div>
          </div>
          <div class="line20"></div>
          <button class="button44">
            <b class="caption268">Next Step</b>
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
