<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./dashboard-company-settings-overview.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-company-settings1">
      <div class="side-bar-dashboard-company8">
        <div class="menu32">
          <div class="list-item">
            <div class="logo-28">
              <div class="logo-2-inner5">
                <img
                  class="frame-child19"
                  loading="lazy"
                  alt=""
                  src="./public/frame-38.svg"
                />
              </div>
              <h3 class="jobhuntly8">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu8">
            <div class="menu33">
              <div class="sidebar-menu72">
                <img
                  class="icon253"
                  loading="lazy"
                  alt=""
                  src="./public/icon1.svg"
                />

                <div class="caption223">Dashboard</div>
              </div>
              <div class="sidebar-menu73">
                <div class="icon-parent30">
                  <img class="icon254" alt="" src="./public/icon-113.svg" />

                  <div class="caption224">Messages</div>
                </div>
                <div class="badge8">
                  <div class="badge-child4"></div>
                  <div class="wrapper4">
                    <div class="div62">1</div>
                  </div>
                </div>
              </div>
              <div class="sidebar-menu74">
                <img class="icon255" alt="" src="./public/icon-2.svg" />

                <div class="caption225">Company Profile</div>
              </div>
              <div class="sidebar-menu75">
                <img class="icon256" alt="" src="./public/icon-3.svg" />

                <div class="caption226">All Applicants</div>
              </div>
              <div class="sidebar-menu76">
                <img class="icon257" alt="" src="./public/icon-4.svg" />

                <div class="caption227">Job Listing</div>
              </div>
              <div class="sidebar-menu77">
                <img class="icon258" alt="" src="./public/icon-5.svg" />

                <div class="caption228">My Schedule</div>
              </div>
              <div class="sidebar-menu78">
                <img class="icon259" alt="" />

                <div class="caption229">Employee</div>
              </div>
            </div>
            <div class="main-menu-child3"></div>
            <div class="settings18">
              <div class="settings-wrapper5">
                <div class="settings19">SETTINGS</div>
              </div>
              <div class="menu34">
                <button class="sidebar-menu79">
                  <img
                    class="indicator-icon8"
                    alt=""
                    src="./public/indicator.svg"
                  />

                  <div class="menu35">
                    <img class="icon260" alt="" src="./public/icon-71.svg" />

                    <div class="caption230">Settings</div>
                  </div>
                </button>
                <div class="sidebar-menu80">
                  <img class="icon261" alt="" src="./public/icon-8.svg" />

                  <div class="caption231">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon8" alt="" />

        <div class="profile17">
          <div class="line11"></div>
          <div class="profile-wrapper2">
            <div class="profile18">
              <div class="avatar-wrapper5">
                <img
                  class="avatar-icon32"
                  loading="lazy"
                  alt=""
                  src="./public/avatar1@2x.png"
                />
              </div>
              <div class="name-email8">
                <div class="maria-kelly8">Maria Kelly</div>
                <div class="mariakllyemailcom8">MariaKlly@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu8">
            <div class="rounded-rectangle8"></div>
            <div class="frame8">
              <div class="logout16">
                <div class="logout17">Logout</div>
                <img class="icon262" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="top-nav-parent3">
        <header class="top-nav11">
          <div class="job-list16">
            <img
              class="company-logo-icon17"
              alt=""
              src="./public/company-logo.svg"
            />

            <div class="job-title16">
              <div class="company8">Company</div>
              <div class="nomad-parent2">
                <div class="nomad17">Nomad</div>
                <img class="icon263" alt="" src="./public/icon-411.svg" />
              </div>
            </div>
          </div>
          <div class="action11">
            <img
              class="notification-icon8"
              loading="lazy"
              alt=""
              src="./public/notification4.svg"
            />

            <button class="button38">
              <img class="icon264" alt="" src="./public/icon-112.svg" />

              <b class="caption232">Post a job</b>
            </button>
          </div>
        </header>
        <section class="header12">
          <h1 class="settings20">Settings</h1>
          <div class="tabs6">
            <div class="tab-menu39">
              <div class="caption233">Overview</div>
              <img
                class="tab-menu-child2"
                alt=""
                src="./public/rectangle-173.svg"
              />
            </div>
            <div class="tab-menu40">
              <div class="caption234">Social Links</div>
            </div>
            <div class="tab-menu41">
              <div class="caption235">Team</div>
            </div>
            <div class="tab-menu42">
              <div class="caption236">Notifications</div>
            </div>
            <div class="tab-menu43">
              <div class="caption237">Notifications</div>
            </div>
            <div class="tab-menu44">
              <div class="caption238">Notifications</div>
            </div>
          </div>
        </section>
        <form class="company-dashboard-settings">
          <div class="basic-information1">
            <div class="basic-information2">Basic Information</div>
            <div class="this-is-company">
              This is company information that you can update anytime.
            </div>
          </div>
          <div class="function-caller1"></div>
          <div class="company-logo1">
            <div class="company-logo2">
              <div class="company-logo3">Company Logo</div>
              <div class="this-image-will">
                This image will be shown publicly as company logo.
              </div>
            </div>
            <div class="logo">
              <img
                class="company-logo-icon18"
                alt=""
                src="./public/company-logo-12.svg"
              />

              <div class="textfield5">
                <div class="data-merger1">
                  <img class="icon265" alt="" src="./public/icon-126.svg" />

                  <div class="decision-tree">
                    <div class="click-to-replace-container">
                      <span class="click-to-replace">Click to replace</span>
                      <span class="or-drag-and-drop">
                        <span class="span16"> </span>
                        <span class="or-drag-and">or drag and drop</span>
                      </span>
                    </div>
                    <div class="svg-png-jpg">
                      SVG, PNG, JPG or GIF (max. 400 x 400px)
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="function-caller2"></div>
          <div class="company-details">
            <div class="company-logo4">
              <div class="company-details1">Company Details</div>
              <div class="introduce-your-company">
                Introduce your company core info quickly to users by fill up
                company details
              </div>
            </div>
            <form class="forms">
              <div class="textfield6">
                <div class="label90">Company Name</div>
                <div class="input7">
                  <input
                    class="this-is-placeholder9"
                    placeholder="Nomad"
                    type="text"
                  />
                </div>
              </div>
              <div class="textfield7">
                <div class="label91">Website</div>
                <div class="input8">
                  <input
                    class="this-is-placeholder10"
                    placeholder="Https://www.nomad.com"
                    type="text"
                  />
                </div>
              </div>
              <div class="textfield8">
                <div class="label92">Location</div>
                <div class="textfielddropdown-filldefa">
                  <div class="tag-parent">
                    <div class="tag8">
                      <div class="caption239">England</div>
                      <img class="icon266" alt="" src="./public/icon-135.svg" />
                    </div>
                    <div class="tag9">
                      <div class="caption240">Japan</div>
                      <img class="icon267" alt="" src="./public/icon-135.svg" />
                    </div>
                    <button class="tag10">
                      <div class="caption241">Australia</div>
                      <img class="icon268" alt="" src="./public/icon-135.svg" />
                    </button>
                  </div>
                  <img class="icon269" alt="" src="./public/icon-164.svg" />
                </div>
              </div>
              <div class="website-design">
                <div class="textfield9">
                  <div class="label93">Employee</div>
                  <div class="dropdown2">
                    <div class="this-is-placeholder11">1 - 50</div>
                    <img class="icon270" alt="" src="./public/icon-173.svg" />
                  </div>
                </div>
                <div class="textfield10">
                  <div class="label94">Industry</div>
                  <div class="dropdown3">
                    <div class="this-is-placeholder12">Technology</div>
                    <img class="icon271" alt="" src="./public/icon-173.svg" />
                  </div>
                </div>
              </div>
              <div class="website-design1">
                <div class="textfield11">
                  <div class="label95">Date Founded</div>
                  <div class="dropdown4">
                    <div class="this-is-placeholder13">31</div>
                    <img class="icon272" alt="" src="./public/icon-173.svg" />
                  </div>
                </div>
                <div class="dropdown5">
                  <div class="this-is-placeholder14">July</div>
                  <img class="icon273" alt="" src="./public/icon-173.svg" />
                </div>
                <div class="dropdown6">
                  <div class="this-is-placeholder15">2021</div>
                  <img class="icon274" alt="" src="./public/icon-173.svg" />
                </div>
              </div>
              <div class="textfield12">
                <div class="label96">Tech Stack</div>
                <div class="textfielddropdown-filldefa1">
                  <div class="tag-group">
                    <button class="tag11">
                      <div class="caption242">HTML 5</div>
                      <img class="icon275" alt="" src="./public/icon-135.svg" />
                    </button>
                    <div class="tag12">
                      <div class="caption243">CSS 3</div>
                      <img class="icon276" alt="" src="./public/icon-135.svg" />
                    </div>
                    <button class="tag13">
                      <div class="caption244">Javascript</div>
                      <img class="icon277" alt="" src="./public/icon-135.svg" />
                    </button>
                  </div>
                  <img class="icon278" alt="" src="./public/icon-164.svg" />
                </div>
              </div>
            </form>
          </div>
          <div class="function-caller3"></div>
          <div class="about-company">
            <div class="about-company1">
              <div class="about-company2">About Company</div>
              <div class="brief-description-for">
                Brief description for your company. URLs are hyperlinked.
              </div>
            </div>
            <div class="textfield13">
              <div class="label97">Description</div>
              <div class="content14">
                <div class="form">
                  <div class="enter-job-description">
                    Nomad is part of the Information Technology Industry. We
                    believe travellers want to experience real life and meet
                    local people. Nomad has 30 total employees across all of its
                    locations and generates $1.50 million in sales.
                  </div>
                </div>
                <div class="icon279">
                  <img class="icon280" alt="" src="./public/icon-26.svg" />

                  <img class="icon281" alt="" src="./public/icon-27.svg" />

                  <img class="icon282" alt="" src="./public/icon-283.svg" />

                  <img class="icon283" alt="" src="./public/icon-291.svg" />

                  <img class="icon284" alt="" src="./public/icon-302.svg" />

                  <img class="icon285" alt="" src="./public/icon-311.svg" />
                </div>
                <div class="helper-text">
                  <div class="maximum-500-characters">
                    Maximum 500 characters
                  </div>
                  <div class="output-generator3">0 / 500</div>
                </div>
              </div>
            </div>
          </div>
          <div class="function-caller4"></div>
          <button class="button39">
            <b class="caption245">Save Changes</b>
          </button>
        </form>
      </main>
    </div>
  </body>
</html>
