<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="./dashboard-company-settings-social-links.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-company-settings">
      <div class="side-bar-dashboard-company7">
        <div class="menu28">
          <div class="instance">
            <div class="logo-27">
              <div class="logo-2-inner4">
                <img
                  class="frame-child18"
                  loading="lazy"
                  alt=""
                  src="./public/frame-37.svg"
                />
              </div>
              <h3 class="jobhuntly7">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu7">
            <div class="menu29">
              <div class="sidebar-menu63">
                <img
                  class="icon241"
                  loading="lazy"
                  alt=""
                  src="./public/icon1.svg"
                />

                <div class="caption206">Dashboard</div>
              </div>
              <div class="sidebar-menu64">
                <div class="icon-parent29">
                  <img class="icon242" alt="" src="./public/icon-113.svg" />

                  <div class="caption207">Messages</div>
                </div>
                <div class="badge7">
                  <div class="badge-child3"></div>
                  <div class="settings14">
                    <div class="div61">1</div>
                  </div>
                </div>
              </div>
              <div class="sidebar-menu65">
                <img class="icon243" alt="" src="./public/icon-2.svg" />

                <div class="caption208">Company Profile</div>
              </div>
              <div class="sidebar-menu66">
                <img class="icon244" alt="" src="./public/icon-3.svg" />

                <div class="caption209">All Applicants</div>
              </div>
              <div class="sidebar-menu67">
                <img class="icon245" alt="" src="./public/icon-4.svg" />

                <div class="caption210">Job Listing</div>
              </div>
              <div class="sidebar-menu68">
                <img class="icon246" alt="" src="./public/icon-5.svg" />

                <div class="caption211">My Schedule</div>
              </div>
              <div class="sidebar-menu69">
                <img class="icon247" alt="" />

                <div class="caption212">Employee</div>
              </div>
            </div>
            <div class="profile14"></div>
            <div class="settings15">
              <div class="settings-wrapper4">
                <div class="settings16">SETTINGS</div>
              </div>
              <div class="menu30">
                <button class="sidebar-menu70">
                  <img
                    class="indicator-icon7"
                    alt=""
                    src="./public/indicator.svg"
                  />

                  <div class="menu31">
                    <img class="icon248" alt="" src="./public/icon-71.svg" />

                    <div class="caption213">Settings</div>
                  </div>
                </button>
                <div class="sidebar-menu71">
                  <img class="icon249" alt="" src="./public/icon-8.svg" />

                  <div class="caption214">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon7" alt="" />

        <div class="profile15">
          <div class="button35"></div>
          <div class="profile-wrapper1">
            <div class="profile16">
              <div class="tabs4">
                <img
                  class="avatar-icon31"
                  loading="lazy"
                  alt=""
                  src="./public/avatar@2x.png"
                />
              </div>
              <div class="name-email7">
                <div class="maria-kelly7">Maria Kelly</div>
                <div class="mariakllyemailcom7">MariaKlly@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu7">
            <div class="rounded-rectangle7"></div>
            <div class="frame7">
              <div class="logout14">
                <div class="logout15">Logout</div>
                <img class="icon250" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="top-nav-parent2">
        <header class="top-nav10">
          <div class="job-list15">
            <img
              class="company-logo-icon16"
              alt=""
              src="./public/company-logo.svg"
            />

            <div class="job-title15">
              <div class="company7">Company</div>
              <div class="nomad-parent1">
                <div class="nomad16">Nomad</div>
                <img class="icon251" alt="" src="./public/icon-411.svg" />
              </div>
            </div>
          </div>
          <div class="action10">
            <img
              class="notification-icon7"
              loading="lazy"
              alt=""
              src="./public/notification4.svg"
            />

            <button class="button36">
              <img class="icon252" alt="" src="./public/icon-112.svg" />

              <b class="caption215">Post a job</b>
            </button>
          </div>
        </header>
        <div class="header11">
          <h1 class="settings17">Settings</h1>
          <div class="tabs5">
            <div class="tab-menu33">
              <div class="caption216">Overview</div>
            </div>
            <div class="tab-menu34">
              <div class="caption217">Social Links</div>
              <img
                class="tab-menu-child1"
                loading="lazy"
                alt=""
                src="./public/rectangle-1731.svg"
              />
            </div>
            <div class="tab-menu35">
              <div class="caption218">Team</div>
            </div>
            <div class="tab-menu36">
              <div class="caption219">Notifications</div>
            </div>
            <div class="tab-menu37">
              <div class="caption220">Notifications</div>
            </div>
            <div class="tab-menu38">
              <div class="caption221">Notifications</div>
            </div>
          </div>
        </div>
        <main class="company-dashboard-social-lin">
          <section class="social-links1">
            <div class="social-links2">
              <div class="basic-information">Basic Information</div>
              <div class="add-elsewhere-links">
                Add elsewhere links to your company profile. You can add only
                username without full https links.
              </div>
            </div>
            <div class="links3">
              <div class="textfield">
                <div class="label85">Instagram</div>
                <div class="input2">
                  <input
                    class="this-is-placeholder4"
                    placeholder="https://www.instagram.com/nomad/"
                    type="text"
                  />
                </div>
              </div>
              <div class="textfield1">
                <div class="label86">Twitter</div>
                <div class="input3">
                  <input
                    class="this-is-placeholder5"
                    placeholder="https://twitter.com/nomad/"
                    type="text"
                  />
                </div>
              </div>
              <div class="textfield2">
                <div class="label87">Facebook</div>
                <div class="input4">
                  <input
                    class="this-is-placeholder6"
                    placeholder="https://web.facebook.com/nomad/"
                    type="text"
                  />
                </div>
              </div>
              <div class="textfield3">
                <div class="label88">LinkedIn</div>
                <div class="input5">
                  <input
                    class="this-is-placeholder7"
                    placeholder="Enter your LinkedIn address"
                    type="text"
                  />
                </div>
              </div>
              <div class="textfield4">
                <div class="label89">Youtube</div>
                <div class="input6">
                  <input
                    class="this-is-placeholder8"
                    placeholder="Enter your youtube address"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </section>
          <div class="button-caption"></div>
          <button class="button37">
            <b class="caption222">Save Changes</b>
          </button>
        </main>
      </div>
    </div>
  </body>
</html>
