@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
}

#header { padding: 0 1em; }

.header-p {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin: .75em 0;
    text-transform: uppercase;

    color: #333333;
}

.main-div-img {
    position: relative;
    padding: 1em 1em 0;
    text-align: center;
    
    animation: slideImagen 2s;
    animation-fill-mode: forwards;
}

.main-img {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    display: block;
}

.main-div-txt {
    padding: 0 .5em .5em;
    animation: opacityTxt 3.5s;
}

h1 {
    font-family: monospace;
    font-size: 2.5em;
    line-height: 1.5em;
    margin: 0;
}

.main-p {
    font-family: monospace;
    font-size: 1.3em;
    line-height: 1.55em;
    padding-right: .9em;
}

.main-btn {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-family: monospace;
    font-size: 1.25em;
    padding: 1em;
    font-weight: bolder;
    background-color: #333333;
    color: #fff;
    text-transform: uppercase;
}

.main-btn:active {
    background-color: #fff;
    color: #333333;
    border: 1px solid #333333;
}

#footer {
    text-align: center;
    font-size: .95em;
    color: #BDBDBD;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.footer-anchor {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

/* iPhone's especialmente */
@media only screen and (min-height: 730px) and (max-width: 415px) {
    #main { align-self: center; }

    h1 { margin-top: 1.75em; }

    .main-p {
        margin: 1.5em 0 2em;
        padding-right: 2em;
    }
}

/* TABLETS */
@media only screen and (min-width: 768px) {
    #main { align-self: center; }

    h1 { margin-top: 1.75em; }

    .main-p {
        margin: 1.5em 0 2em;
        padding-right: 2em;
    }
}

/* Laptops y desktops */
@media only screen and (min-width: 990px) {
    #header { margin: 0; }

    #main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        align-items: center;

        padding: 1em;
    }

    .main-img { max-width: 550px; }

    .main-div-txt {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    h1 {
        font-size: 3.5em;
        align-self: center;
        margin: 0;
    }

    .main-p {
        align-self: center;
        max-width: 18em;
        font-size: 1.6em;
        line-height: 1.65em;
        margin: 0;
    }

    .main-btn {
        justify-self: start;
        align-self: center;
    }
}

/* ANIMACIONES */
@keyframes slideImagen {
    0% { right: 105%; }

    100% { right: 0%; }
}

@keyframes opacityTxt {
    0% { opacity: 0; }

    100% { opacity: 1; }
}