body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-normal-regular: Epilogue;
  --heading-h3: "Clash Display Variable";
  --body-small-medium: Inter;
  --font-red-hat-display: "Red Hat Display";

  /* font sizes */
  --body-normal-regular-size: 16px;
  --body-large-medium-size: 18px;
  --heading-h3-size: 32px;
  --body-small-regular-size: 14px;

  /* Colors */
  --color-white: #fff;
  --brands-primary: #4640de;
  --neutrals-80: #515b6f;
  --neutrals-100: #25324b;
  --brands-tertiary: #e9ebfd;
  --other-colors-untitled-border-dashboard: #e2e7f5;
  --neutrals-20: #d6ddeb;
  --neutrals-60: #7c8493;
  --brands-secondary: #cbcbf5;
  --neutrals-10i: #f8f8fd;
  --accents-red: #ff6550;
  --color-text: #202430;
  --color-gray-100: rgba(32, 36, 48, 0.5);

  /* Gaps */
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-13xl: 32px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-5xl: 24px;
  --padding-13xl: 32px;
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-xs: 12px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-xl: 20px;

  /* Effects */
  --x-border: 0px -1px 0px #d6ddeb inset;
  --y-border: 1px 0px 0px #d3d6db;
}
