.frame-child {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-2-inner {
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
}
.jobhuntly {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 120px;
}
.logo-2,
.logo-2-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-2 {
  flex: 1;
  gap: 8px;
}
.logo-2-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
}
.caption,
.icon {
  position: relative;
}
.icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption {
  flex: 1;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption1 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.icon-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.badge-child {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  background-color: var(--brands-primary);
}
.tabs-instance {
  height: 16px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 6px;
  white-space: nowrap;
  z-index: 1;
}
.top-nav-instance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3px;
  margin-left: -15px;
}
.badge,
.sidebar-menu1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge {
  align-items: flex-end;
  padding: 0 9px 0 0;
  font-size: var(--body-small-regular-size);
  color: var(--color-white);
  font-family: var(--body-normal-regular);
}
.sidebar-menu1 {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.vector-stroke-icon {
  position: absolute;
  height: 83.33%;
  width: 66.67%;
  top: 8.33%;
  right: 16.67%;
  bottom: 8.33%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-child,
.icon-item {
  position: absolute;
  height: 8.33%;
  width: 33.33%;
  top: 45.83%;
  right: 33.33%;
  bottom: 45.83%;
  left: 33.33%;
  border-radius: var(--br-xl);
  background-color: var(--neutrals-60);
  z-index: 1;
}
.icon-item {
  top: 62.5%;
  bottom: 29.17%;
}
.icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.caption2 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.caption3 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption4 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption5 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.menu1,
.sidebar-menu5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-menu5 {
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.menu1 {
  flex-direction: column;
}
.main-menu-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--brands-secondary);
}
.settings1 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 75px;
}
.settings-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 31px;
}
.icon6,
.indicator-icon {
  height: 32px;
  width: 4px;
  position: relative;
}
.icon6 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption6 {
  flex: 1;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 160%;
  font-weight: 500;
  font-family: var(--body-small-medium);
  color: var(--brands-primary);
  text-align: left;
}
.menu3,
.sidebar-menu6 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.menu3 {
  flex: 1;
  background-color: var(--brands-tertiary);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
  gap: var(--gap-base);
}
.sidebar-menu6 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base) 0 0;
  background-color: transparent;
  align-self: stretch;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption7 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.menu2,
.settings,
.sidebar-menu7 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.sidebar-menu7 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.menu2,
.settings {
  flex-direction: column;
  align-items: flex-start;
}
.menu2 {
  flex: 1;
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-60);
}
.settings {
  height: 144px;
  gap: var(--gap-5xl);
  font-size: var(--body-small-regular-size);
  color: var(--color-gray-100);
}
.main-menu {
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-60);
  font-family: var(--body-small-medium);
}
.main-menu,
.menu {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.line,
.pattern-icon {
  align-self: stretch;
  position: relative;
}
.pattern-icon {
  height: 316px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.line {
  height: 0;
}
.avatar-icon {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  min-height: 48px;
}
.jake-gyll {
  margin-bottom: -3px;
  position: relative;
  line-height: 29px;
  font-weight: 600;
  display: inline-block;
  min-width: 80px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.jake-gyll-wrapper {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.jakegyllemailcom {
  position: relative;
  font-size: var(--body-small-regular-size);
  line-height: 160%;
  color: var(--color-gray-100);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.name-email,
.profile-wrapper,
.profile1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-wrapper,
.profile1 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
}
.profile1 {
  gap: var(--gap-base);
}
.profile-wrapper {
  padding: 0 40px 0 var(--padding-13xl);
}
.rounded-rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--other-colors-untitled-border-dashboard);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.icon8,
.logout1 {
  position: absolute;
}
.logout1 {
  top: 0;
  left: 40px;
  line-height: 160%;
  font-weight: 500;
}
.icon8 {
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.logout {
  align-self: stretch;
  height: 26px;
  position: relative;
}
.frame {
  position: absolute;
  bottom: 26px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-menu {
  width: 233px;
  height: 80px;
  position: relative;
  display: none;
  font-size: var(--body-normal-regular-size);
  color: var(--accents-red);
}
.profile,
.side-bar-dashboard-applica {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile {
  align-self: stretch;
  height: 72px;
  gap: var(--gap-5xl);
  font-size: var(--body-large-medium-size);
  font-family: var(--body-normal-regular);
}
.side-bar-dashboard-applica {
  height: 1016px;
  width: 272px;
  background-color: var(--neutrals-10i);
  box-shadow: var(--y-border);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: 315px;
}
.pattern-icon1 {
  height: 390px;
  width: 272px;
  position: relative;
  display: none;
}
.dashboard {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
}
.dashboard-wrapper {
  width: 133px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
  box-sizing: border-box;
}
.caption8 {
  width: 153px;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--body-normal-regular);
  color: var(--brands-primary);
  text-align: center;
  white-space: nowrap;
}
.button {
  cursor: pointer;
  border: 1px solid var(--brands-secondary);
  padding: var(--padding-xs) 29px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button:hover {
  background-color: rgba(179, 179, 219, 0.09);
  border: 1px solid #b3b3db;
  box-sizing: border-box;
}
.notification-icon {
  width: 40px;
  height: 40px;
  position: relative;
}
.notification-wrapper {
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
  box-sizing: border-box;
}
.action,
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.action {
  width: 285px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.top-nav {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: var(--x-border);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-13xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--heading-h3-size);
  color: var(--neutrals-100);
  font-family: var(--heading-h3);
}
.caption9 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 80px;
}
.tab-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.caption10 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 103px;
}
.tab-menu1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.caption11 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 106px;
}
.tab-menu-child {
  align-self: stretch;
  height: 4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab-menu2 {
  height: 37px;
  width: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  color: var(--neutrals-100);
}
.caption12 {
  height: 26px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.tab-menu3 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.caption13 {
  height: 26px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.tab-menu4 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.caption14 {
  height: 26px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.tab-menu5 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.applicant-dashboard-notificati,
.tabs {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.tabs {
  width: 1168px;
  background-color: var(--color-white);
  box-shadow: var(--x-border);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 799px 0 0;
  max-width: 103%;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.applicant-dashboard-notificati {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0 0 var(--padding-13xl);
  max-width: 100%;
}
.basic-information1 {
  width: 228px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.this-is-notifications {
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  color: var(--neutrals-80);
  display: inline-block;
  max-width: 100%;
}
.basic-information {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.line1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutrals-20);
  box-sizing: border-box;
}
.notifications {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 106px;
}
.customize-your-preferred {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-80);
}
.profile-photo1 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.checkbox {
  accent-color: #4640de;
  margin: 0;
  height: 24px;
  width: 24px;
}
.applications1 {
  width: 228px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.these-are-notifications {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-80);
}
.applications,
.applications-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.applications-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 218px;
}
.applications {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.checkbox1 {
  margin: 0;
  height: 24px;
  width: 24px;
}
.jobs {
  width: 228px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.these-are-notifications1 {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-80);
}
.applications2,
.jobs-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.jobs-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 218px;
}
.applications2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.checkbox2 {
  margin: 0;
  height: 24px;
  width: 24px;
}
.recommendations {
  width: 228px;
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.these-are-notifications2 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 160%;
  color: var(--neutrals-80);
}
.applications3,
.recommendations-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.recommendations-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 218px;
}
.applications3 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
  font-size: var(--body-large-medium-size);
}
.caption15 {
  width: 107px;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--body-normal-regular);
  color: var(--color-white);
  text-align: center;
  min-width: 107px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--brands-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button1:hover {
  background-color: #6e66ff;
}
.notifications1 {
  width: 376px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 376px;
  max-width: 100%;
}
.applicant-dashboard-notifica,
.profile-photo {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.profile-photo {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 352px 0 0;
  gap: var(--gap-xl);
  font-size: var(--body-normal-regular-size);
}
.applicant-dashboard-notifica {
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-13xl) var(--padding-13xl);
  gap: 23.5px;
  font-size: var(--body-large-medium-size);
  color: var(--neutrals-100);
}
.dashboard-settings-notifica,
.top-nav-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.top-nav-parent {
  flex: 1;
  flex-direction: column;
  max-width: calc(100% - 273px);
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-60);
  font-family: var(--body-normal-regular);
}
.dashboard-settings-notifica {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  gap: 1px;
  letter-spacing: normal;
  font-size: 24px;
  color: var(--color-text);
  font-family: var(--font-red-hat-display);
}
@media screen and (max-width: 1200px) {
  .tabs {
    padding-right: 399px;
    box-sizing: border-box;
  }
  .notifications1 {
    flex: 1;
  }
  .profile-photo {
    flex-wrap: wrap;
    padding-right: 176px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .side-bar-dashboard-applica {
    display: none;
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .notifications1 {
    min-width: 100%;
  }
  .top-nav-parent {
    max-width: 100%;
  }
  .dashboard-settings-notifica {
    padding-left: var(--padding-12xs);
    padding-right: var(--padding-12xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .profile-photo,
  .tabs {
    padding-right: 199px;
    box-sizing: border-box;
  }
  .profile-photo {
    padding-right: 88px;
  }
  .applicant-dashboard-notifica {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .jobhuntly {
    font-size: 19px;
    line-height: 29px;
  }
  .main-menu,
  .menu {
    gap: 16px 32px;
  }
  .side-bar-dashboard-applica {
    gap: 157px 315px;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .action {
    gap: 32px 16px;
  }
  .tabs {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .applications,
  .applications2,
  .applications3,
  .tabs {
    flex-wrap: wrap;
  }
  .profile-photo {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
