.frame-child {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-2-inner {
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
}
.jobhuntly {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 120px;
}
.logo-2,
.menu-instance {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-2 {
  flex: 1;
  gap: var(--gap-5xs);
}
.menu-instance {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
}
.caption,
.icon {
  position: relative;
}
.icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption {
  flex: 1;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption1 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.icon-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.avatar-instance {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  background-color: var(--brands-primary);
}
.div {
  height: 16px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 6px;
  white-space: nowrap;
  z-index: 1;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3px;
  margin-left: -15px;
}
.badge,
.sidebar-menu1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge {
  align-items: flex-end;
  padding: 0 9px 0 0;
  font-size: var(--body-small-regular-size);
  color: var(--color-white);
  font-family: var(--body-normal-regular);
}
.sidebar-menu1 {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.vector-stroke-icon {
  position: absolute;
  height: 83.33%;
  width: 66.67%;
  top: 8.33%;
  right: 16.67%;
  bottom: 8.33%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-child,
.icon-item {
  position: absolute;
  height: 8.33%;
  width: 33.33%;
  top: 45.83%;
  right: 33.33%;
  bottom: 45.83%;
  left: 33.33%;
  border-radius: var(--br-xl);
  background-color: var(--neutrals-60);
  z-index: 1;
}
.icon-item {
  top: 62.5%;
  bottom: 29.17%;
}
.icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.caption2 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.caption3 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption4 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption5 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.menu1,
.sidebar-menu5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-menu5 {
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.menu1 {
  flex-direction: column;
}
.main-menu-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--brands-secondary);
}
.settings1 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 75px;
}
.settings-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl);
}
.icon6,
.indicator-icon {
  height: 32px;
  width: 4px;
  position: relative;
}
.icon6 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption6 {
  flex: 1;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 160%;
  font-weight: 500;
  font-family: var(--body-small-medium);
  color: var(--brands-primary);
  text-align: left;
}
.menu3,
.sidebar-menu6 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.menu3 {
  flex: 1;
  background-color: var(--brands-tertiary);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
  gap: var(--gap-base);
}
.sidebar-menu6 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base) 0 0;
  background-color: transparent;
  align-self: stretch;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption7 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.menu2,
.settings,
.sidebar-menu7 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.sidebar-menu7 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.menu2,
.settings {
  flex-direction: column;
  align-items: flex-start;
}
.menu2 {
  flex: 1;
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-60);
}
.settings {
  height: 144px;
  gap: var(--gap-5xl);
  font-size: var(--body-small-regular-size);
  color: var(--color-gray-100);
}
.main-menu {
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-60);
  font-family: var(--body-small-medium);
}
.main-menu,
.menu {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.line,
.pattern-icon {
  align-self: stretch;
  position: relative;
}
.pattern-icon {
  height: 316px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.line {
  height: 0;
}
.avatar-icon {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  min-height: 48px;
}
.jake-gyll {
  margin-bottom: -3px;
  position: relative;
  line-height: 29px;
  font-weight: 600;
  display: inline-block;
  min-width: 80px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.jake-gyll-wrapper {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.jakegyllemailcom {
  position: relative;
  font-size: var(--body-small-regular-size);
  line-height: 160%;
  color: var(--color-gray-100);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.caption8,
.name-email,
.profile1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.caption8,
.profile1 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
}
.profile1 {
  gap: var(--gap-base);
}
.caption8 {
  padding: 0 var(--padding-21xl) 0 var(--padding-13xl);
}
.rounded-rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--other-colors-untitled-border-dashboard);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.icon8,
.logout1 {
  position: absolute;
}
.logout1 {
  top: 0;
  left: 40px;
  line-height: 160%;
  font-weight: 500;
}
.icon8 {
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.logout {
  align-self: stretch;
  height: 26px;
  position: relative;
}
.frame {
  position: absolute;
  bottom: 26px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-menu {
  width: 233px;
  height: 80px;
  position: relative;
  display: none;
  font-size: var(--body-normal-regular-size);
  color: var(--accents-red);
}
.profile,
.side-bar-dashboard-applica {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile {
  align-self: stretch;
  height: 72px;
  gap: var(--gap-5xl);
  font-size: var(--body-large-semibold-size);
  font-family: var(--body-normal-regular);
}
.side-bar-dashboard-applica {
  height: 1120px;
  width: 272px;
  background-color: var(--lights-gray);
  box-shadow: var(--y-border);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: 419px;
}
.pattern-icon1 {
  height: 390px;
  width: 272px;
  position: relative;
  display: none;
}
.dashboard {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
}
.dashboard-wrapper {
  width: 133px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
  box-sizing: border-box;
}
.caption9 {
  width: 153px;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--body-normal-regular);
  color: var(--brands-primary);
  text-align: center;
  white-space: nowrap;
}
.button {
  cursor: pointer;
  border: 1px solid var(--brands-secondary);
  padding: var(--padding-xs) 29px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button:hover {
  background-color: rgba(179, 179, 219, 0.09);
  border: 1px solid #b3b3db;
  box-sizing: border-box;
}
.notification-icon {
  width: 40px;
  height: 40px;
  position: relative;
}
.action,
.icon10,
.top-nav {
  display: flex;
  align-items: flex-start;
}
.icon10 {
  height: 45px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px 0 0;
  box-sizing: border-box;
}
.action,
.top-nav {
  flex-direction: row;
}
.action {
  width: 285px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.top-nav {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: var(--x-border);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-13xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--heading-h3-size);
  color: var(--neutrals-100);
  font-family: var(--heading-h3);
}
.caption10 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 80px;
}
.tab-menu-child {
  align-self: stretch;
  height: 4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.tab-menu {
  height: 37px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  color: var(--neutrals-100);
}
.caption11 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 103px;
}
.tab-menu1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.caption12 {
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 106px;
}
.tab-menu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.caption13 {
  height: 26px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.tab-menu3 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.caption14 {
  height: 26px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.tab-menu4 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.caption15 {
  height: 26px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.tab-menu5 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tabs,
.tabs-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.tabs {
  width: 1168px;
  background-color: var(--color-white);
  box-shadow: var(--x-border);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 799px 0 0;
  max-width: 103%;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.tabs-wrapper {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0 0 var(--padding-13xl);
  max-width: 100%;
}
.basic-information1,
.this-is-your {
  position: relative;
  font-family: var(--body-normal-regular);
  text-align: left;
}
.basic-information1 {
  width: 228px;
  font-size: var(--body-large-semibold-size);
  line-height: 160%;
  font-weight: 600;
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.this-is-your {
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  color: var(--neutrals-80);
  display: inline-block;
  max-width: 100%;
}
.basic-information {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.tab-menu-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutrals-20);
  box-sizing: border-box;
}
.profile-photo2,
.this-image-will {
  position: relative;
  font-size: var(--body-normal-regular-size);
  font-family: var(--body-normal-regular);
  text-align: left;
}
.profile-photo2 {
  line-height: 26px;
  font-weight: 600;
  color: var(--neutrals-100);
  display: inline-block;
  min-width: 105px;
}
.this-image-will {
  align-self: stretch;
  line-height: 160%;
  color: var(--neutrals-80);
}
.profile-photo1 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  min-width: 259px;
}
.avatar-icon1 {
  height: 124px;
  width: 124px;
  position: relative;
  object-fit: contain;
}
.icon11 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.click-to-replace {
  font-weight: 500;
  font-family: var(--body-normal-regular);
  color: var(--brands-primary);
}
.span {
  color: var(--neutrals-100);
}
.or-drag-and {
  color: var(--neutrals-80);
}
.or-drag-and-drop {
  font-family: var(--body-normal-regular);
}
.click-to-replace-container,
.svg-png-jpg {
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  text-align: left;
}
.svg-png-jpg {
  font-family: var(--body-normal-regular);
  color: var(--neutrals-60);
}
.click-to-replace-or-drag-and-d-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-9xs);
}
.click-to-replace-or-drag-and-d-parent,
.name,
.photo,
.textfield {
  display: flex;
  justify-content: flex-start;
}
.name {
  align-self: stretch;
  height: 96px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.photo,
.textfield {
  align-items: flex-start;
  max-width: 100%;
}
.textfield {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--lights-gray);
  border: 2px dashed var(--brands-primary);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-21xl);
  min-width: 249px;
}
.photo {
  width: 539px;
  flex-direction: row;
  gap: var(--gap-13xl);
  min-width: 539px;
}
.profile-photo,
.tab-menu-separator1 {
  align-self: stretch;
  box-sizing: border-box;
}
.profile-photo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 189px 0 0;
  max-width: 100%;
  gap: var(--gap-xl);
}
.tab-menu-separator1 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutrals-20);
}
.personal-details1 {
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  font-weight: 600;
  font-family: var(--body-normal-regular);
  color: var(--neutrals-100);
  text-align: left;
}
.full-name {
  color: var(--neutrals-80);
}
.span1 {
  color: var(--accents-red);
}
.label,
.this-is-placeholder {
  font-family: var(--body-normal-regular);
  font-size: var(--body-normal-regular-size);
  position: relative;
  text-align: left;
  display: inline-block;
}
.label {
  line-height: 26px;
  font-weight: 600;
  min-width: 89px;
}
.this-is-placeholder {
  width: 68px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 26px;
  line-height: 160%;
  color: var(--neutrals-80);
  padding: 0;
}
.input,
.textfield1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input {
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base);
}
.textfield1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.phone-number {
  color: var(--neutrals-80);
}
.span2 {
  color: var(--accents-red);
}
.label1,
.this-is-placeholder1 {
  font-family: var(--body-normal-regular);
  font-size: var(--body-normal-regular-size);
  position: relative;
  text-align: left;
}
.label1 {
  line-height: 26px;
  font-weight: 600;
}
.this-is-placeholder1 {
  width: 124px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 26px;
  line-height: 160%;
  color: var(--neutrals-80);
  display: inline-block;
  white-space: nowrap;
  padding: 0;
}
.input1,
.textfield2 {
  display: flex;
  justify-content: flex-start;
}
.input1 {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base);
}
.textfield2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
  min-width: 168px;
}
.email {
  color: var(--neutrals-80);
}
.span3 {
  color: var(--accents-red);
}
.label2,
.this-is-placeholder2 {
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  font-family: var(--body-normal-regular);
  text-align: left;
}
.label2 {
  font-weight: 600;
  display: inline-block;
  min-width: 54px;
}
.this-is-placeholder2 {
  color: var(--neutrals-80);
  white-space: nowrap;
}
.input2,
.row-2,
.textfield3 {
  display: flex;
  justify-content: flex-start;
}
.input2 {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base);
}
.row-2,
.textfield3 {
  align-items: flex-start;
}
.textfield3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 168px;
}
.row-2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.date-of-birth {
  color: var(--neutrals-80);
}
.span4 {
  color: var(--accents-red);
}
.label3,
.this-is-placeholder3 {
  font-family: var(--body-normal-regular);
  font-size: var(--body-normal-regular-size);
  position: relative;
  text-align: left;
  display: inline-block;
}
.label3 {
  line-height: 26px;
  font-weight: 600;
  min-width: 114px;
}
.this-is-placeholder3 {
  width: 85px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 26px;
  line-height: 160%;
  color: var(--neutrals-80);
  padding: 0;
}
.icon12 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown {
  align-self: stretch;
  height: 50px;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xl);
}
.textfield4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 168px;
}
.gender {
  color: var(--neutrals-80);
}
.span5 {
  color: var(--accents-red);
}
.label4,
.this-is-placeholder4 {
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  font-family: var(--body-normal-regular);
  text-align: left;
  display: inline-block;
}
.label4 {
  font-weight: 600;
  min-width: 72px;
}
.this-is-placeholder4 {
  color: var(--neutrals-80);
  min-width: 38px;
}
.icon13 {
  height: 20px;
  width: 20px;
  position: relative;
}
.dropdown1 {
  align-self: stretch;
  height: 50px;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xl);
}
.forms,
.row-3,
.textfield5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textfield5 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 168px;
}
.forms,
.row-3 {
  gap: var(--gap-5xl);
}
.row-3 {
  align-self: stretch;
  flex-direction: row;
}
.forms {
  width: 540px;
  flex-direction: column;
  max-width: 100%;
}
.personal-details,
.tab-menu-separator2 {
  align-self: stretch;
  box-sizing: border-box;
}
.personal-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 188px 0 0;
  max-width: 100%;
  gap: var(--gap-xl);
}
.tab-menu-separator2 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutrals-20);
}
.account-type1,
.you-can-update {
  position: relative;
  font-size: var(--body-normal-regular-size);
  font-family: var(--body-normal-regular);
  text-align: left;
}
.account-type1 {
  width: 228px;
  line-height: 28px;
  font-weight: 600;
  color: var(--neutrals-100);
  display: flex;
  align-items: center;
}
.you-can-update {
  line-height: 26px;
  color: var(--neutrals-80);
}
.account-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.radio-button {
  border-color: var(--brands-primary);
  accent-color: #4640de;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.job-seeker2,
.looking-for-a {
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  font-family: var(--body-normal-regular);
  text-align: left;
}
.job-seeker2 {
  font-weight: 500;
  color: var(--neutrals-100);
  display: inline-block;
  min-width: 90px;
}
.looking-for-a {
  align-self: stretch;
  color: var(--neutrals-80);
}
.content,
.job-seeker,
.job-seeker1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  flex: 1;
  flex-direction: column;
}
.job-seeker,
.job-seeker1 {
  flex-direction: row;
}
.job-seeker1 {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-base);
}
.job-seeker {
  width: 299px;
  height: 52px;
}
.radio-button1 {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.employer,
.hiring-sourcing-candidates {
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  font-family: var(--body-normal-regular);
  text-align: left;
}
.employer {
  font-weight: 500;
  color: var(--neutrals-100);
  display: inline-block;
  min-width: 73px;
}
.hiring-sourcing-candidates {
  color: var(--color-black);
}
.content1,
.job-seeker4 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content1 {
  flex-direction: column;
  min-width: 231px;
}
.job-seeker4 {
  flex-direction: row;
  gap: var(--gap-base);
}
.job-seeker3 {
  align-self: stretch;
  flex-direction: row;
}
.account-type2,
.close-button,
.job-seeker3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.account-type2 {
  width: 396px;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 396px;
}
.close-button {
  align-self: stretch;
  flex-direction: row;
  gap: 103px;
}
.tab-menu-separator3 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutrals-20);
  box-sizing: border-box;
}
.caption16 {
  width: 97px;
  position: relative;
  font-size: var(--body-normal-regular-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--body-normal-regular);
  color: var(--color-white);
  text-align: center;
  min-width: 97px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--brands-primary);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button1:hover {
  background-color: #6e66ff;
}
.applicant-dashboard-my-profi {
  margin: 0;
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-12xl) var(--padding-13xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: 23.5px;
  max-width: 100%;
}
.dashboard-settings-account,
.icon9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.icon9 {
  flex: 1;
  flex-direction: column;
  max-width: calc(100% - 272px);
  font-size: var(--body-normal-regular-size);
  color: var(--neutrals-60);
  font-family: var(--body-normal-regular);
}
.dashboard-settings-account {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  letter-spacing: normal;
  font-size: 24px;
  color: var(--color-black);
  font-family: var(--font-red-hat-display);
}
@media screen and (max-width: 1200px) {
  .tabs {
    padding-right: 399px;
    box-sizing: border-box;
  }
  .photo,
  .profile-photo1 {
    flex: 1;
  }
  .profile-photo {
    flex-wrap: wrap;
  }
  .personal-details,
  .profile-photo {
    padding-right: var(--padding-75xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .side-bar-dashboard-applica {
    display: none;
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .photo {
    min-width: 100%;
  }
  .personal-details {
    flex-wrap: wrap;
  }
  .account-type2,
  .job-seeker1 {
    flex: 1;
  }
  .close-button {
    flex-wrap: wrap;
    gap: 103px 51px;
  }
  .applicant-dashboard-my-profi {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .icon9 {
    max-width: 100%;
  }
  .dashboard-settings-account {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .tabs {
    padding-right: 199px;
    box-sizing: border-box;
  }
  .photo {
    flex-wrap: wrap;
    gap: 32px 16px;
  }
  .profile-photo {
    padding-right: var(--padding-28xl);
    box-sizing: border-box;
  }
  .row-2,
  .row-3 {
    flex-wrap: wrap;
  }
  .personal-details {
    padding-right: var(--padding-28xl);
    box-sizing: border-box;
  }
  .account-type2 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .jobhuntly {
    font-size: 19px;
    line-height: 29px;
  }
  .main-menu,
  .menu {
    gap: 16px 32px;
  }
  .side-bar-dashboard-applica {
    gap: 209px 419px;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .action {
    gap: 32px 16px;
  }
  .tabs {
    flex-wrap: wrap;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .personal-details,
  .profile-photo {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .job-seeker4 {
    flex-wrap: wrap;
  }
  .close-button {
    gap: 103px 26px;
  }
  .applicant-dashboard-my-profi {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
