body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-normal-medium: Epilogue;
  --heading-h3: "Clash Display Variable";
  --body-small-medium: Inter;
  --font-red-hat-display: "Red Hat Display";

  /* font sizes */
  --body-normal-medium-size: 16px;
  --display-2-size: 20px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --heading-h3-size: 32px;
  --body-small-regular-size: 14px;

  /* Colors */
  --color-white: #fff;
  --brands-tertiary: #e9ebfd;
  --other-colors-untitled-border-dashboard: #e2e7f5;
  --neutrals-20: #d6ddeb;
  --brands-primary: #4640de;
  --neutrals-100: #25324b;
  --neutrals-10i: #f8f8fd;
  --color-gainsboro: #dedee3;
  --neutrals-60: #7c8493;
  --neutrals-80: #515b6f;
  --neutrals-40: #a8adb7;
  --brands-secondary: #cbcbf5;
  --color-lightsteelblue-100: #b3b3db;
  --color-lightsteelblue-200: rgba(179, 179, 219, 0.09);
  --accents-green: #56cdad;
  --color-text: #202430;
  --color-gray-100: rgba(32, 36, 48, 0.5);
  --accents-red: #ff6550;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-2xs: 11px;
  --gap-7xs: 6px;
  --gap-12xs: 1px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-3xl: 22px;
  --padding-3xs: 10px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-4xl: 23px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-6xs: 7px;
  --padding-12xs-5: 0.5px;
  --padding-2xs: 11px;
  --padding-7xs-5: 5.5px;
  --padding-2xl: 21px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-xl: 20px;

  /* Effects */
  --x-border: 0px -1px 0px #d6ddeb inset;
  --y-border: 1px 0px 0px #d3d6db;
}
