.frame-child {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-2-inner {
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
}
.jobhuntly {
  margin: 0;
  width: 120px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.logic-gate,
.logo-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-2 {
  flex: 1;
  gap: var(--gap-5xs);
}
.logic-gate {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
}
.caption,
.icon {
  position: relative;
}
.icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption {
  flex: 1;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption1 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.icon-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.badge-child {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  background-color: var(--brands-primary);
}
.div {
  height: 16px;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 6px;
  white-space: nowrap;
  z-index: 1;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3px;
  margin-left: -15px;
}
.badge,
.sidebar-menu1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge {
  align-items: flex-end;
  padding: 0 var(--padding-4xs) 0 0;
  font-size: var(--body-small-regular-size);
  color: var(--color-white);
  font-family: var(--body-normal-medium);
}
.sidebar-menu1 {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-13xl);
  gap: var(--gap-base);
}
.vector-stroke-icon {
  position: absolute;
  height: 83.33%;
  width: 66.67%;
  top: 8.33%;
  right: 16.67%;
  bottom: 8.33%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-child,
.icon-item {
  position: absolute;
  height: 8.33%;
  width: 33.33%;
  top: 45.83%;
  right: 33.33%;
  bottom: 45.83%;
  left: 33.33%;
  border-radius: var(--br-xl);
  background-color: var(--neutrals-60);
  z-index: 1;
}
.icon-item {
  top: 62.5%;
  bottom: 29.17%;
}
.icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.caption2 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.caption3 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption4 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.indicator-icon {
  width: 4px;
  height: 32px;
  position: relative;
}
.indicator-wrapper {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption5 {
  flex: 1;
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 160%;
  font-weight: 500;
  font-family: var(--body-small-medium);
  color: var(--brands-primary);
  text-align: left;
}
.menu1,
.menu2,
.sidebar-menu5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu2 {
  flex: 1;
  background-color: var(--brands-tertiary);
  flex-direction: row;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  white-space: nowrap;
}
.menu1,
.sidebar-menu5 {
  align-self: stretch;
}
.sidebar-menu5 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base) 0 0;
  background-color: transparent;
  flex-direction: row;
  gap: 12px;
}
.menu1 {
  flex: 1;
  flex-direction: column;
}
.main-menu-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--brands-secondary);
}
.settings1 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 75px;
}
.settings-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 31px;
}
.icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption6 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.sidebar-menu6 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.caption7 {
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.menu3,
.settings,
.sidebar-menu7 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.sidebar-menu7 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-13xl);
  gap: var(--gap-base);
}
.menu3,
.settings {
  flex-direction: column;
  align-items: flex-start;
}
.menu3 {
  flex: 1;
  font-size: var(--body-normal-medium-size);
  color: var(--neutrals-60);
}
.settings {
  height: 144px;
  gap: var(--gap-5xl);
  font-size: var(--body-small-regular-size);
  color: var(--color-gray-100);
}
.main-menu {
  font-size: var(--body-normal-medium-size);
  color: var(--neutrals-60);
  font-family: var(--body-small-medium);
}
.main-menu,
.menu {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.pattern-icon {
  align-self: stretch;
  height: 316px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.rounded-rectangle {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: -8px 8px 40px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--other-colors-untitled-border-dashboard);
  box-sizing: border-box;
}
.icon8 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper {
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
}
.logout1 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
}
.frame,
.logout,
.profile-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout {
  gap: var(--gap-base);
}
.frame,
.profile-menu {
  z-index: 1;
}
.profile-menu {
  margin-top: -102px;
  align-self: stretch;
  padding: 28px var(--padding-5xl) 26px;
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.line {
  width: 100%;
  height: 0;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.avatar-icon {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  min-height: 48px;
}
.jake-gyll {
  margin-bottom: -3px;
  position: relative;
  line-height: 29px;
  font-weight: 600;
  display: inline-block;
  min-width: 80px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.jake-gyll-wrapper {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.jakegyllemailcom {
  position: relative;
  font-size: var(--body-small-regular-size);
  line-height: 160%;
  color: var(--color-gray-100);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.name-email,
.profile1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile1 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-base);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.profile,
.profile-wrapper,
.side-bar-dashboard-applica {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.profile-wrapper {
  align-self: stretch;
  height: 48px;
  flex-direction: row;
  padding: 0 var(--padding-2xl) 0 13px;
  font-size: var(--font-size-lg);
  color: var(--color-text);
}
.profile,
.side-bar-dashboard-applica {
  flex-direction: column;
}
.profile {
  align-self: stretch;
  height: 72px;
  padding: var(--padding-5xl) 19px 0;
  position: relative;
  gap: 22px;
  font-size: var(--body-normal-medium-size);
  color: var(--accents-red);
  font-family: var(--body-normal-medium);
}
.side-bar-dashboard-applica {
  height: 1514px;
  width: 272px;
  background-color: var(--neutrals-10i);
  box-shadow: var(--y-border);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-13xl) 0;
  gap: 248.5px;
}
.pattern-icon1 {
  height: 390px;
  width: 272px;
  position: relative;
  display: none;
}
.dashboard {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
}
.dashboard-wrapper {
  width: 159px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
  box-sizing: border-box;
}
.caption8 {
  width: 153px;
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--body-normal-medium);
  color: var(--brands-primary);
  text-align: center;
  white-space: nowrap;
}
.button {
  cursor: pointer;
  border: 1px solid var(--brands-secondary);
  padding: var(--padding-xs) 29px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button:hover {
  background-color: var(--color-lightsteelblue-200);
  border: 1px solid var(--color-lightsteelblue-100);
  box-sizing: border-box;
}
.notification-icon {
  width: 40px;
  height: 40px;
  position: relative;
}
.notification-wrapper {
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
  box-sizing: border-box;
}
.action,
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.action {
  width: 285px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.top-nav {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: var(--x-border);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-13xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--heading-h3-size);
  color: var(--neutrals-100);
  font-family: var(--heading-h3);
}
.header-photo-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.photo-icon,
.wrapper-photo {
  align-self: stretch;
  flex: 1;
  z-index: 1;
}
.photo-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  height: 100%;
  transform: scale(2.229);
}
.wrapper-photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-photo-wrapper {
  height: 116px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 46px 0 0;
  box-sizing: border-box;
}
.icon9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.edit,
.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.edit {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-40);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs);
  z-index: 1;
}
.header {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-5xl) 0 var(--padding-13xl);
  position: relative;
  gap: var(--gap-xl);
}
.jake-gyll1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 29px;
  font-weight: 600;
  font-family: var(--heading-h3);
  color: var(--neutrals-100);
  display: inline-block;
  min-width: 107px;
}
.span {
  color: var(--color-text);
}
.twitter {
  font-weight: 500;
  color: var(--neutrals-100);
}
.product-designer-at-container {
  position: relative;
  line-height: 29px;
}
.icon10 {
  height: 24px;
  width: 24px;
  position: relative;
}
.manchester-uk {
  position: relative;
  line-height: 29px;
}
.location {
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icon11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.open-for-opportunities1 {
  flex: 1;
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 160%;
  font-weight: 600;
  font-family: var(--body-normal-medium);
  color: var(--accents-green);
  text-align: center;
}
.open-for-opportunities {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: rgba(86, 205, 173, 0.1);
  align-self: stretch;
  height: 48px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.open-for-opportunities:hover {
  background-color: rgba(36, 153, 122, 0.1);
}
.name {
  width: 296px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 296px;
}
.caption9 {
  width: 89px;
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--body-normal-medium);
  color: var(--brands-primary);
  text-align: center;
  min-width: 89px;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--brands-secondary);
  padding: var(--padding-xs) var(--padding-4xl);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button1:hover {
  background-color: var(--color-lightsteelblue-200);
  border: 1px solid var(--color-lightsteelblue-100);
  box-sizing: border-box;
}
.applicant-dashboard-profile,
.content {
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
}
.content {
  width: 548px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-xl);
}
.applicant-dashboard-profile {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-5xl);
  font-size: var(--font-size-lg);
}
.about-me {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  min-width: 97px;
}
.icon12 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.about-me-parent,
.button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button2 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.about-me-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--display-2-size);
  color: var(--neutrals-100);
}
.for-10-years,
.im-a-product {
  align-self: stretch;
  position: relative;
  line-height: 160%;
}
.applicant-dashboard-about-me {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-4xl);
  gap: var(--gap-base);
  color: var(--neutrals-80);
}
.experiences {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  min-width: 125px;
}
.value-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.icon13 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.conditional-splitter,
.edit1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.edit1 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs);
}
.conditional-splitter {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-xl);
  font-size: var(--display-2-size);
}
.company-logo-icon {
  height: 80px;
  width: 80px;
  position: relative;
  object-fit: cover;
}
.product-designer {
  position: relative;
  line-height: 29px;
  font-weight: 600;
}
.product-designer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.icon14 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button3,
.frame-group {
  display: flex;
  flex-direction: row;
}
.button3 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.frame-group {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.twitter1 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  color: var(--neutrals-100);
  display: inline-block;
  min-width: 57px;
}
.frame-item {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.ellipse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.full-time {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 69px;
}
.frame-inner {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.ellipse-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.jun-2019- {
  position: relative;
  line-height: 26px;
}
.twitter-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.icon15 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.company-name-location-job {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs-5) 0;
  box-sizing: border-box;
  gap: var(--gap-12xs);
  max-width: 100%;
  color: var(--neutrals-80);
}
.manchester-uk1 {
  position: relative;
  line-height: 26px;
  color: var(--neutrals-60);
  display: inline-block;
  min-width: 123px;
}
.role-experience-detail {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.created-and-executed {
  align-self: stretch;
  position: relative;
  line-height: 160%;
}
.experience-card,
.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.main-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs);
  min-width: 374px;
}
.experience-card {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-3xl) var(--padding-5xl)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.image-processor {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--neutrals-20);
  max-width: 100%;
}
.image-processor-wrapper {
  align-self: stretch;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
}
.company-logo-icon1 {
  height: 80px;
  width: 80px;
  position: relative;
  object-fit: contain;
}
.product-designer1 {
  position: relative;
  line-height: 29px;
  font-weight: 600;
}
.product-designer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.icon16 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button4,
.frame-container {
  display: flex;
  flex-direction: row;
}
.button4 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.frame-container {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.twitter2 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  color: var(--neutrals-100);
  display: inline-block;
  min-width: 71px;
}
.ellipse-div {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.ellipse-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.full-time1 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 69px;
}
.frame-child1 {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutrals-40);
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.jun-2019-1 {
  position: relative;
  line-height: 26px;
}
.twitter-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.icon17 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.company-name-location-job1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs-5) 0;
  box-sizing: border-box;
  gap: var(--gap-12xs);
  max-width: 100%;
  color: var(--neutrals-80);
}
.manchester-uk2 {
  position: relative;
  line-height: 26px;
  color: var(--neutrals-60);
  display: inline-block;
  min-width: 123px;
}
.role-experience-detail1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.created-and-executed1 {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-80);
}
.experience-card1,
.main-content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.main-content1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs);
  min-width: 374px;
}
.experience-card1 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-3xl) var(--padding-5xl)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.show-3-more {
  width: 209px;
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.applicant-dashboard-experien,
.function-applier {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.function-applier {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
  color: var(--brands-primary);
}
.applicant-dashboard-experien {
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0;
  max-width: 100%;
  color: var(--neutrals-100);
}
.educations {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  min-width: 113px;
}
.educations-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.icon18 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.edit2,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.edit2 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs);
}
.frame-parent1 {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-xl);
  font-size: var(--display-2-size);
  color: var(--neutrals-100);
}
.company-logo-icon2 {
  height: 80px;
  width: 80px;
  position: relative;
  object-fit: cover;
}
.harvard-university {
  position: relative;
  line-height: 29px;
  font-weight: 600;
}
.icon19 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button5,
.harvard-university-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button5 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.harvard-university-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  color: var(--neutrals-100);
}
.bachelors-degree-applied,
.div1 {
  position: relative;
  line-height: 26px;
  display: inline-block;
}
.bachelors-degree-applied {
  max-width: 100%;
}
.div1 {
  min-width: 84px;
}
.role-experience-detail2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.as-an-applied {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-100);
}
.main-content2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  min-width: 374px;
  max-width: 100%;
}
.education-card,
.rectangle-div {
  align-self: stretch;
  max-width: 100%;
}
.education-card {
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-3xl) var(--padding-5xl)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.rectangle-div {
  flex: 1;
  position: relative;
  background-color: var(--neutrals-20);
}
.applicant-dashboard-educatio-inner {
  align-self: stretch;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
}
.company-logo-icon3 {
  height: 80px;
  width: 80px;
  position: relative;
  object-fit: cover;
}
.harvard-university1 {
  position: relative;
  line-height: 29px;
  font-weight: 600;
}
.icon20 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button6,
.harvard-university-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button6 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.harvard-university-group {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  color: var(--neutrals-100);
}
.bachelors-degree-applied1,
.div2 {
  position: relative;
  line-height: 26px;
}
.div2 {
  display: inline-block;
  min-width: 89px;
}
.role-experience-detail3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.as-an-applied1 {
  align-self: stretch;
  height: 78px;
  position: relative;
  line-height: 160%;
  color: var(--neutrals-100);
  display: none;
}
.education-card1,
.main-content3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.main-content3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs);
  min-width: 373px;
}
.education-card1 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.show-2-more {
  width: 199px;
  position: relative;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
}
.nav-wrapper,
.nav1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
  color: var(--brands-primary);
}
.applicant-dashboard-educatio,
.applicant-dashboard-profile-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.applicant-dashboard-educatio {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  padding: var(--padding-5xl) 0;
}
.applicant-dashboard-profile-parent {
  flex: 1;
  gap: var(--gap-5xl);
}
.additional-details1 {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.icon21 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.additional-details-parent,
.button7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button7 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.additional-details-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--display-2-size);
  color: var(--neutrals-100);
}
.icon22 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.email1,
.jakegyllemailcom1 {
  position: relative;
  line-height: 26px;
}
.email1 {
  display: inline-block;
  min-width: 41px;
}
.jakegyllemailcom1 {
  color: var(--neutrals-100);
  white-space: nowrap;
}
.content1,
.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email {
  height: 52px;
  flex-direction: row;
  gap: var(--gap-base);
}
.icon23 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div3,
.phone {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 50px;
}
.div3 {
  color: var(--neutrals-100);
  min-width: 124px;
  white-space: nowrap;
}
.content2,
.email2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email2 {
  height: 52px;
  flex-direction: row;
  gap: var(--gap-base);
}
.icon24 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.english-french,
.languages {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 86px;
}
.english-french {
  color: var(--neutrals-100);
  min-width: 118px;
}
.additional-details,
.content3,
.email3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content3 {
  flex-direction: column;
}
.additional-details,
.email3 {
  gap: var(--gap-base);
}
.email3 {
  height: 52px;
  flex-direction: row;
}
.additional-details {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-4xl);
}
.social-links1 {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  min-width: 116px;
}
.icon25 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button8,
.social-links-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button8 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.social-links-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--display-2-size);
  color: var(--neutrals-100);
}
.icon26 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.instagram,
.instagramcomjakegyll {
  position: relative;
  line-height: 26px;
}
.instagram {
  display: inline-block;
  min-width: 79px;
}
.instagramcomjakegyll {
  color: var(--brands-primary);
}
.content4,
.email4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email4 {
  height: 52px;
  flex-direction: row;
  gap: var(--gap-base);
}
.icon27 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.twitter3,
.twittercomjakegyll {
  position: relative;
  line-height: 26px;
}
.twitter3 {
  display: inline-block;
  min-width: 55px;
}
.twittercomjakegyll {
  color: var(--brands-primary);
}
.content5,
.email5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email5 {
  height: 52px;
  flex-direction: row;
  gap: var(--gap-base);
}
.icon28 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.website,
.wwwjakegyllcom {
  position: relative;
  line-height: 26px;
}
.website {
  display: inline-block;
  min-width: 64px;
}
.wwwjakegyllcom {
  color: var(--brands-primary);
}
.content6,
.email6,
.social-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content6 {
  flex-direction: column;
}
.email6,
.social-links {
  gap: var(--gap-base);
}
.email6 {
  height: 52px;
  flex-direction: row;
}
.social-links {
  align-self: stretch;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-4xl);
}
.applicant-dashboard-contact,
.frame-parent,
.logic-operator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.applicant-dashboard-contact {
  width: 352px;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 352px;
}
.frame-parent,
.logic-operator {
  flex-direction: row;
}
.frame-parent {
  flex: 1;
  gap: var(--gap-5xl);
}
.logic-operator {
  align-self: stretch;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.side-bar-dashboard-applica-parent,
.top-nav-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.top-nav-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
  max-width: calc(100% - 272px);
  font-size: var(--body-normal-medium-size);
  color: var(--neutrals-60);
  font-family: var(--body-normal-medium);
}
.side-bar-dashboard-applica-parent {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--color-text);
  font-family: var(--font-red-hat-display);
}
.icon29,
.skills {
  position: relative;
}
.skills {
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.icon29 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button9 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.icon30 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button10,
.image-processor1,
.input-validator {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button10 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.image-processor1,
.input-validator {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image-processor1 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.caption10 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--brands-primary);
  text-align: left;
  display: inline-block;
  min-width: 124px;
}
.tag {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-xs);
  background-color: var(--neutrals-10i);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tag1:hover,
.tag2:hover,
.tag3:hover,
.tag4:hover,
.tag:hover {
  background-color: var(--color-gainsboro);
}
.caption11 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--brands-primary);
  text-align: left;
  display: inline-block;
  min-width: 72px;
}
.tag1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-xs);
  background-color: var(--neutrals-10i);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.caption12 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--brands-primary);
  text-align: left;
  display: inline-block;
  min-width: 110px;
}
.tag2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-xs);
  background-color: var(--neutrals-10i);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.caption13 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--brands-primary);
  text-align: left;
}
.tag-parent,
.tag3 {
  display: flex;
  flex-direction: row;
}
.tag3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-xs);
  background-color: var(--neutrals-10i);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.tag-parent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.caption14 {
  position: relative;
  font-size: var(--body-normal-medium-size);
  line-height: 26px;
  font-family: var(--body-normal-medium);
  color: var(--brands-primary);
  text-align: left;
}
.tag4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-xs);
  background-color: var(--neutrals-10i);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.applicant-dashboard-skills,
.number-set {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.applicant-dashboard-skills {
  width: 728px;
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-4xl);
  gap: var(--gap-base);
}
.number-set {
  width: 1336px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.portfolios {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  min-width: 99px;
}
.portfolios-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.icon31 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button11,
.frame-parent2 {
  display: flex;
  flex-direction: row;
}
.button11 {
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutrals-20);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.frame-parent2 {
  width: 682px;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.clinically-clinic,
.image-3-icon {
  align-self: stretch;
  position: relative;
}
.image-3-icon {
  height: 152.3px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.clinically-clinic {
  line-height: 160%;
  font-weight: 500;
}
.porrfolio-1 {
  align-self: stretch;
  width: 203px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  debug_commit: f6aba90;
}
.growthly-saas,
.image-3-icon1 {
  align-self: stretch;
  position: relative;
}
.image-3-icon1 {
  height: 152.3px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.growthly-saas {
  line-height: 160%;
  font-weight: 500;
}
.porrfolio-2 {
  align-self: stretch;
  width: 203px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  debug_commit: f6aba90;
}
.image-3-icon2,
.planna-project {
  align-self: stretch;
  position: relative;
}
.image-3-icon2 {
  height: 152.3px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.planna-project {
  line-height: 160%;
  font-weight: 500;
}
.porrfolio-3 {
  align-self: stretch;
  width: 203px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  debug_commit: f6aba90;
}
.funiro-landing,
.image-3-icon3 {
  align-self: stretch;
  position: relative;
}
.image-3-icon3 {
  height: 152.3px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.funiro-landing {
  line-height: 160%;
  font-weight: 500;
}
.list,
.porrfolio-4 {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.porrfolio-4 {
  align-self: stretch;
  width: 203px;
  flex-direction: column;
  gap: var(--gap-3xs);
  debug_commit: f6aba90;
}
.list {
  width: 706px;
  height: 214px;
  overflow-x: auto;
  flex-direction: row;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--body-normal-medium-size);
}
.slider-child,
.slider-item {
  position: absolute;
  top: 0.5px;
  left: 0;
  background-color: var(--brands-tertiary);
  width: 682px;
  height: 4px;
}
.slider-item {
  top: 0;
  background-color: var(--brands-primary);
  width: 74px;
  height: 5px;
  z-index: 1;
}
.slider {
  width: 682px;
  height: 5px;
  position: relative;
  max-width: 100%;
}
.applicant-dashboard-portfoli,
.applicant-dashboard-portfoli-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.applicant-dashboard-portfoli {
  background-color: var(--color-white);
  border: 1px solid var(--neutrals-20);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 var(--padding-5xl) var(--padding-3xl);
  gap: var(--gap-base);
}
.applicant-dashboard-portfoli-wrapper {
  width: 1338px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.dashboard-profile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--display-2-size);
  color: var(--neutrals-100);
  font-family: var(--body-normal-medium);
}
@media screen and (max-width: 1200px) {
  .side-bar-dashboard-applica {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .side-bar-dashboard-applica {
    display: none;
  }
  .applicant-dashboard-contact {
    flex: 1;
  }
  .frame-parent {
    flex-wrap: wrap;
  }
  .top-nav-parent {
    max-width: 100%;
  }
  .side-bar-dashboard-applica-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .side-bar-dashboard-applica {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .name {
    flex: 1;
  }
  .content {
    flex-wrap: wrap;
  }
  .main-content {
    min-width: 100%;
  }
  .experience-card {
    flex-wrap: wrap;
  }
  .main-content1 {
    min-width: 100%;
  }
  .experience-card1 {
    flex-wrap: wrap;
  }
  .applicant-dashboard-experien {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .main-content2 {
    min-width: 100%;
  }
  .education-card {
    flex-wrap: wrap;
  }
  .main-content3 {
    min-width: 100%;
  }
  .education-card1 {
    flex-wrap: wrap;
  }
  .applicant-dashboard-educatio {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .applicant-dashboard-profile-parent {
    min-width: 100%;
  }
  .top-nav-parent {
    gap: 16px 32px;
  }
  .tag-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .jobhuntly {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .main-menu,
  .menu {
    gap: 16px 32px;
  }
  .side-bar-dashboard-applica {
    gap: 124px 248.5px;
  }
  .action {
    gap: 32px 16px;
  }
  .header {
    flex-wrap: wrap;
  }
  .jake-gyll1 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .about-me {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .about-me-parent {
    flex-wrap: wrap;
  }
  .experiences {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .conditional-splitter,
  .frame-container,
  .frame-group,
  .twitter-group,
  .twitter-parent {
    flex-wrap: wrap;
  }
  .educations {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .frame-parent1,
  .harvard-university-group,
  .harvard-university-parent {
    flex-wrap: wrap;
  }
  .additional-details1 {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .additional-details-parent {
    flex-wrap: wrap;
  }
  .social-links1 {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .social-links-parent {
    flex-wrap: wrap;
  }
  .applicant-dashboard-contact {
    min-width: 100%;
  }
  .skills {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .image-processor1 {
    flex-wrap: wrap;
  }
  .portfolios {
    font-size: var(--body-normal-medium-size);
    line-height: 19px;
  }
  .frame-parent2 {
    flex-wrap: wrap;
  }
}
