<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <link rel="stylesheet" th:href="@{./css/global.css}" />
        <link rel="stylesheet" th:href="@{./css/job-descriptions.css}" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap"
        />
    </head>
    <body>
        <div class="job-descriptions">
            <section class="header-3-desktop">
                <div class="input-port"></div>
                <img class="pattern-icon7" alt="" />

                <img class="pattern-icon8" alt="" />

                <header class="top-nav2">
                    <div class="menu9">
                        <div class="logo-frame">
                            <div class="logo3">
                                <div class="logo-12">
                                    <div class="path-finder">
                                        <img
                                            class="path-finder-child"
                                            alt=""
                                            th:src="@{./images/frame-3.svg}"
                                        />
                                    </div>
                                    <h3 class="jobhuntly9">JobHuntly</h3>
                                </div>
                                <div class="logo-25">
                                    <div class="path-finder1">
                                        <img
                                            class="path-finder-item"
                                            alt=""
                                            th:src="@{./images/frame-3-12.svg}"
                                        />
                                    </div>
                                    <h3 class="jobhuntly10">JobHuntly</h3>
                                </div>
                            </div>
                        </div>
                        <div class="menu10">
                            <div class="top-menu4">
                                <div class="caption98">Find Jobs</div>
                                <div class="top-menu-child2"></div>
                            </div>
                            <div class="top-menu5">
                                <div class="caption99">Browse Companies</div>
                                <div class="top-menu-child3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons2">
                        <button class="button22">
                            <b class="caption100">Login</b>
                        </button>
                        <div class="divider-frame">
                            <div class="divider9"></div>
                        </div>
                        <button class="button23">
                            <b class="caption101">Sign Up</b>
                        </button>
                    </div>
                </header>
                <div class="home-companies-container1">
                    <span>Home / Companies / Nomad / </span>
                    <span class="social-media-assistant19"
                        >Social Media Assistant</span
                    >
                </div>
                <div class="job-list25">
                    <div class="company-logo-container">
                        <div class="company-logo4">
                            <div class="company-logo-inner"></div>
                            <img
                                class="stripe-logo-dp4f5yykm-1-icon2"
                                loading="lazy"
                                alt=""
                                th:src="@{./images/stripe-logo-dp4f5yykm-1@2x.png}"
                            />
                        </div>
                        <div class="job-title-frame">
                            <div class="job-title19">
                                <h1 class="social-media-assistant20">
                                    Social Media Assistant
                                </h1>
                                <div class="company-name-location-job17">
                                    <div class="nomad18">Stripe</div>
                                    <div
                                        class="company-name-location-job-inner14"
                                    >
                                        <div class="frame-child47"></div>
                                    </div>
                                    <div class="paris-france19">
                                        Paris, France
                                    </div>
                                    <div
                                        class="company-name-location-job-inner15"
                                    >
                                        <div class="frame-child48"></div>
                                    </div>
                                    <div class="full-time3">Full-Time</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="job-list-child">
                        <div class="frame-parent14">
                            <div class="icon-wrapper9">
                                <img
                                    class="icon69"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./images/icon.svg}"
                                />
                            </div>
                            <div class="line9"></div>
                            <button class="button24">
                                <b class="caption102">Apply</b>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="landing-page-paragraph-des">
                <div class="paragraph3">
                    <div class="description6">
                        <h1 class="description7">Description</h1>
                        <div class="stripe-is-looking1">
                            Stripe is looking for Social Media Marketing expert
                            to help manage our online networks. You will be
                            responsible for monitoring our social media
                            channels, creating content, finding effective ways
                            to engage the community and incentivize others to
                            engage on our channels.
                        </div>
                    </div>
                    <div class="responsibilities2">
                        <h1 class="responsibilities3">Responsibilities</h1>
                        <div class="frame-parent15">
                            <div class="icon-parent5">
                                <img
                                    class="icon70"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="community-engagement-to1">
                                    Community engagement to ensure that is
                                    supported and actively represented online
                                </div>
                            </div>
                            <div class="icon-parent6">
                                <img
                                    class="icon71"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="focus-on-social1">
                                    Focus on social media content development
                                    and imagesation
                                </div>
                            </div>
                            <div class="icon-parent7">
                                <img
                                    class="icon72"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="marketing-and-strategy1">
                                    Marketing and strategy support
                                </div>
                            </div>
                            <div class="icon-parent8">
                                <img
                                    class="icon73"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="stay-on-top1">
                                    Stay on top of trends on social media
                                    platforms, and suggest content ideas to the
                                    team
                                </div>
                            </div>
                            <div class="decision-tree">
                                <img
                                    class="icon74"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="engage-with-online1">
                                    Engage with online communities
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="who-you-are2">
                        <h1 class="who-you-are3">Who You Are</h1>
                        <div class="frame-parent16">
                            <div class="icon-parent9">
                                <img
                                    class="icon75"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="you-get-energy1">
                                    You get energy from people and building the
                                    ideal work environment
                                </div>
                            </div>
                            <div class="icon-parent10">
                                <img
                                    class="icon76"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="you-have-a1">
                                    You have a sense for beautiful spaces and
                                    office experiences
                                </div>
                            </div>
                            <div class="icon-parent11">
                                <img
                                    class="icon77"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="you-are-a1">
                                    You are a confident office manager, ready
                                    for added responsibilities
                                </div>
                            </div>
                            <div class="icon-parent12">
                                <img
                                    class="icon78"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="youre-detail-oriented-and1">
                                    You're detail-oriented and creative
                                </div>
                            </div>
                            <div class="icon-parent13">
                                <img
                                    class="icon79"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="youre-a-growth1">
                                    You're a growth marketer and know how to run
                                    campaigns
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nice-to-haves2">
                        <h1 class="nice-to-haves3">Nice-To-Haves</h1>
                        <div class="function-caller">
                            <div class="condition-checker">
                                <img
                                    class="icon80"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="fluent-in-english1">
                                    Fluent in English
                                </div>
                            </div>
                            <div class="condition-checker1">
                                <img
                                    class="icon81"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="project-management-skills1">
                                    Project management skills
                                </div>
                            </div>
                            <div class="condition-checker2">
                                <img
                                    class="icon82"
                                    alt=""
                                    th:src="@{./images/icon-13.svg}"
                                />

                                <div class="copy-editing-skills1">
                                    Copy editing skills
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-content">
                    <div class="about-role">
                        <h1 class="about-this-role1">About this role</h1>
                        <div class="progress-bar2">
                            <div class="applied-of-10-container1">
                                <span class="applied1">5 applied </span>
                                <span class="of-10-capacity1"
                                    >of 10 capacity</span
                                >
                            </div>
                            <div class="progress-bar3">
                                <div class="graph-processor"></div>
                                <div class="graph-processor1"></div>
                                <div class="graph-processor2"></div>
                                <div class="graph-processor3"></div>
                                <div class="graph-processor4"></div>
                            </div>
                        </div>
                        <div class="apply-before2">
                            <div class="apply-before3">Apply Before</div>
                            <div class="july-31-20211">July 31, 2021</div>
                        </div>
                        <div class="job-posted-on2">
                            <div class="job-posted-on3">Job Posted On</div>
                            <div class="july-1-20211">July 1, 2021</div>
                        </div>
                        <div class="job-type2">
                            <div class="job-type3">Job Type</div>
                            <div class="full-time4">Full-Time</div>
                        </div>
                        <div class="salary2">
                            <div class="salary3">Salary</div>
                            <div class="k-85k-usd1">$75k-$85k USD</div>
                        </div>
                    </div>
                    <div class="queue-manager"></div>
                    <div class="categories2">
                        <h1 class="categories3">Categories</h1>
                        <div class="label-parent4">
                            <button class="label94">
                                <div class="caption103">Marketing</div>
                            </button>
                            <button class="label95">
                                <div class="caption104">Design</div>
                            </button>
                        </div>
                    </div>
                    <div class="queue-manager1"></div>
                    <div class="required-skills1">
                        <div class="required-skills-wrapper">
                            <h1 class="required-skills2">Required Skills</h1>
                        </div>
                        <div class="frame-parent17">
                            <div class="tag-parent">
                                <button class="tag13">
                                    <div class="caption105">
                                        Project Management
                                    </div>
                                </button>
                                <button class="tag14">
                                    <div class="caption106">Copywriting</div>
                                </button>
                            </div>
                            <div class="h-t-m-l-parser">
                                <div class="markov-model">
                                    <button class="tag15">
                                        <div class="caption107">
                                            Social Media Marketing
                                        </div>
                                    </button>
                                    <button class="tag16">
                                        <div class="caption108">English</div>
                                    </button>
                                </div>
                                <button class="tag17">
                                    <div class="caption109">Copy Editing</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="line10"></div>
            <section class="landing-page-perks-benefit">
                <div class="title16">
                    <h1 class="perks-benefits2">Perks & Benefits</h1>
                    <div class="this-job-comes1">
                        This job comes with several perks and benefits
                    </div>
                </div>
                <div class="content4">
                    <div class="row-13">
                        <div class="benefits7">
                            <img
                                class="icon83"
                                alt=""
                                th:src="@{./images/icon-141.svg}"
                            />

                            <div class="text8">
                                <div class="full-healthcare7">
                                    Full Healthcare
                                </div>
                                <div class="we-believe-in7">
                                    We believe in thriving communities and that
                                    starts with our team being happy and
                                    healthy.
                                </div>
                            </div>
                        </div>
                        <div class="benefits8">
                            <img
                                class="icon84"
                                alt=""
                                th:src="@{./images/icon-15.svg}"
                            />

                            <div class="text9">
                                <div class="full-healthcare8">
                                    Unlimited Vacation
                                </div>
                                <div class="we-believe-in8">
                                    We believe you should have a flexible
                                    schedule that makes space for family,
                                    wellness, and fun.
                                </div>
                            </div>
                        </div>
                        <div class="benefits9">
                            <img
                                class="icon85"
                                alt=""
                                th:src="@{./images/icon-161.svg}"
                            />

                            <div class="text10">
                                <div class="full-healthcare9">
                                    Skill Development
                                </div>
                                <div class="we-believe-in9">
                                    We believe in always learning and leveling
                                    up our skills. Whether it's a conference or
                                    online course.
                                </div>
                            </div>
                        </div>
                        <div class="benefits10">
                            <img
                                class="icon86"
                                alt=""
                                th:src="@{./images/icon-17.svg}"
                            />

                            <div class="text11">
                                <div class="full-healthcare10">
                                    Team Summits
                                </div>
                                <div class="we-believe-in10">
                                    Every 6 months we have a full team summit
                                    where we have fun, reflect, and plan for the
                                    upcoming quarter.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-23">
                        <div class="benefits11">
                            <img
                                class="icon87"
                                alt=""
                                th:src="@{./images/icon-182.svg}"
                            />

                            <div class="text12">
                                <div class="full-healthcare11">
                                    Remote Working
                                </div>
                                <div class="we-believe-in11">
                                    You know how you perform your best. Work
                                    from home, coffee shop or anywhere when you
                                    feel like it.
                                </div>
                            </div>
                        </div>
                        <div class="benefits12">
                            <img
                                class="icon88"
                                alt=""
                                th:src="@{./images/icon-19.svg}"
                            />

                            <div class="text13">
                                <div class="full-healthcare12">
                                    Commuter Benefits
                                </div>
                                <div class="we-believe-in12">
                                    We’re grateful for all the time and energy
                                    each team member puts into getting to work
                                    every day.
                                </div>
                            </div>
                        </div>
                        <div class="benefits13">
                            <img
                                class="icon89"
                                alt=""
                                th:src="@{./images/icon-201.svg}"
                            />

                            <div class="text14">
                                <div class="full-healthcare13">
                                    We give back.
                                </div>
                                <div class="we-believe-in13">
                                    We anonymously match any donation our
                                    employees make (up to $/€ 600) so they can
                                    support the organizations they care about
                                    most—times two.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="line11"></div>
            <section class="landing-page-company-deskt1">
                <div class="content-wrapper">
                    <div class="content5">
                        <div class="more-about-company">
                            <button class="company-logo5">
                                <div class="company-logo-child1"></div>
                                <img
                                    class="stripe-logo-dp4f5yykm-1-icon3"
                                    alt=""
                                    th:src="@{./images/stripe-logo-dp4f5yykm-1-1@2x.png}"
                                />
                            </button>
                            <div class="company-name-wrapper">
                                <div class="company-name">
                                    <h1 class="stripe1">Stripe</h1>
                                    <div class="buttonsmallicon-rightsmall4">
                                        <div class="button25">
                                            Read more about Stripe
                                        </div>
                                        <div class="icon-wrapper10">
                                            <img
                                                class="icon90"
                                                alt=""
                                                th:src="@{./images/icon-212.svg}"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stripe-is-a1">
                            Stripe is a technology company that builds economic
                            infrastructure for the internet. Businesses of every
                            size—from new startups to
                            companies—use our software to accept payments and
                            manage their businesses online.
                        </div>
                    </div>
                </div>
                <img
                    class="images-icon1"
                    loading="lazy"
                    alt=""
                    th:src="@{./images/images@2x.png}"
                />
            </section>
            <section class="landing-page-latest-job-open1">
                <img
                    class="bg-icon2"
                    alt=""
                    th:src="@{./images/bg.svg}"
                />

                <div class="wrapper-pattern-parent">
                    <div class="wrapper-pattern2">
                        <img
                            class="pattern-icon9"
                            alt=""
                            th:src="@{./images/pattern.svg}"
                        />
                    </div>
                    <div class="content6">
                        <div class="list2">
                            <div class="col-12">
                                <div class="job-list26">
                                    <img
                                        class="company-logo-icon25"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./images/company-logo1.svg}"
                                    />

                                    <div class="job-title20">
                                        <div class="social-media-assistant21">
                                            Social Media Assistant
                                        </div>
                                        <div
                                            class="company-name-location-job18"
                                        >
                                            <div class="nomad19">Nomad</div>
                                            <div
                                                class="company-name-location-job-inner16"
                                            >
                                                <div
                                                    class="frame-child49"
                                                ></div>
                                            </div>
                                            <div class="paris-france20">
                                                Paris, France
                                            </div>
                                        </div>
                                        <div class="label96">
                                            <button class="label97">
                                                <div class="caption110">
                                                    Full-Time
                                                </div>
                                            </button>
                                            <div class="processing-unit"></div>
                                            <button class="label98">
                                                <div
                                                    class="label-child46"
                                                ></div>
                                                <div class="caption111">
                                                    Marketing
                                                </div>
                                            </button>
                                            <button class="label99">
                                                <div
                                                    class="label-child47"
                                                ></div>
                                                <div class="caption112">
                                                    Design
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="job-list27">
                                    <img
                                        class="company-logo-icon26"
                                        alt=""
                                        th:src="@{./images/company-logo-9.svg}"
                                    />

                                    <div class="job-title21">
                                        <div class="social-media-assistant22">
                                            Brand Designer
                                        </div>
                                        <div
                                            class="company-name-location-job19"
                                        >
                                            <div class="nomad20">Dropbox</div>
                                            <div
                                                class="company-name-location-job-inner17"
                                            >
                                                <div
                                                    class="frame-child50"
                                                ></div>
                                            </div>
                                            <div class="paris-france21">
                                                San Fransisco, USA
                                            </div>
                                        </div>
                                        <div class="label100">
                                            <button class="label101">
                                                <div class="caption113">
                                                    Full-Time
                                                </div>
                                            </button>
                                            <div class="label-child48"></div>
                                            <button class="label102">
                                                <div
                                                    class="label-child49"
                                                ></div>
                                                <div class="caption114">
                                                    Marketing
                                                </div>
                                            </button>
                                            <button class="label103">
                                                <div
                                                    class="label-child50"
                                                ></div>
                                                <div class="caption115">
                                                    Design
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="job-list28">
                                    <img
                                        class="company-logo-icon27"
                                        alt=""
                                        th:src="@{./images/company-logo-21.svg}"
                                    />

                                    <div class="job-title22">
                                        <div class="social-media-assistant23">
                                            Interactive Developer
                                        </div>
                                        <div
                                            class="company-name-location-job20"
                                        >
                                            <div class="nomad21">Terraform</div>
                                            <div
                                                class="company-name-location-job-inner18"
                                            >
                                                <div
                                                    class="frame-child51"
                                                ></div>
                                            </div>
                                            <div class="paris-france22">
                                                Hamburg, Germany
                                            </div>
                                        </div>
                                        <div class="label104">
                                            <button class="label105">
                                                <div class="caption116">
                                                    Full-Time
                                                </div>
                                            </button>
                                            <div class="label-child51"></div>
                                            <button class="label106">
                                                <div
                                                    class="label-child52"
                                                ></div>
                                                <div class="caption117">
                                                    Marketing
                                                </div>
                                            </button>
                                            <button class="label107">
                                                <div
                                                    class="label-child53"
                                                ></div>
                                                <div class="caption118">
                                                    Design
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="job-list29">
                                    <img
                                        class="company-logo-icon28"
                                        alt=""
                                        th:src="@{./images/company-logo-31.svg}"
                                    />

                                    <div class="job-title23">
                                        <div class="social-media-assistant24">
                                            HR Manager
                                        </div>
                                        <div
                                            class="company-name-location-job21"
                                        >
                                            <div class="nomad22">Packer</div>
                                            <div
                                                class="company-name-location-job-inner19"
                                            >
                                                <div
                                                    class="frame-child52"
                                                ></div>
                                            </div>
                                            <div class="paris-france23">
                                                Lucern, Switzerland
                                            </div>
                                        </div>
                                        <div class="label108">
                                            <button class="label109">
                                                <div class="caption119">
                                                    Full-Time
                                                </div>
                                            </button>
                                            <div
                                                class="feature-extractor"
                                            ></div>
                                            <button class="label110">
                                                <div
                                                    class="label-child54"
                                                ></div>
                                                <div class="caption120">
                                                    Marketing
                                                </div>
                                            </button>
                                            <button class="label111">
                                                <div
                                                    class="label-child55"
                                                ></div>
                                                <div class="caption121">
                                                    Design
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-22">
                                <div class="job-list30">
                                    <img
                                        class="company-logo-icon29"
                                        alt=""
                                        th:src="@{./images/company-logo-41@2x.png}"
                                    />

                                    <div class="job-title24">
                                        <div class="social-media-assistant25">
                                            Social Media Assistant
                                        </div>
                                        <div
                                            class="company-name-location-job22"
                                        >
                                            <div class="nomad23">Netlify</div>
                                            <div
                                                class="company-name-location-job-inner20"
                                            >
                                                <div
                                                    class="frame-child53"
                                                ></div>
                                            </div>
                                            <div class="paris-france24">
                                                Paris, France
                                            </div>
                                        </div>
                                        <div class="label112">
                                            <button class="label113">
                                                <div class="caption122">
                                                    Full-Time
                                                </div>
                                            </button>
                                            <div class="label-child56"></div>
                                            <button class="label114">
                                                <div
                                                    class="label-child57"
                                                ></div>
                                                <div class="caption123">
                                                    Marketing
                                                </div>
                                            </button>
                                            <button class="label115">
                                                <div
                                                    class="label-child58"
                                                ></div>
                                                <div class="caption124">
                                                    Design
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="job-list31">
                                    <img
                                        class="company-logo-icon30"
                                        alt=""
                                        th:src="@{./images/company-logo-13@2x.png}"
                                    />

                                    <div class="job-title25">
                                        <div class="social-media-assistant26">
                                            Brand Designer
                                        </div>
                                        <div
                                            class="company-name-location-job23"
                                        >
                                            <div class="nomad24">Maze</div>
                                            <div
                                                class="company-name-location-job-inner21"
                                            >
                                                <div
                                                    class="frame-child54"
                                                ></div>
                                            </div>
                                            <div class="paris-france25">
                                                San Fransisco, USA
                                            </div>
                                        </div>
                                        <div class="label116">
                                            <button class="label117">
                                                <div class="caption125">
                                                    Full-Time
                                                </div>
                                            </button>
                                            <div class="label-child59"></div>
                                            <button class="label118">
                                                <div
                                                    class="label-child60"
                                                ></div>
                                                <div class="caption126">
                                                    Marketing
                                                </div>
                                            </button>
                                            <button class="label119">
                                                <div
                                                    class="label-child61"
                                                ></div>
                                                <div class="caption127">
                                                    Design
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="job-list32">
                                    <img
                                        class="company-logo-icon31"
                                        alt=""
                                        th:src="@{./images/company-logo-14@2x.png}"
                                    />

                                    <div class="job-title26">
                                        <div class="social-media-assistant27">
                                            Interactive Developer
                                        </div>
                                        <div
                                            class="company-name-location-job24"
                                        >
                                            <div class="nomad25">Udacity</div>
                                            <div
                                                class="company-name-location-job-inner22"
                                            >
                                                <div
                                                    class="frame-child55"
                                                ></div>
                                            </div>
                                            <div class="paris-france26">
                                                Hamburg, Germany
                                            </div>
                                        </div>
                                        <div class="label120">
                                            <button class="label121">
                                                <div class="caption128">
                                                    Full-Time
                                                </div>
                                            </button>
                                            <div class="label-child62"></div>
                                            <button class="label122">
                                                <div
                                                    class="label-child63"
                                                ></div>
                                                <div class="caption129">
                                                    Marketing
                                                </div>
                                            </button>
                                            <button class="label123">
                                                <div
                                                    class="label-child64"
                                                ></div>
                                                <div class="caption130">
                                                    Design
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="job-list33">
                                    <img
                                        class="company-logo-icon32"
                                        alt=""
                                        th:src="@{./images/company-logo-71@2x.png}"
                                    />

                                    <div class="job-title27">
                                        <div class="social-media-assistant28">
                                            HR Manager
                                        </div>
                                        <div
                                            class="company-name-location-job25"
                                        >
                                            <div class="nomad26">Webflow</div>
                                            <div
                                                class="company-name-location-job-inner23"
                                            >
                                                <div
                                                    class="frame-child56"
                                                ></div>
                                            </div>
                                            <div class="paris-france27">
                                                Lucern, Switzerland
                                            </div>
                                        </div>
                                        <div class="label124">
                                            <button class="label125">
                                                <div class="caption131">
                                                    Full-Time
                                                </div>
                                            </button>
                                            <div class="label-child65"></div>
                                            <button class="label126">
                                                <div
                                                    class="label-child66"
                                                ></div>
                                                <div class="caption132">
                                                    Marketing
                                                </div>
                                            </button>
                                            <button class="label127">
                                                <div
                                                    class="label-child67"
                                                ></div>
                                                <div class="caption133">
                                                    Design
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer2">
                <div class="frame-parent18">
                    <div class="left-container">
                        <div class="left2">
                            <div class="logo-26">
                                <div class="path-finder2">
                                    <img
                                        class="tree-builder-icon"
                                        alt=""
                                        th:src="@{./images/frame-3-21.svg}"
                                    />
                                </div>
                                <h3 class="jobhuntly11">JobHuntly</h3>
                            </div>
                            <div class="great-platform-for3">
                                Great platform for the job seeker that
                                passionate about startups. Find your dream job
                                easier.
                            </div>
                        </div>
                    </div>
                    <div class="menu11">
                        <div class="first-column9">
                            <div class="classifier">
                                <div class="about2">About</div>
                            </div>
                            <div class="description8">
                                <div class="companies2">Companies</div>
                                <div class="pricing2">Pricing</div>
                                <div class="terms2">Terms</div>
                                <div class="advice2">Advice</div>
                                <div class="privacy-policy4">
                                    Privacy Policy
                                </div>
                            </div>
                        </div>
                        <div class="second-column2">
                            <div class="resources2">Resources</div>
                            <div class="description9">
                                <div class="help-docs2">Help Docs</div>
                                <div class="guide2">Guide</div>
                                <div class="updates2">Updates</div>
                                <div class="contact-us2">Contact Us</div>
                            </div>
                        </div>
                    </div>
                    <div class="right2">
                        <div class="get-job-notifications-group">
                            <div class="get-job-notifications2">
                                Get job notifications
                            </div>
                            <div class="the-latest-job2">
                                The latest job news, articles, sent to your
                                inbox weekly.
                            </div>
                        </div>
                        <div class="subscribe2">
                            <div class="re-l-u">
                                <div class="input13">
                                    <input
                                        class="this-is-placeholder13"
                                        placeholder="Email Address"
                                        type="text"
                                    />
                                </div>
                                <button class="button27">
                                    <b class="caption134">Subscribe</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider-group">
                    <img
                        class="divider-icon2"
                        loading="lazy"
                        alt=""
                        th:src="@{./images/divider.svg}"
                    />

                    <div class="frame-parent19">
                        <div class="copyright-wrapper">
                            <div class="copyright2">
                                <div class="jobhuntly-all-rights2">
                                    2021 @ JobHuntly. All rights reserved.
                                </div>
                            </div>
                        </div>
                        <div class="social-media-icons2">
                            <img
                                class="facebook-icon2"
                                loading="lazy"
                                alt=""
                                th:src="@{./images/facebook.svg}"
                            />

                            <img
                                class="instagram-icon2"
                                loading="lazy"
                                alt=""
                                th:src="@{./images/instagram.svg}"
                            />

                            <img
                                class="dribbble-icon2"
                                loading="lazy"
                                alt=""
                                th:src="@{./images/dribbble.svg}"
                            />

                            <img
                                class="linkedin-icon2"
                                loading="lazy"
                                alt=""
                                th:src="@{./images/linkedin.svg}"
                            />

                            <img
                                class="twitter-icon2"
                                loading="lazy"
                                alt=""
                                th:src="@{./images/twitter.svg}"
                            />
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
