<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <link rel="stylesheet" th:herf="../static/css/global.css" />
        <link
            rel="stylesheet"
            th:herf="../static/css/dashboard-settings-notifications.css"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap"
        />
    </head>
    <body>
        <div class="dashboard-settings-notifica">
            <div class="side-bar-dashboard-applica8">
                <div class="menu47">
                    <div class="logo5">
                        <div class="logo-217">
                            <div class="job-huntly">
                                <img
                                    class="main-menu-icon"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/frame-310.svg}"
                                />
                            </div>
                            <h3 class="jobhuntly23">JobHuntly</h3>
                        </div>
                    </div>
                    <div class="main-menu8">
                        <div class="menu48">
                            <div class="sidebar-menu64">
                                <img
                                    class="icon276"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/icon2.svg}"
                                />

                                <div class="caption358">Dashboard</div>
                            </div>
                            <div class="sidebar-menu65">
                                <div class="icon-parent34">
                                    <img
                                        class="icon277"
                                        alt=""
                                        th:src="@{./../static/images/icon-111.svg}"
                                    />

                                    <div class="caption359">Messages</div>
                                </div>
                                <div class="badge8">
                                    <div
                                        class="tabs-tab-menu-caption-tab-menu"
                                    ></div>
                                    <div class="applicant-dashboard-notificati">
                                        <div class="div48">1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-menu66">
                                <div class="icon278">
                                    <img
                                        class="vector-stroke-icon10"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/vector-stroke.svg}"
                                    />

                                    <div class="profile17"></div>
                                    <div class="profile18"></div>
                                </div>
                                <div class="caption360">My Applications</div>
                            </div>
                            <div class="sidebar-menu67">
                                <img
                                    class="icon279"
                                    alt=""
                                    th:src="@{./../static/images/icon-210.svg}"
                                />

                                <div class="caption361">Find Jobs</div>
                            </div>
                            <div class="sidebar-menu68">
                                <img
                                    class="icon280"
                                    alt=""
                                    th:src="@{./../static/images/icon-32.svg}"
                                />

                                <div class="caption362">Browse Companies</div>
                            </div>
                            <div class="sidebar-menu69">
                                <img
                                    class="icon281"
                                    alt=""
                                    th:src="@{./../static/images/icon-41.svg}"
                                />

                                <div class="caption363">
                                    My ../static/images Profile
                                </div>
                            </div>
                        </div>
                        <div class="main-menu-child3"></div>
                        <div class="settings20">
                            <div class="settings-wrapper4">
                                <div class="settings21">SETTINGS</div>
                            </div>
                            <div class="menu49">
                                <button class="sidebar-menu70">
                                    <img
                                        class="indicator-icon8"
                                        alt=""
                                        th:src="@{./../static/images/indicator.svg}"
                                    />

                                    <div class="menu50">
                                        <img
                                            class="icon282"
                                            alt=""
                                            th:src="@{./../static/images/icon-52.svg}"
                                        />

                                        <div class="caption364">Settings</div>
                                    </div>
                                </button>
                                <div class="sidebar-menu71">
                                    <img
                                        class="icon283"
                                        alt=""
                                        th:src="@{./../static/images/icon-61.svg}"
                                    />

                                    <div class="caption365">Help Center</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="pattern-icon28" alt="" />

                <div class="profile19">
                    <div class="line32"></div>
                    <div class="profile-wrapper3">
                        <div class="profile20">
                            <img
                                class="avatar-icon14"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/avatar1@2x.png}"
                            />

                            <div class="name-email8">
                                <div class="jake-gyll-wrapper3">
                                    <div class="jake-gyll13">Jake Gyll</div>
                                </div>
                                <div class="jakegyllemailcom13">
                                    jakegyll@email.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-menu8">
                        <div class="rounded-rectangle10"></div>
                        <div class="frame9">
                            <div class="logout16">
                                <div class="logout17">Logout</div>
                                <img class="icon284" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="frame-section">
                <header class="top-nav12">
                    <img class="pattern-icon29" alt="" />

                    <div class="dashboard-wrapper3">
                        <h1 class="dashboard10">Settings</h1>
                    </div>
                    <div class="action8">
                        <button class="button80">
                            <b class="caption366">Back to homepage</b>
                        </button>
                        <div class="notification-wrapper2">
                            <img
                                class="notification-icon9"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/notification.svg}"
                            />
                        </div>
                    </div>
                </header>
                <div class="tabs-container">
                    <div class="tabs2">
                        <div class="tab-menu11">
                            <div class="caption367">My Profile</div>
                        </div>
                        <div class="tab-menu12">
                            <div class="caption368">Login Details</div>
                        </div>
                        <div class="tab-menu13">
                            <div class="caption369">Notifications</div>
                            <img
                                class="tab-menu-inner"
                                loading="lazy"
                                alt=""
                                src="@{./../static/images/rectangle-1732.svg}"
                            />
                        </div>
                        <div class="tab-menu14">
                            <div class="caption370">Notifications</div>
                        </div>
                        <div class="tab-menu15">
                            <div class="caption371">Notifications</div>
                        </div>
                        <div class="tab-menu16">
                            <div class="caption372">Notifications</div>
                        </div>
                    </div>
                </div>
                <div class="applicant-dashboard-notifica">
                    <div class="basic-information2">
                        <div class="basic-information3">Basic Information</div>
                        <div class="this-is-notifications">
                            This is notifications preferences that you can
                            update anytime.
                        </div>
                    </div>
                    <div class="line33"></div>
                    <div class="profile-photo3">
                        <div class="profile-photo4">
                            <div class="notifications2">Notifications</div>
                            <div class="customize-your-preferred">
                                Customize your preferred notification settings
                            </div>
                        </div>
                        <div class="notifications3">
                            <div class="applications">
                                <input
                                    class="checkbox45"
                                    checked="{true}"
                                    type="checkbox"
                                />

                                <div class="applications-parent">
                                    <div class="applications1">
                                        Applications
                                    </div>
                                    <div class="these-are-notifications">
                                        These are notifications for jobs that
                                        you have applied to
                                    </div>
                                </div>
                            </div>
                            <div class="applications2">
                                <input class="checkbox46" type="checkbox" />

                                <div class="jobs-parent">
                                    <div class="jobs10">Jobs</div>
                                    <div class="these-are-notifications1">
                                        These are notifications for job openings
                                        that suit your profile
                                    </div>
                                </div>
                            </div>
                            <div class="applications3">
                                <input class="checkbox47" type="checkbox" />

                                <div class="recommendations-parent">
                                    <div class="recommendations">
                                        Recommendations
                                    </div>
                                    <div class="these-are-notifications2">
                                        These are notifications for personalized
                                        recommendations from our recruiters
                                    </div>
                                </div>
                            </div>
                            <button class="button81">
                                <b class="caption373">Update Email</b>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
