<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>  <!-- Add this line -->
        <link rel="stylesheet" th:href="@{css/global.css}" />
        <link rel="stylesheet" th:href= "@{/css/find-jobs.css}" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap"
        />
    </head>
    <body>
        <script th:src="@{/js/find-jobs.js}"></script>  <!-- Move this line to here -->
        <div class="find-jobs">
            <section class="header-2-desktop">
                <img
                    class="bg-icon3"
                    alt=""
                    th:src="@{/images/bg.svg}"
                />

                <header class="top-nav3">
                    <div class="menu12">
                        <div class="logo-wrapper1">
                            <div class="logo4">
                                <div class="logo-13">
                                    <div class="logo-1-child">
                                        <img
                                            class="frame-child57"
                                            alt=""
                                            th:src="@{/images/frame-3.svg}"
                                        />
                                    </div>
                                    <h3 class="jobhuntly12">JobHuntly</h3>
                                </div>
                                <div class="logo-27">
                                    <div class="logo-2-inner1">
                                        <img
                                            class="frame-child58"
                                            alt=""
                                            th:src="@{/images/frame-3-13.svg}"
                                        />
                                    </div>
                                    <h3 class="jobhuntly13">JobHuntly</h3>
                                </div>
                            </div>
                        </div>
                        <div class="menu13">
                            <div class="top-menu6">
                                <div class="caption135">Find Jobs</div>
                                <div class="fill-finder"></div>
                            </div>
                            <div class="top-menu7">
                                <div class="caption136">Browse Companies</div>
                                <div class="top-menu-child4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons3">
                        <button class="button28">
                            <b class="caption137">Login</b>
                        </button>
                        <div class="proximity-provider">
                            <div class="divider10"></div>
                        </div>
                        <button class="button29">
                            <b class="caption138">Sign Up</b>
                        </button>
                    </div>
                </header>
                <div class="skew-shaper">
                    <div class="content7">
                        <div class="reflector">
                            <div class="headline">
                                <div class="headline1">
                                    <div class="flip-flopper">
                                        <h1 class="find-your">Find your</h1>
                                        <div class="fade-fader">
                                            <h1 class="dream-job">dream job</h1>
                                            <img
                                                class="group-icon2"
                                                loading="lazy"
                                                alt=""
                                                th:src="@{/images/group1.svg}"
                                            />
                                        </div>
                                    </div>
                                    <div class="find-your-next">
                                        Find your next career at companies like
                                        HubSpot, Nike, and Dropbox
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search1">
                            <div class="search-bar1">
                                <div class="job-title28">
                                    <div class="icon-wrapper12">
                                        <img
                                            class="icon92"
                                            loading="lazy"
                                            alt=""
                                            th:src="@{/images/icon1.svg}"
                                        />
                                    </div>
                                    <div class="event-emitter">
                                        <input
                                            class="job-title-or1"
                                            placeholder="Job title or keyword"
                                            type="text"
                                        />

                                        <div class="link-loader"></div>
                                    </div>
                                </div>
                                <div class="divider11"></div>
                                <div class="location1">
                                    <div class="icon-wrapper13">
                                        <img
                                            class="icon93"
                                            alt=""
                                            th:src="@{/images/icon-110.svg}"
                                        />
                                    </div>
                                    <div class="frame-parent20">
                                        <div class="florence-italy-group">
                                            <div class="florence-italy1">
                                                Florence, Italy
                                            </div>
                                            <div class="transition-transactor">
                                                <img
                                                    class="icon94"
                                                    alt=""
                                                    th:src="@{/images/icon-29.svg}"
                                                />
                                            </div>
                                        </div>
                                        <div class="frame-child59"></div>
                                    </div>
                                </div>
                                <button class="button30">
                                    <b class="caption139">Search</b>
                                </button>
                            </div>
                            <div class="popular-ui">
                                Popular : UI Designer, UX Researcher, Android,
                                Admin
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="landing-page-job-list-desk">
                <div class="filter">
                  <div class="type-of-employment">
                    <div class="transition-timer">
                      <b class="type-of-employment1">Categories</b>
                      <img class="icon95" alt="" th:src="@{/images/icon-31.svg}" id="showMoreButton" />
                    </div>
                    <div id="moreContent" style="display: none;">
                      <div th:each="category : ${categories}">
                        <div class="checkbox1">
                          <input class="checkboxfalse1" type="checkbox1" />
                          <div class="caption1" th:text="${category.name + ' (' + category.quantity + ')'}"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="job-level">
                    <div class="job-level-parent">
                      <b class="job-level1">Job Level</b>
                      <img id="toggleButton" class="icon97" alt="" th:src="@{/images/icon-31.svg}" />
                    </div>
                    <div id="levelsContainer" style="display: none;">
                      <div th:each="level : ${levels}" class="checkbox1">
                        <input class="checkboxfalse1" type="checkbox" />
                        <div class="caption1" th:text="${level.name + ' (' + level.quantity + ')'}"></div>
                      </div>
                    </div>
                  </div>
                  <div class="salary-range">
                    <div class="salary-range-parent">
                      <b class="salary-range1">Salary Range</b>
                      <img id="toggleButtonSalary" class="icon98" alt="" th:src="@{/images/icon-31.svg}" />
                    </div>
                    <div id="salaryContainer" style="display: none;">
                      <div class="checkbox19">
                        <input class="checkboxfalse15" type="checkbox" />
                        <div class="caption158">5M -> 10M </div>
                      </div>
                      <div class="checkbox20">
                        <input class="checkboxfalse16" type="checkbox" />
                        <div class="caption159">10M -> 15M</div>
                      </div>
                      <div class="checkbox21">
                        <input class="checkboxfalse17" type="checkbox" />
                        <div class="caption160">15M -> 20M</div>
                      </div>
                      <div class="checkbox22">
                        <input class="checkboxchecked34" type="checkbox" />
                        <div class="caption161">20M or above</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="job-list34">
                    <div class="headline2">
                        <div class="all-jobs-parent">
                            <h1 class="all-jobs">All Jobs</h1>
                            <div class="showing-73-results">
                                Showing 73 results
                            </div>
                        </div>
                        <div class="filter-wrapper">
                            <div class="filter1">
                                <div class="filter-sort-wrapper">
                                    <div class="filter-sort">
                                        <span class="sort-by">Sort by:</span>
                                        <div class="sort-options" onclick="toggleOptions()">
                                            <span id="defaultOption">Most relevant</span>
                                            <div id="otherOptions" style="display: none;">
                                                <a class="sort-option" th:href="@{/findjobs(page=${page.number + 1}, sort='most-relevant')}">Most relevant</a>
                                                <a class="sort-option" th:href="@{/findjobs(page=${page.number + 1}, sort='time')}">Time</a>
                                                <a class="sort-option" th:href="@{/findjobs(page=${page.number + 1}, sort='salary')}">Salary</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="divider-wrapper1">
                                    <div class="divider12"></div>
                                </div>
                                <div class="view-option">
                                    <img
                                        class="view-icon"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{/images/view.svg}"
                                    />

                                    <img
                                        class="view-icon1"
                                        alt=""
                                        th:src="@{/images/view-1.svg}"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lists">
                        <div th:each="post : ${page}" class="job-list35">
                          <div class="main-content">
                            <img class="company-logo-icon33" loading="lazy" alt="" th:src="@{/images/company-logo2.svg}" />
              
                            <div class="job-title29">
                              <div class="social-media-assistant29" th:text="${post.categories[0].name+' Engineer'}">
                                <!-- Job title will be inserted here -->
                              </div>
                              <div class="company-name-location-job26">
                                <div class="nomad27">
                                  Company Name
                                </div>
                                <div class="paris-france28" th:text="${post.location.name}">
                                  <!-- Job location will be inserted here -->
                                </div>
                              </div>
                              <div class="label128">
                                <button class="label129">
                                  <div class="caption162" th:text="${post.level.name}">
                                    <!-- Job type (e.g., Full-Time) will be inserted here -->
                                  </div>
                                </button>
                                <button class="label130">
                                  <div class="caption163" th:text="${post.programingLanguages[0].name}">
                                    <!-- Job category (e.g., Marketing) will be inserted here -->
                                  </div>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="button-parent">
                            <a th:href="@{/jobdetails(id=${post.id})}">
                                <button class="button31">
                                    <b class="caption165">Apply</b>
                                </button>
                            </a>
                            <div class="progress-bar-parent">
                              <div class="progress-bar4">
                                <div class="progress-bar-item"></div>
                                <div class="progress-bar-inner"></div>
                                <div class="progress-bar-child1"></div>
                                <div class="progress-bar-child2"></div>
                                <div class="progress-bar-child3"></div>
                              </div>
                              <div class="applied-of-10-container2">
                                <span class="applied2">
                                  <!-- Number of applied will be inserted here -->
                                </span>
                                <span class="of-10-capacity2">
                                  <span class="span2"> </span>
                                  <span>
                                    <!-- Capacity will be inserted here -->
                                  </span>
                                </span>
                              </div>
                              <div class="maxSalary">Salary up to: <span th:text="${(post.maxSalary / 1000000)  + 'M VND'}"></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="pagination">
                        <a th:if="${page.hasPrevious()}" th:href="@{/findjobs(page=${page.number}, sort=${param.sort[0]})}">Previous</a>
                        <span th:each="i : ${#numbers.sequence(0, page.totalPages)}" th:if="${i >= page.number - 2 and i <= page.number + 2}">
                            <a th:href="@{/findjobs(page=${i}, sort=${param.sort[0]})}" th:class="${i == page.number ? 'active' : ''}" th:text="${i + 1}">Page number</a>
                        </span>
                        <a th:if="${page.hasNext()}" th:href="@{/findjobs(page=${page.number + 2}, sort=${param.sort[0]})}">Next</a>
                    </div>
                </div>
            </section>
            <footer class="footer3">
                <div class="frame-parent21">
                    <div class="left-frame">
                        <div class="left3">
                            <div class="logo-28">
                                <div class="logo-2-inner2">
                                    <img
                                        class="frame-child67"
                                        alt=""
                                        th:src="@{/images/frame-3-22.svg}"
                                    />
                                </div>
                                <h3 class="jobhuntly14">JobHuntly</h3>
                            </div>
                            <div class="great-platform-for4">
                                Great platform for the job seeker that
                                passionate about startups. Find your dream job
                                easier.
                            </div>
                        </div>
                    </div>
                    <div class="menu14">
                        <div class="first-column10">
                            <div class="about-container">
                                <div class="about3">About</div>
                            </div>
                            <div class="description10">
                                <div class="companies3">Companies</div>
                                <div class="pricing3">Pricing</div>
                                <div class="terms3">Terms</div>
                                <div class="advice3">Advice</div>
                                <div class="privacy-policy5">
                                    Privacy Policy
                                </div>
                            </div>
                        </div>
                        <div class="second-column3">
                            <div class="resources3">Resources</div>
                            <div class="description11">
                                <div class="help-docs3">Help Docs</div>
                                <div class="guide3">Guide</div>
                                <div class="updates3">Updates</div>
                                <div class="contact-us3">Contact Us</div>
                            </div>
                        </div>
                    </div>
                    <div class="right3">
                        <div class="sequence-controller">
                            <div class="get-job-notifications3">
                                Get job notifications
                            </div>
                            <div class="the-latest-job3">
                                The latest job news, articles, sent to your
                                inbox weekly.
                            </div>
                        </div>
                        <div class="subscribe3">
                            <div class="number-calculator">
                                <div class="input14">
                                    <input
                                        class="this-is-placeholder14"
                                        placeholder="Email Address"
                                        type="text"
                                    />
                                </div>
                                <button class="button38">
                                    <b class="caption190">Subscribe</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data-store">
                    <img
                        class="divider-icon3"
                        loading="lazy"
                        alt=""
                        th:src="@{/images/divider.svg}"
                    />

                    <div class="data-writer">
                        <div class="decision-maker">
                            <div class="copyright3">
                                <div class="jobhuntly-all-rights3">
                                    2021 @ JobHuntly. All rights reserved.
                                </div>
                            </div>
                        </div>
                        <div class="social-media-icons3">
                            <img
                                class="facebook-icon3"
                                loading="lazy"
                                alt=""
                                th:src="@{/images/facebook.svg}"
                            />

                            <img
                                class="instagram-icon3"
                                loading="lazy"
                                alt=""
                                th:src="@{/images/instagram.svg}"
                            />

                            <img
                                class="dribbble-icon3"
                                loading="lazy"
                                alt=""
                                th:src="@{/images/dribbble.svg}"
                            />

                            <img
                                class="linkedin-icon3"
                                loading="lazy"
                                alt=""
                                th:src="@{/images/linkedin.svg}"
                            />

                            <img
                                class="twitter-icon3"
                                loading="lazy"
                                alt=""
                                th:src="@{/images/twitter.svg}"
                            />
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>