<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <link rel="stylesheet" th:href="@{../static/css/global.css}" />
        <link rel="stylesheet" th:href="@{../static/css/dashboard-help.css}" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap"
        />
    </head>
    <body>
        <div class="dashboard-help">
            <div class="side-bar-dashboard-applica7">
                <div class="menu43">
                    <div class="logo-2-frame">
                        <div class="logo-216">
                            <div class="logo-2-inner6">
                                <img
                                    class="frame-child117"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/frame-39.svg}"
                                />
                            </div>
                            <h3 class="jobhuntly22">JobHuntly</h3>
                        </div>
                    </div>
                    <div class="main-menu7">
                        <div class="menu44">
                            <div class="sidebar-menu56">
                                <img
                                    class="icon257"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/icon2.svg}"
                                />

                                <div class="caption342">Dashboard</div>
                            </div>
                            <div class="sidebar-menu57">
                                <div class="icon-parent33">
                                    <img
                                        class="icon258"
                                        alt=""
                                        th:src="@{./../static/images/icon-111.svg}"
                                    />

                                    <div class="caption343">Messages</div>
                                </div>
                                <div class="badge7">
                                    <div class="top-nav-instance"></div>
                                    <div class="action-button">
                                        <div class="div47">1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-menu58">
                                <div class="icon259">
                                    <img
                                        class="vector-stroke-icon9"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/vector-stroke.svg}"
                                    />

                                    <div class="t-e-x-t"></div>
                                    <div class="t-e-x-t1"></div>
                                </div>
                                <div class="caption344">My Applications</div>
                            </div>
                            <div class="sidebar-menu59">
                                <img
                                    class="icon260"
                                    alt=""
                                    th:src="@{./../static/images/icon-210.svg}"
                                />

                                <div class="caption345">Find Jobs</div>
                            </div>
                            <div class="sidebar-menu60">
                                <img
                                    class="icon261"
                                    alt=""
                                    th:src="@{./../static/images/icon-32.svg}"
                                />

                                <div class="caption346">Browse Companies</div>
                            </div>
                            <div class="sidebar-menu61">
                                <img
                                    class="icon262"
                                    alt=""
                                    th:src="@{./../static/images/icon-41.svg}"
                                />

                                <div class="caption347">
                                    My ../static/images Profile
                                </div>
                            </div>
                        </div>
                        <div class="main-menu-child2"></div>
                        <div class="settings18">
                            <div class="settings-wrapper3">
                                <div class="settings19">SETTINGS</div>
                            </div>
                            <div class="menu45">
                                <div class="sidebar-menu62">
                                    <img
                                        class="icon263"
                                        alt=""
                                        th:src="@{./../static/images/icon-51.svg}"
                                    />

                                    <div class="caption348">Settings</div>
                                </div>
                                <button class="sidebar-menu63">
                                    <img
                                        class="indicator-icon7"
                                        alt=""
                                        th:src="./../static/images/indicator.svg"
                                    />

                                    <div class="menu46">
                                        <img
                                            class="icon264"
                                            alt=""
                                            th:src="@{./../static/images/icon-62.svg}"
                                        />

                                        <div class="caption349">
                                            Help Center
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="pattern-icon26" alt="" />

                <div class="profile15">
                    <div class="line29"></div>
                    <div class="profile-wrapper2">
                        <div class="profile16">
                            <img
                                class="avatar-icon13"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/avatar1@2x.png}"
                            />

                            <div class="name-email7">
                                <div class="jake-gyll-wrapper2">
                                    <div class="jake-gyll12">Jake Gyll</div>
                                </div>
                                <div class="jakegyllemailcom12">
                                    jakegyll@email.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-menu7">
                        <div class="rounded-rectangle9"></div>
                        <div class="frame8">
                            <div class="logout14">
                                <div class="logout15">Logout</div>
                                <img class="icon265" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <main class="top-nav-parent1">
                <header class="top-nav11">
                    <img class="pattern-icon27" alt="" />

                    <div class="dashboard-wrapper2">
                        <h1 class="dashboard9">Help Center</h1>
                    </div>
                    <div class="action7">
                        <button class="button71">
                            <b class="caption350">Back to homepage</b>
                        </button>
                        <div class="notification-wrapper1">
                            <img
                                class="notification-icon8"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/notification.svg}"
                            />
                        </div>
                    </div>
                </header>
                <section class="applicant-dashboard-faq-de-parent">
                    <div class="applicant-dashboard-faq-de">
                        <div class="help2">
                            <div class="content21">
                                <div class="search3">
                                    <div class="type-your-question">
                                        Type your question or search keyword
                                    </div>
                                    <div class="input19">
                                        <div class="contact-us4">
                                            <img
                                                class="icon266"
                                                alt=""
                                                th:src="@{./../static/images/icon-88.svg}"
                                            />
                                        </div>
                                        <input
                                            class="this-is-placeholder23"
                                            placeholder="Search"
                                            type="text"
                                        />
                                    </div>
                                </div>
                                <div class="faq">
                                    <div class="getting-started">
                                        Getting Started
                                    </div>
                                    <div class="job-title51"></div>
                                    <div class="my-profile">My Profile</div>
                                    <div class="job-title52"></div>
                                    <div class="applying-for-a">
                                        Applying for a job
                                    </div>
                                    <div class="job-title53"></div>
                                    <div class="job-search-tips">
                                        Job Search Tips
                                    </div>
                                    <div class="job-title54"></div>
                                    <div class="job-alerts">Job Alerts</div>
                                </div>
                            </div>
                            <div class="contact-us5">
                                <img
                                    class="bg-icon4"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/bg.svg}"
                                />

                                <div class="content22">
                                    <div class="content23">
                                        <div class="didnt-find-what">
                                            Didn't find what you were looking
                                            for?
                                        </div>
                                        <div class="contact-our-customer">
                                            Contact our customer service
                                        </div>
                                    </div>
                                    <div class="button72">
                                        <button class="button73">
                                            <b class="caption351">Contact Us</b>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list4">
                            <div class="filter-sort4">
                                <div class="sort-by2">Sort by:</div>
                                <div class="most-relevant-group">
                                    <div class="most-relevant2">
                                        Most relevant
                                    </div>
                                    <div class="title27">
                                        <img
                                            class="iconlylightarrow-down-22"
                                            alt=""
                                            th:src="@{./../static/images/iconlylightarrow--down-2.svg}"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="faqs">
                                <div class="question-card">
                                    <div class="job-title55">
                                        <div class="title28">
                                            <div class="what-is-my">
                                                What is My Applications?
                                            </div>
                                            <img
                                                class="icon267"
                                                alt=""
                                                th:src="@{./../static/images/icon-131.svg}"
                                            />
                                        </div>
                                        <div class="my-applications-is">
                                            My Applications is a way for you to
                                            track jobs as you move through the
                                            application process. Depending on
                                            the job you applied to, you may also
                                            receive notifications indicating
                                            that an application has been
                                            actioned by an employer.
                                        </div>
                                    </div>
                                    <div class="track-jobs"></div>
                                    <div class="was-this-article-helpful">
                                        <div
                                            class="was-this-article-helpful-wrapper"
                                        >
                                            <div class="was-this-article">
                                                Was this article helpful?
                                            </div>
                                        </div>
                                        <button class="button74">
                                            <div class="icon-wrapper27">
                                                <img
                                                    class="icon268"
                                                    alt=""
                                                    th:src="@{./../static/images/icon-106.svg}"
                                                />
                                            </div>
                                            <b class="caption352">Yes</b>
                                        </button>
                                        <button class="button75">
                                            <div class="icon-wrapper28">
                                                <img
                                                    class="icon269"
                                                    alt=""
                                                    th:src="@{./../static/images/icon-119.svg}"
                                                />
                                            </div>
                                            <b class="caption353">No</b>
                                        </button>
                                    </div>
                                </div>
                                <div class="question-card1">
                                    <div class="job-title56">
                                        <div class="title29">
                                            <div class="what-is-my1">
                                                How to access my applications
                                                history
                                            </div>
                                            <img
                                                class="icon270"
                                                alt=""
                                                th:src="@{./../static/images/icon-131.svg}"
                                            />
                                        </div>
                                        <div class="my-applications-is1">
                                            To access applications history, go
                                            to your My Applications page on your
                                            dashboard profile. You must be
                                            signed in to your JobHuntly account
                                            to view this page.
                                        </div>
                                    </div>
                                    <div class="line30"></div>
                                    <div class="was-this-article-helpful1">
                                        <div
                                            class="was-this-article-helpful-container"
                                        >
                                            <div class="was-this-article1">
                                                Was this article helpful?
                                            </div>
                                        </div>
                                        <button class="button76">
                                            <div class="icon-wrapper29">
                                                <img
                                                    class="icon271"
                                                    alt=""
                                                    th:src="@{./../static/images/icon-106.svg}"
                                                />
                                            </div>
                                            <b class="caption354">Yes</b>
                                        </button>
                                        <button class="button77">
                                            <div class="icon-wrapper30">
                                                <img
                                                    class="icon272"
                                                    alt=""
                                                    th:src="@{./../static/images/icon-119.svg}"
                                                />
                                            </div>
                                            <b class="caption355">No</b>
                                        </button>
                                    </div>
                                </div>
                                <div class="question-card2">
                                    <div class="job-title57">
                                        <div class="title30">
                                            <div class="what-is-my2">
                                                Not seeing jobs you applied in
                                                your my application list?
                                            </div>
                                            <img
                                                class="icon273"
                                                alt=""
                                                th:src="@{./../static/images/icon-131.svg}"
                                            />
                                        </div>
                                        <div class="my-applications-is2">
                                            Please note that we are unable to
                                            track materials submitted for jobs
                                            you apply to via an employer's site.
                                            As a result, these applications are
                                            not recorded in the My Applications
                                            section of your JobHuntly account.
                                            We suggest keeping a personal record
                                            of all positions you have applied to
                                            externally.
                                        </div>
                                    </div>
                                    <div class="line31"></div>
                                    <div class="was-this-article-helpful2">
                                        <div
                                            class="was-this-article-helpful-frame"
                                        >
                                            <div class="was-this-article2">
                                                Was this article helpful?
                                            </div>
                                        </div>
                                        <div class="button78">
                                            <div class="icon-wrapper31">
                                                <img class="icon274" alt="" />
                                            </div>
                                            <b class="caption356">Yes</b>
                                        </div>
                                        <div class="button79">
                                            <div class="icon-wrapper32">
                                                <img class="icon275" alt="" />
                                            </div>
                                            <b class="caption357">No</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img
                        class="customer-message-icon"
                        loading="lazy"
                        alt=""
                        th:src="@{./../static/images/customer-message.svg}"
                    />
                </section>
            </main>
        </div>
    </body>
</html>
