<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/dashboard-job-descriptions.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-job-descriptions">
      <div class="side-bar-dashboard-applica1">
        <div class="menu19">
          <div class="connection-hub">
            <div class="logo-210">
              <div class="logo-2-inner4">
                <img
                  class="frame-child74"
                  loading="lazy"
                  alt=""
                  src="./../static/images/frame-33.svg"
                />
              </div>
              <h3 class="jobhuntly16">JobHuntly</h3>
            </div>
          </div>
          <div class="main-menu1">
            <div class="menu20">
              <div class="sidebar-menu8">
                <img
                  class="icon133"
                  loading="lazy"
                  alt=""
                  src="./../static/images/icon2.svg"
                />

                <div class="caption206">Dashboard</div>
              </div>
              <div class="sidebar-menu9">
                <div class="icon-parent15">
                  <img
                    class="icon134"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-112.svg"
                  />

                  <div class="caption207">Messages</div>
                </div>
                <div class="badge1">
                  <div class="badge-item"></div>
                  <div class="container">
                    <div class="div14">1</div>
                  </div>
                </div>
              </div>
              <div class="sidebar-menu10">
                <div class="icon135">
                  <img
                    class="vector-stroke-icon1"
                    alt=""
                    src="./../static/images/vector-stroke.svg"
                  />

                  <div class="icon-inner"></div>
                  <div class="icon-child1"></div>
                </div>
                <div class="caption208">My Applications</div>
              </div>
              <button class="sidebar-menu11">
                <div class="indicator-container">
                  <img
                    class="indicator-icon1"
                    alt=""
                    src="./../static/images/indicator.svg"
                  />
                </div>
                <div class="menu21">
                  <img class="icon136" alt="" src="./../static/images/icon-214.svg" />

                  <div class="caption209">Find Jobs</div>
                </div>
              </button>
              <div class="sidebar-menu12">
                <img
                  class="icon137"
                  loading="lazy"
                  alt=""
                  src="./../static/images/icon-32.svg"
                />

                <div class="caption210">Browse Companies</div>
              </div>
              <div class="sidebar-menu13">
                <img
                  class="icon138"
                  loading="lazy"
                  alt=""
                  src="./../static/images/icon-41.svg"
                />

                <div class="caption211">My ../static/images Profile</div>
              </div>
            </div>
            <div class="main-menu-item"></div>
            <div class="settings6">
              <div class="settings-frame">
                <div class="settings7">SETTINGS</div>
              </div>
              <div class="menu22">
                <div class="sidebar-menu14">
                  <img class="icon139" alt="" src="./../static/images/icon-51.svg" />

                  <div class="caption212">Settings</div>
                </div>
                <div class="sidebar-menu15">
                  <img class="icon140" alt="" src="./../static/images/icon-61.svg" />

                  <div class="caption213">Help Center</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="pattern-icon12" alt="" />

        <div class="profile3">
          <div class="line13"></div>
          <div class="profile-container">
            <div class="profile4">
              <img
                class="avatar-icon3"
                loading="lazy"
                alt=""
                src="./../static/images/avatar1@2x.png"
              />

              <div class="name-email1">
                <div class="jake-gyll-container">
                  <div class="jake-gyll5">Jake Gyll</div>
                </div>
                <div class="jakegyllemailcom5">jakegyll@email.com</div>
              </div>
            </div>
          </div>
          <div class="profile-menu1">
            <div class="rounded-rectangle1"></div>
            <div class="frame2">
              <div class="logout2">
                <div class="logout3">Logout</div>
                <img class="icon141" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="line14"></div>
      <div class="line15"></div>
      <main class="top-nav-group">
        <section class="top-nav5">
          <img class="pattern-icon13" alt="" />

          <div class="top-nav-inner">
            <div class="icon-parent16">
              <img
                class="icon142"
                loading="lazy"
                alt=""
                src="./../static/images/icon-83.svg"
              />

              <div class="dashboard-container">
                <h1 class="dashboard3">Job Description</h1>
              </div>
            </div>
          </div>
          <div class="action1">
            <button class="button51">
              <b class="caption214">Back to homepage</b>
            </button>
            <div class="notification-container">
              <img
                class="notification-icon2"
                loading="lazy"
                alt=""
                src="./../static/images/notification1.svg"
              />
            </div>
          </div>
        </section>
        <section class="header-5-desktop">
          <div class="header11">
            <div class="header-item"></div>
            <img class="pattern-icon14" alt="" />

            <img class="pattern-icon15" alt="" />

            <div class="job-list42">
              <div class="logic-branch">
                <div class="company-logo7">
                  <div class="output-container"></div>
                  <img
                    class="stripe-logo-dp4f5yykm-1-icon4"
                    loading="lazy"
                    alt=""
                    src="./../static/images/stripe-logo-dp4f5yykm-1@2x.png"
                  />
                </div>
                <div class="sequential-flow">
                  <div class="job-title36">
                    <h1 class="social-media-assistant36">
                      Social Media Assistant
                    </h1>
                    <div class="company-name-location-job35">
                      <div class="nomad34">Stripe</div>
                      <div class="iteration-loop">
                        <div class="function-caller1"></div>
                      </div>
                      <div class="paris-france35">Paris, France</div>
                      <div class="iteration-loop1">
                        <div class="iteration-loop-child"></div>
                      </div>
                      <div class="full-time7">Full-Time</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="error-handler3">
                <div class="data-merger">
                  <div class="icon-wrapper15">
                    <img
                      class="icon143"
                      loading="lazy"
                      alt=""
                      src="./../static/images/icon-92.svg"
                    />
                  </div>
                  <div class="line16"></div>
                  <button class="button52">
                    <b class="caption215">Apply</b>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="applicant-dashboard-descript">
          <div class="paragraph4">
            <div class="description12">
              <h3 class="description13">Description</h3>
              <div class="stripe-is-looking2">
                Stripe is looking for Social Media Marketing expert to help
                manage our online networks. You will be responsible for
                monitoring our social media channels, creating content, finding
                effective ways to engage the community and incentivize others to
                engage on our channels.
              </div>
            </div>
            <div class="responsibilities4">
              <h3 class="responsibilities5">Responsibilities</h3>
              <div class="training-set">
                <div class="test-set">
                  <img
                    class="icon144"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="community-engagement-to2">
                    Community engagement to ensure that is supported and
                    actively represented online
                  </div>
                </div>
                <div class="icon-parent17">
                  <img
                    class="icon145"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="focus-on-social2">
                    Focus on social media content development and ../static/imagesation
                  </div>
                </div>
                <div class="icon-parent18">
                  <img
                    class="icon146"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="marketing-and-strategy2">
                    Marketing and strategy support
                  </div>
                </div>
                <div class="icon-parent19">
                  <img
                    class="icon147"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="stay-on-top2">
                    Stay on top of trends on social media platforms, and suggest
                    content ideas to the team
                  </div>
                </div>
                <div class="neural-network-trainer">
                  <img
                    class="icon148"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="engage-with-online2">
                    Engage with online communities
                  </div>
                </div>
              </div>
            </div>
            <div class="who-you-are4">
              <h3 class="who-you-are5">Who You Are</h3>
              <div class="frame-parent27">
                <div class="icon-parent20">
                  <img
                    class="icon149"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="you-get-energy2">
                    You get energy from people and building the ideal work
                    environment
                  </div>
                </div>
                <div class="icon-parent21">
                  <img
                    class="icon150"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="you-have-a2">
                    You have a sense for beautiful spaces and office experiences
                  </div>
                </div>
                <div class="icon-parent22">
                  <img
                    class="icon151"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="you-are-a2">
                    You are a confident office manager, ready for added
                    responsibilities
                  </div>
                </div>
                <div class="icon-parent23">
                  <img
                    class="icon152"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="youre-detail-oriented-and2">
                    You're detail-oriented and creative
                  </div>
                </div>
                <div class="icon-parent24">
                  <img class="icon153" alt="" src="./../static/images/icon-102.svg" />

                  <div class="youre-a-growth2">
                    You're a growth marketer and know how to run campaigns
                  </div>
                </div>
              </div>
            </div>
            <div class="nice-to-haves4">
              <h3 class="nice-to-haves5">Nice-To-Haves</h3>
              <div class="frame-parent28">
                <div class="icon-parent25">
                  <img
                    class="icon154"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="fluent-in-english2">Fluent in English</div>
                </div>
                <div class="icon-parent26">
                  <img
                    class="icon155"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="project-management-skills2">
                    Project management skills
                  </div>
                </div>
                <div class="icon-parent27">
                  <img
                    class="icon156"
                    loading="lazy"
                    alt=""
                    src="./../static/images/icon-102.svg"
                  />

                  <div class="copy-editing-skills2">Copy editing skills</div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-content1">
            <div class="about-role1">
              <h3 class="about-this-role2">About this role</h3>
              <div class="progress-bar11">
                <div class="applied-of-10-container9">
                  <span class="applied9">5 applied </span>
                  <span class="of-10-capacity8">of 10 capacity</span>
                </div>
                <div class="progress-bar12">
                  <div class="progress-bar-child34"></div>
                  <div class="progress-bar-child35"></div>
                  <div class="progress-bar-child36"></div>
                  <div class="progress-bar-child37"></div>
                  <div class="progress-bar-child38"></div>
                </div>
              </div>
              <div class="apply-before4">
                <div class="apply-before5">Apply Before</div>
                <div class="july-31-20212">July 31, 2021</div>
              </div>
              <div class="job-posted-on4">
                <div class="job-posted-on5">Job Posted On</div>
                <div class="july-1-20212">July 1, 2021</div>
              </div>
              <div class="job-type4">
                <div class="job-type5">Job Type</div>
                <div class="full-time8">Full-Time</div>
              </div>
              <div class="salary4">
                <div class="salary5">Salary</div>
                <div class="k-85k-usd2">$75k-$85k USD</div>
              </div>
            </div>
            <div class="line17"></div>
            <div class="categories6">
              <h3 class="categories7">Categories</h3>
              <div class="label-parent5">
                <button class="label156">
                  <div class="caption216">Marketing</div>
                </button>
                <button class="label157">
                  <div class="caption217">Design</div>
                </button>
              </div>
            </div>
            <div class="line18"></div>
            <div class="required-skills3">
              <div class="required-skills-container">
                <h3 class="required-skills4">Required Skills</h3>
              </div>
              <div class="link-handler">
                <button class="tag23">
                  <div class="caption218">Project Management</div>
                </button>
                <div class="slider-maker">
                  <button class="tag24">
                    <div class="caption219">Copywriting</div>
                  </button>
                  <button class="tag25">
                    <div class="caption220">English</div>
                  </button>
                </div>
                <button class="tag26">
                  <div class="caption221">Social Media Marketing</div>
                </button>
                <button class="tag27">
                  <div class="caption222">Copy Editing</div>
                </button>
              </div>
            </div>
          </div>
        </section>
        <section class="landing-page-perks-benefit1">
          <div class="title18">
            <h1 class="perks-benefits3">Perks & Benefits</h1>
            <div class="this-job-comes2">
              This job comes with several perks and benefits
            </div>
          </div>
          <div class="content15">
            <div class="row-14">
              <div class="benefits14">
                <img
                  class="icon157"
                  loading="lazy"
                  alt=""
                  src="./../static/images/icon-141.svg"
                />

                <div class="text15">
                  <div class="full-healthcare14">Full Healthcare</div>
                  <div class="we-believe-in14">
                    We believe in thriving communities and that starts with our
                    team being happy and healthy.
                  </div>
                </div>
              </div>
              <div class="benefits15">
                <img
                  class="icon158"
                  loading="lazy"
                  alt=""
                  src="./../static/images/icon-15.svg"
                />

                <div class="text16">
                  <div class="full-healthcare15">Unlimited Vacation</div>
                  <div class="we-believe-in15">
                    We believe you should have a flexible schedule that makes
                    space for family, wellness, and fun.
                  </div>
                </div>
              </div>
              <div class="benefits16">
                <img
                  class="icon159"
                  loading="lazy"
                  alt=""
                  src="./../static/images/icon-161.svg"
                />

                <div class="text17">
                  <div class="full-healthcare16">Skill Development</div>
                  <div class="we-believe-in16">
                    We believe in always learning and leveling up our skills.
                    Whether it's a conference or online course.
                  </div>
                </div>
              </div>
              <div class="benefits17">
                <img
                  class="icon160"
                  loading="lazy"
                  alt=""
                  src="./../static/images/icon-17.svg"
                />

                <div class="text18">
                  <div class="full-healthcare17">Team Summits</div>
                  <div class="we-believe-in17">
                    Every 6 months we have a full team summit where we have fun,
                    reflect, and plan for the upcoming quarter.
                  </div>
                </div>
              </div>
            </div>
            <div class="row-24">
              <div class="benefits18">
                <img
                  class="icon161"
                  loading="lazy"
                  alt=""
                  src="./../static/images/icon-181.svg"
                />

                <div class="text19">
                  <div class="full-healthcare18">Remote Working</div>
                  <div class="we-believe-in18">
                    You know how you perform your best. Work from home, coffee
                    shop or anywhere when you feel like it.
                  </div>
                </div>
              </div>
              <div class="benefits19">
                <img
                  class="icon162"
                  loading="lazy"
                  alt=""
                  src="./../static/images/icon-283.svg"
                />

                <div class="text20">
                  <div class="full-healthcare19">Commuter Benefits</div>
                  <div class="we-believe-in19">
                    We’re grateful for all the time and energy each team member
                    puts into getting to work every day.
                  </div>
                </div>
              </div>
              <div class="benefits20">
                <img
                  class="icon163"
                  loading="lazy"
                  alt=""
                  src="./../static/images/icon-291.svg"
                />

                <div class="text21">
                  <div class="full-healthcare20">We give back.</div>
                  <div class="we-believe-in20">
                    We anonymously match any donation our employees make (up to
                    $/€ 600) so they can support the organizations they care
                    about most—times two.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="landing-page-company-deskt2">
          <div class="background-color">
            <div class="content16">
              <div class="more-about-company1">
                <button class="company-logo8">
                  <div class="padding"></div>
                  <img
                    class="stripe-logo-dp4f5yykm-1-icon5"
                    alt=""
                    src="./../static/images/stripe-logo-dp4f5yykm-1-1@2x.png"
                  />
                </button>
                <div class="box-shadow">
                  <div class="company-name1">
                    <h1 class="stripe2">Stripe</h1>
                    <div class="buttonsmallicon-rightsmall5">
                      <div class="button53">Read more about Stripe</div>
                      <div class="disabled-state">
                        <img
                          class="icon164"
                          loading="lazy"
                          alt=""
                          src="./../static/images/icon-30.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="stripe-is-a2">
                Stripe is a technology company that builds economic
                infrastructure for the internet. Businesses of every size—from
                new startups to ../static/images companies—use our software to accept
                payments and manage their businesses online.
              </div>
            </div>
          </div>
          <img
            class="images-icon2"
            loading="lazy"
            alt=""
            src="./../static/images/images1@2x.png"
          />
        </section>
      </main>
    </div>
  </body>
</html>
