<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <link rel="stylesheet" th:href="@{../static/css/global.css}" />
        <link
            rel="stylesheet"
            href="@{../static/css/dashboard-notifications.css}"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap"
        />
    </head>
    <body>
        <div class="dashboard-notifications">
            <div class="side-bar-dashboard-applica6">
                <div class="menu39">
                    <div class="logic-gate3">
                        <div class="logo-215">
                            <div class="array-manager">
                                <img
                                    class="stack-icon"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/frame-38.svg}"
                                />
                            </div>
                            <h3 class="jobhuntly21">JobHuntly</h3>
                        </div>
                    </div>
                    <div class="main-menu6">
                        <div class="menu40">
                            <div class="sidebar-menu48">
                                <div class="filter4">
                                    <img
                                        class="indicator-icon6"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/indicator.svg}"
                                    />
                                </div>
                                <div class="menu41">
                                    <img
                                        class="icon237"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/icon.svg}"
                                    />

                                    <div class="caption328">Dashboard</div>
                                </div>
                            </div>
                            <div class="sidebar-menu49">
                                <div class="variable">
                                    <img
                                        class="icon238"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/icon-117.svg}"
                                    />

                                    <div class="caption329">Messages</div>
                                </div>
                                <div class="badge6">
                                    <div class="container2"></div>
                                    <div class="divider-wrapper2">
                                        <div class="divider15">1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-menu50">
                                <div class="icon239">
                                    <img
                                        class="vector-stroke-icon7"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/vector-stroke.svg}"
                                    />

                                    <div class="output1"></div>
                                    <div class="output2"></div>
                                </div>
                                <div class="caption330">My Applications</div>
                            </div>
                            <div class="sidebar-menu51">
                                <img
                                    class="icon240"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/icon-217.svg}"
                                />

                                <div class="caption331">Find Jobs</div>
                            </div>
                            <div class="sidebar-menu52">
                                <img
                                    class="icon241"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/icon-32.svg}"
                                />

                                <div class="caption332">Browse Companies</div>
                            </div>
                            <div class="sidebar-menu53">
                                <img
                                    class="icon242"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/icon-41.svg}"
                                />

                                <div class="caption333">
                                    My ../static/images Profile
                                </div>
                            </div>
                        </div>
                        <div class="inverter"></div>
                        <div class="settings16">
                            <div class="calculator">
                                <div class="settings17">SETTINGS</div>
                            </div>
                            <div class="menu42">
                                <div class="sidebar-menu54">
                                    <img
                                        class="icon243"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/icon-51.svg}"
                                    />

                                    <div class="caption334">Settings</div>
                                </div>
                                <div class="sidebar-menu55">
                                    <img
                                        class="icon244"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/icon-61.svg}"
                                    />

                                    <div class="caption335">Help Center</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="pattern-icon24" alt="" />

                <div class="profile13">
                    <div class="validator"></div>
                    <div class="integrator">
                        <div class="profile14">
                            <img
                                class="avatar-icon9"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/avatar1@2x.png}"
                            />

                            <div class="name-email6">
                                <div class="trigger">
                                    <div class="jake-gyll10">Jake Gyll</div>
                                </div>
                                <div class="jakegyllemailcom10">
                                    jakegyll@email.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-menu6">
                        <div class="rounded-rectangle7"></div>
                        <div class="frame7">
                            <div class="logout12">
                                <div class="logout13">Logout</div>
                                <img class="icon245" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-dashboard6">
                <div class="time1">
                    <div class="div36">
                        <div class="am4">9:30 AM</div>
                        <div class="child"></div>
                    </div>
                    <div class="div37">
                        <div class="am5">10:00 AM</div>
                        <div class="item"></div>
                    </div>
                    <div class="div38">
                        <div class="am6">10:30 AM</div>
                        <div class="inner"></div>
                    </div>
                    <div class="div39">
                        <div class="am7">11:00 AM</div>
                        <div class="child1"></div>
                    </div>
                </div>
                <div class="schedule1">
                    <div class="schedule-child"></div>
                    <div class="joe-bartmann-group">
                        <div class="joe-bartmann1">Joe Bartmann</div>
                        <div class="hr-manager-at1">HR Manager at Divvy</div>
                    </div>
                    <img
                        class="mask-group-icon2"
                        alt=""
                        th:src="@{./../static/images/mask-group@2x.png}"
                    />
                </div>
                <div class="upcomming-interviews2">
                    <div class="rounded-rectangle8"></div>
                    <div class="today2">
                        <div class="today-26-november-container1">
                            <span class="today3">Today, </span>
                            <span class="november1">26 November</span>
                        </div>
                        <div class="icon-parent32">
                            <img
                                class="icon246"
                                alt=""
                                th:src="@{./../static/images/icon-116.svg}"
                            />

                            <img
                                class="icon247"
                                alt=""
                                th:src="@{./../static/images/icon-123.svg}"
                            />
                        </div>
                    </div>
                    <div class="line24"></div>
                    <div class="upcomming-interviews3">
                        Upcomming Interviews
                    </div>
                </div>
            </div>
            <main class="recorder">
                <section class="top-nav10">
                    <img class="pattern-icon25" alt="" />

                    <div class="writer">
                        <h1 class="dashboard8">Dashboard</h1>
                    </div>
                    <div class="action6">
                        <button class="button69">
                            <b class="caption336">Back to homepage</b>
                        </button>
                        <div class="visualizer">
                            <img
                                class="notification-icon7"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/notification3.svg}"
                            />
                        </div>
                    </div>
                </section>
                <section class="applicant-dashboard-greeting2">
                    <div class="greeting2">
                        <h3 class="good-morning-jake2">Good morning, Jake</h3>
                        <div class="here-is-whats3">
                            Here is what’s happening with your job search
                            applications from July 19 - July 25.
                        </div>
                    </div>
                    <div class="connection-hub1">
                        <div class="dropdown4">
                            <div class="this-is-placeholder22">
                                Jul 19 - Jul 25
                            </div>
                            <input class="frame-input" type="checkbox" />
                        </div>
                    </div>
                </section>
                <div class="card-dashboard7">
                    <div class="icon248">
                        <img
                            class="vector-stroke-icon8"
                            loading="lazy"
                            alt=""
                            th:src="@{./../static/images/vector-stroke-11.svg}"
                        />

                        <div class="icon-child4"></div>
                        <div class="icon-child5"></div>
                    </div>
                    <div class="total-jobs-applied-parent">
                        <div class="total-jobs-applied1">
                            Total Jobs Applied
                        </div>
                        <div class="div40">45</div>
                    </div>
                </div>
                <div class="card-dashboard-wrapper">
                    <div class="card-dashboard8">
                        <div class="interviewed2">Interviewed</div>
                        <div class="parent3">
                            <div class="div41">18</div>
                            <div class="icon-wrapper21">
                                <img
                                    class="icon249"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/icon-118.svg}"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-dashboard9">
                    <div class="jobs-applied-status1">Jobs Applied Status</div>
                    <div class="main-content19">
                        <div class="wrapper-graph1">
                            <img
                                class="graph-icon1"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/graph1.svg}"
                            />
                        </div>
                        <div class="stats-wrapper">
                            <div class="stats1">
                                <div class="div42">
                                    <div class="inner1">
                                        <div class="frame-child114"></div>
                                    </div>
                                    <div class="parent4">
                                        <b class="b1">60%</b>
                                        <div class="unsuitable1">
                                            Unsuitable
                                        </div>
                                    </div>
                                </div>
                                <div class="div43">
                                    <div class="inner2">
                                        <div class="frame-child115"></div>
                                    </div>
                                    <div class="parent5">
                                        <b class="b2">40%</b>
                                        <div class="interviewed3">
                                            Interviewed
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button70">
                        <div class="view-all-applications2">
                            View All Applications
                        </div>
                        <div class="icon-wrapper22">
                            <img
                                class="icon250"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/icon-3.svg}"
                            />
                        </div>
                    </div>
                </div>
                <form class="applicant-dashboard-recent-a1">
                    <div class="base3"></div>
                    <div class="frame-parent30">
                        <input
                            class="frame-child116"
                            placeholder="Recent Applications History"
                            type="text"
                        />

                        <div class="line25"></div>
                    </div>
                    <div class="compressor">
                        <div class="data4">
                            <div class="recent-applications-row3">
                                <div class="title22">
                                    <img
                                        class="company-logo-icon56"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/company-logo7.svg}"
                                    />

                                    <div class="transformer-x">
                                        <div class="job-title48">
                                            <b class="social-media-assistant52"
                                                >Social Media Assistant</b
                                            >
                                            <div
                                                class="company-name-location-job46"
                                            >
                                                <div class="nomad50">Nomad</div>
                                                <div class="tree-builder1">
                                                    <div
                                                        class="loop-structure"
                                                    ></div>
                                                </div>
                                                <div class="paris-france46">
                                                    Paris, France
                                                </div>
                                                <div class="tree-builder2">
                                                    <div
                                                        class="if-statement"
                                                    ></div>
                                                </div>
                                                <div class="full-time12">
                                                    Full-Time
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="date-applied-wrapper1">
                                    <div class="date-applied13">
                                        <div class="date-applied14">
                                            Date Applied
                                        </div>
                                        <div class="july-20218">
                                            24 July 2021
                                        </div>
                                    </div>
                                </div>
                                <div class="expression-tree-wrapper">
                                    <div class="expression-tree">
                                        <div class="label200">
                                            <div class="label-child117"></div>
                                            <input
                                                class="caption337"
                                                placeholder="In Review"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-wrapper23">
                                    <img
                                        class="icon251"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/icon-131.svg}"
                                    />
                                </div>
                            </div>
                            <div class="recent-applications-row4">
                                <div class="title23">
                                    <img
                                        class="company-logo-icon57"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/company-logo-14@2x.png}"
                                    />

                                    <div class="job-title-wrapper3">
                                        <div class="job-title49">
                                            <b class="social-media-assistant53"
                                                >Social Media Assistant</b
                                            >
                                            <div
                                                class="company-name-location-job47"
                                            >
                                                <div class="nomad51">
                                                    Udacity
                                                </div>
                                                <div class="tree-builder3">
                                                    <div
                                                        class="tree-builder-child"
                                                    ></div>
                                                </div>
                                                <div class="paris-france47">
                                                    New York, USA
                                                </div>
                                                <div class="tree-builder4">
                                                    <div
                                                        class="tree-builder-item"
                                                    ></div>
                                                </div>
                                                <div class="full-time13">
                                                    Full-Time
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="date-applied-wrapper2">
                                    <div class="date-applied15">
                                        <div class="date-applied16">
                                            Date Applied
                                        </div>
                                        <div class="july-20219">
                                            23 July 2021
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-applications-row-inner1">
                                    <div class="label-wrapper6">
                                        <button class="label201">
                                            <div class="label-child118"></div>
                                            <div class="caption338">
                                                Shortlisted
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="icon-wrapper24">
                                    <img
                                        class="icon252"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/icon-131.svg}"
                                    />
                                </div>
                            </div>
                            <div class="recent-applications-row5">
                                <div class="title24">
                                    <img
                                        class="company-logo-icon58"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/company-logo-27.svg}"
                                    />

                                    <div class="job-title-wrapper4">
                                        <div class="job-title50">
                                            <b class="social-media-assistant54"
                                                >Social Media Assistant</b
                                            >
                                            <div
                                                class="company-name-location-job48"
                                            >
                                                <div class="nomad52">
                                                    Packer
                                                </div>
                                                <div class="tree-builder5">
                                                    <div
                                                        class="tree-builder-inner"
                                                    ></div>
                                                </div>
                                                <div class="paris-france48">
                                                    Madrid, Spain
                                                </div>
                                                <div class="tree-builder6">
                                                    <div
                                                        class="tree-builder-child1"
                                                    ></div>
                                                </div>
                                                <div class="full-time14">
                                                    Full-Time
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="date-applied-wrapper3">
                                    <div class="date-applied17">
                                        <div class="date-applied18">
                                            Date Applied
                                        </div>
                                        <div class="july-202110">
                                            22 July 2021
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-applications-row-inner2">
                                    <div class="label-wrapper7">
                                        <button class="label202">
                                            <div class="label-child119"></div>
                                            <div class="caption339">
                                                Declined
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="icon-wrapper25">
                                    <img
                                        class="icon253"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/icon-131.svg}"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="relational-operations">
                        <div class="nav3">
                            <div class="view-all-applications3">
                                View all applications history
                            </div>
                            <div class="icon-wrapper26">
                                <img
                                    class="icon254"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/icon-164.svg}"
                                />
                            </div>
                        </div>
                    </footer>
                </form>
                <div class="dashboard-notification-des">
                    <div class="nested-container">
                        <div class="title25">
                            <div class="notifications">Notifications</div>
                            <div class="mark-all-as">Mark all as read</div>
                        </div>
                    </div>
                    <div class="line26"></div>
                    <div class="notifications-wrapper">
                        <div class="notifications1">
                            <div class="div44">
                                <img
                                    class="avatar-icon10"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/avatar-11@2x.png}"
                                />

                                <div class="notification">
                                    <div class="jan-mayer-invited-container">
                                        <span class="jan-mayer"
                                            >Jan Mayer
                                        </span>
                                        <span class="invited-you-to"
                                            >invited you to interview with
                                            Nomad</span
                                        >
                                    </div>
                                    <button class="label203">
                                        <div class="label-child120"></div>
                                        <div class="caption340">New</div>
                                    </button>
                                    <div class="mins-ago">12 mins ago</div>
                                </div>
                            </div>
                            <div class="line27"></div>
                            <div class="div45">
                                <img
                                    class="avatar-icon11"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/avatar-2@2x.png}"
                                />

                                <div class="notification1">
                                    <div class="jana-alicia-from-container">
                                        <span class="jana-alicia"
                                            >Jana Alicia</span
                                        >
                                        <span
                                            class="from-udacity-updated-your-job"
                                        >
                                            <span class="span24"> </span>
                                            <span
                                                >from Udacity updated your job
                                                applications status</span
                                            >
                                        </span>
                                    </div>
                                    <button class="label204">
                                        <div class="label-child121"></div>
                                        <div class="caption341">
                                            Shortlisted
                                        </div>
                                    </button>
                                    <div class="days-ago3">3 days ago</div>
                                </div>
                            </div>
                            <div class="line28"></div>
                            <div class="div46">
                                <img
                                    class="avatar-icon12"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/avatar-3@2x.png}"
                                />

                                <div class="notification2">
                                    <div class="ally-wales-from-container">
                                        <span>
                                            <span class="ally-wales"
                                                >Ally Wales</span
                                            >
                                        </span>
                                        <span
                                            class="from-digital-ocean-sent-you-an"
                                        >
                                            <span> </span>
                                            <span
                                                >from Digital Ocean sent you an
                                                interview invitation</span
                                            >
                                        </span>
                                    </div>
                                    <div class="font-family-picker-parent">
                                        <div class="font-family-picker"></div>
                                        <div class="font-family-picker1"></div>
                                        <div class="character-map-wrapper">
                                            <div class="character-map">
                                                <div class="title26">
                                                    <div class="interview-jake">
                                                        Interview - Jake Gyll
                                                    </div>
                                                    <div
                                                        class="social-media-manager"
                                                    >
                                                        Social Media Manager
                                                        Role
                                                    </div>
                                                </div>
                                                <div class="data-aggregator1">
                                                    <div
                                                        class="condition-splitter1"
                                                    >
                                                        <div class="date1">
                                                            <img
                                                                class="icon255"
                                                                loading="lazy"
                                                                alt=""
                                                                th:src="@{./../static/images/icon-171.svg}"
                                                            />

                                                            <div
                                                                class="content19"
                                                            >
                                                                <div
                                                                    class="date2"
                                                                >
                                                                    Date
                                                                </div>
                                                                <div
                                                                    class="mon-20-july"
                                                                >
                                                                    Mon, 20 July
                                                                    2021
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="date3">
                                                            <img
                                                                class="icon256"
                                                                loading="lazy"
                                                                alt=""
                                                                th:src="@{./../static/images/icon-183.svg}"
                                                            />

                                                            <div
                                                                class="content20"
                                                            >
                                                                <div
                                                                    class="time2"
                                                                >
                                                                    Time
                                                                </div>
                                                                <div
                                                                    class="pm-1230"
                                                                >
                                                                    12 PM -
                                                                    12:30 PM
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="name5">
                                                        <div
                                                            class="data-normalizer2"
                                                        >
                                                            <img
                                                                class="mask-group-icon3"
                                                                loading="lazy"
                                                                alt=""
                                                                th:src="@{./../static/images/mask-group-1@2x.png}"
                                                            />
                                                        </div>
                                                        <div
                                                            class="function-composer"
                                                        >
                                                            <div
                                                                class="jake-gyll11"
                                                            >
                                                                Jake Gyll
                                                            </div>
                                                            <div
                                                                class="jakegyllemailcom11"
                                                            >
                                                                jakegyll@email.com
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="value-validator">
                                        <div class="july-202111">
                                            14 July 2021
                                        </div>
                                        <div class="tree-builder7">
                                            <div
                                                class="iterative-processor"
                                            ></div>
                                        </div>
                                        <div class="pm">3:26 PM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
