<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <link rel="stylesheet" th:href="@{../static/css/global.css}" />
        <link
            rel="stylesheet"
            th:href="@{../static/css/dashboard-settings-login-details.css}"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Clash Display Variable:wght@600&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap"
        />
    </head>
    <body>
        <div class="dashboard-settings-login-de">
            <div class="side-bar-dashboard-applica9">
                <div class="menu51">
                    <div class="logo-2-wrapper1">
                        <div class="logo-218">
                            <div class="logo-2-inner7">
                                <img
                                    class="frame-child118"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/frame-311.svg}"
                                />
                            </div>
                            <h3 class="jobhuntly24">JobHuntly</h3>
                        </div>
                    </div>
                    <div class="main-menu9">
                        <div class="menu52">
                            <div class="sidebar-menu72">
                                <img
                                    class="icon285"
                                    loading="lazy"
                                    alt=""
                                    th:src="@{./../static/images/icon2.svg}"
                                />

                                <div class="caption374">Dashboard</div>
                            </div>
                            <div class="sidebar-menu73">
                                <div class="icon-parent35">
                                    <img
                                        class="icon286"
                                        alt=""
                                        th:src="@{./../static/images/icon-111.svg}"
                                    />

                                    <div class="caption375">Messages</div>
                                </div>
                                <div class="badge9">
                                    <div class="badge-inner"></div>
                                    <div class="tab-menu-wrapper">
                                        <div class="tab-menu17">1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-menu74">
                                <div class="icon287">
                                    <img
                                        class="vector-stroke-icon11"
                                        loading="lazy"
                                        alt=""
                                        th:src="@{./../static/images/vector-stroke.svg}"
                                    />

                                    <div class="icon-child6"></div>
                                    <div class="icon-child7"></div>
                                </div>
                                <div class="caption376">My Applications</div>
                            </div>
                            <div class="sidebar-menu75">
                                <img
                                    class="icon288"
                                    alt=""
                                    th:src="@{./../static/images/icon-210.svg}"
                                />

                                <div class="caption377">Find Jobs</div>
                            </div>
                            <div class="sidebar-menu76">
                                <img
                                    class="icon289"
                                    alt=""
                                    th:src="@{./../static/images/icon-32.svg}"
                                />

                                <div class="caption378">Browse Companies</div>
                            </div>
                            <div class="sidebar-menu77">
                                <img
                                    class="icon290"
                                    alt=""
                                    th:src="@{./../static/images/icon-41.svg}"
                                />

                                <div class="caption379">
                                    My ../static/images Profile
                                </div>
                            </div>
                        </div>
                        <div class="main-menu-child4"></div>
                        <div class="settings22">
                            <div class="settings-wrapper5">
                                <div class="settings23">SETTINGS</div>
                            </div>
                            <div class="menu53">
                                <button class="sidebar-menu78">
                                    <img
                                        class="indicator-icon9"
                                        alt=""
                                        th:src="@{./../static/images/indicator.svg}"
                                    />

                                    <div class="menu54">
                                        <img
                                            class="icon291"
                                            alt=""
                                            th:src="@{./../static/images/icon-52.svg}"
                                        />

                                        <div class="caption380">Settings</div>
                                    </div>
                                </button>
                                <div class="sidebar-menu79">
                                    <img
                                        class="icon292"
                                        alt=""
                                        th:src="@{./../static/images/icon-61.svg}"
                                    />

                                    <div class="caption381">Help Center</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="pattern-icon30" alt="" />

                <div class="profile21">
                    <div class="profile-photo-update"></div>
                    <div class="basic-information-label">
                        <div class="profile22">
                            <img
                                class="avatar-icon15"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/avatar1@2x.png}"
                            />

                            <div class="name-email9">
                                <div class="jake-gyll-wrapper4">
                                    <div class="jake-gyll14">Jake Gyll</div>
                                </div>
                                <div class="jakegyllemailcom14">
                                    jakegyll@email.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-menu9">
                        <div class="rounded-rectangle11"></div>
                        <div class="frame10">
                            <div class="logout18">
                                <div class="logout19">Logout</div>
                                <img class="icon293" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <main class="top-nav-parent2">
                <header class="top-nav13">
                    <img class="pattern-icon31" alt="" />

                    <div class="dashboard-wrapper4">
                        <h1 class="dashboard11">Settings</h1>
                    </div>
                    <div class="action9">
                        <button class="button82">
                            <b class="caption382">Back to homepage</b>
                        </button>
                        <div class="close-account-button">
                            <img
                                class="notification-icon10"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/notification.svg}"
                            />
                        </div>
                    </div>
                </header>
                <div class="tabs-frame">
                    <div class="tabs3">
                        <div class="tab-menu18">
                            <div class="caption383">My Profile</div>
                        </div>
                        <div class="tab-menu19">
                            <div class="caption384">Login Details</div>
                            <img
                                class="rectangle-icon"
                                loading="lazy"
                                alt=""
                                th:src="@{./../static/images/rectangle-1733.svg}"
                            />
                        </div>
                        <div class="tab-menu20">
                            <div class="caption385">Notifications</div>
                        </div>
                        <div class="tab-menu21">
                            <div class="caption386">Notifications</div>
                        </div>
                        <div class="tab-menu22">
                            <div class="caption387">Notifications</div>
                        </div>
                        <div class="tab-menu23">
                            <div class="caption388">Notifications</div>
                        </div>
                    </div>
                </div>
                <form class="applicant-dashboard-login-de">
                    <div class="basic-information4">
                        <div class="basic-information5">Basic Information</div>
                        <div class="this-is-login">
                            This is login information that you can update
                            anytime.
                        </div>
                    </div>
                    <div class="line34"></div>
                    <div class="profile-photo5">
                        <div class="profile-photo6">
                            <div class="update-email">Update Email</div>
                            <div class="update-your-email">
                                Update your email address to make sure it is
                                safe
                            </div>
                        </div>
                        <div class="update-email1">
                            <div class="frame-parent31">
                                <div class="jakegyllemailcom-parent">
                                    <div class="jakegyllemailcom15">
                                        jakegyll@email.com
                                    </div>
                                    <img
                                        class="icon294"
                                        alt=""
                                        th:src="@{./../static/images/icon-89.svg}"
                                    />
                                </div>
                                <div class="your-email-address">
                                    Your email address is verified.
                                </div>
                            </div>
                            <div class="textfield19">
                                <div class="label205">Update Email</div>
                                <div class="input20">
                                    <input
                                        class="this-is-placeholder24"
                                        placeholder="Enter your new email"
                                        type="text"
                                    />
                                </div>
                            </div>
                            <button class="button83">
                                <b class="caption389">Update Email</b>
                            </button>
                        </div>
                    </div>
                    <div class="line35"></div>
                    <div class="personal-details2">
                        <div class="profile-photo7">
                            <div class="new-password">New Password</div>
                            <div class="manage-your-password">
                                Manage your password to make sure it is safe
                            </div>
                        </div>
                        <div class="forms3">
                            <div class="textfield20">
                                <div class="label206">Old Password</div>
                                <div class="input21">
                                    <input
                                        class="this-is-placeholder25"
                                        placeholder="Enter your old password"
                                        type="text"
                                    />
                                </div>
                                <div class="this-is-helper">
                                    Minimum 8 characters
                                </div>
                            </div>
                            <div class="textfield21">
                                <div class="label207">New Password</div>
                                <div class="input22">
                                    <input
                                        class="this-is-placeholder26"
                                        placeholder="Enter your new password"
                                        type="text"
                                    />
                                </div>
                                <div class="this-is-helper1">
                                    Minimum 8 characters
                                </div>
                            </div>
                            <button class="button84">
                                <b class="caption390">Change Password</b>
                            </button>
                        </div>
                    </div>
                    <div class="line36"></div>
                    <div class="close-account">
                        <div class="close-account1">Close Account</div>
                        <div class="icon-wrapper33">
                            <img
                                class="icon295"
                                alt=""
                                th:src="@{./../static/images/icon-96.svg}"
                            />
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </body>
</html>
